<footer class="overflow-hidden">
    <div class="footer bg-black bg-opacity-75 p-5">
        <div class="row footer-container">
            <div class="col-12 col-md-6 col-lg-3">
                <img src=" /images/reza-nut-logo.png" class="footer-logo" alt="">
                <ul class="list-unstyled ul-navbar__links list-fs text-capitalize">
                    <li class="pb-3">
                        <i class="fa fa-location-dot fs-3 opacity-50 ms-3 text-warning"></i>
                        <p class="fs-5 text-white">کرج کمالشهر خ امام میعاد26 سنبل1 </p>
                    </li>
                    <li class="pb-3 ">
                        <i class="fa fa-phone ms-3 d-inline-block text-warning"></i>
                        <p class="text-warning fs-5">3471 7963 (026)</p>
                    </li>

                    <li class="pb-3">
                        <i class="fa fa-envelope  ms-3 text-warning"></i>
                        <a href="#" class="mb-3 text-warning text-decoration-none">KoshkbarReza@Gmail.com
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <span class="d-inline-block mb-5">
                    <i class="fa fa-newspaper fs-1 text-warning" aria-hidden="true">
                        <span class="d-inline-block mx-2 fs-2"> اخرین خبر ها
                        </span>
                    </i>
                </span>
                <!-- news -->
                <a href="" class="newsSection text-decoration-none row">
                    <div class=" col-4 me-3">
                        <img class="newsImage" src=" /images/top-view-nuts-white-table.jpg" alt="">
                    </div>
                    <div class="newsText col-7">
                        <p class="fs-5 ">خصوصیات آجیل و خشکبار چیست و چگونه برای سلامتی مفید است</p>
                        <p class="fs-6 mt-3 ">24 اردیبهشت 1402 <span>- رحمان توکلی</span></p>
                    </div>
                </a>
                <a href="" class="newsSection text-decoration-none mt-3 row">
                    <div class=" col-4 me-3">
                        <img class="newsImage" src=" /images/nuts-and-peanuts-clipart-desing-illustration-free-png.webp"
                            alt="">
                    </div>
                    <div class="newsText col-7">
                        <p class="fs-5 ">بادام زمینی و خواس بی نظیر آن</p>
                        <p class="fs-6 mt-3 ">24 اردیبهشت 1402 <span>- رحمان توکلی</span></p>
                    </div>
                </a>
                <!-- End news -->
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <span class="d-inline-block mb-5">
                    <i class="fa fa-info-circle fs-1 text-warning" aria-hidden="true">
                        <span class="d-inline-block mx-2 fs-2"> لینک های مهم
                        </span>
                    </i>
                </span>
                <ul class="list-unstyled ul-navbar__links list-fs text-capitalize">
                    <li class="pb-3">
                        امام خ میعاد 26 سنبل 1 </p>
                    </li>
                    <li class="pb-3">
                        <i class="fa fa-chevron-left ms-3 text-warning"></i>
                        <a href="#" class="mb-3 text-white text-decoration-none fs-2">انواع خشکبار
                        </a>
                    </li>
                    <li class="pb-3">
                        <i class="fa fa-chevron-left ms-3 text-warning"></i>
                        <a href="#" class="mb-3 text-white text-decoration-none fs-2">آجیل ها
                        </a>
                    </li>
                    <li class="pb-3">
                        <i class="fa fa-chevron-left ms-3 text-warning"></i>
                        <a href="#" class="mb-3 text-white text-decoration-none fs-2">تخفیفات
                        </a>
                    </li>
                    <li class="pb-3">
                        <i class="fa fa-chevron-left ms-3 text-warning"></i>
                        <a href="#" class="mb-3 text-white text-decoration-none fs-2">درباره ما
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <span class="d-inline-block mb-5">
                    <i class="fab fa-instagram fs-1 text-warning" aria-hidden="true">
                        <span class="d-inline-block mx-2 fs-2">Instagram
                        </span>
                    </i>
                </span>
                <div class="row">

                    <a href="" class="col-4 my-2 instagram-footer-app">
                        <img src=" /images/Nuts_Texture_561728_1080x1920.jpg" class="instagram-img" alt="">
                    </a>

                    <a href="" class="col-4 my-2 instagram-footer-app">
                        <img src=" /images/Nuts_Texture_561728_1080x1920.jpg" class="instagram-img" alt="">
                    </a>

                    <a href="" class="col-4 my-2 instagram-footer-app">
                        <img src=" /images/Nuts_Texture_561728_1080x1920.jpg" class="instagram-img" alt="">
                    </a>

                    <a href="" class="col-4 my-2 instagram-footer-app">
                        <img src=" /images/Nuts_Texture_561728_1080x1920.jpg" class="instagram-img" alt="">
                    </a>

                    <a href="" class="col-4 my-2 instagram-footer-app">
                        <img src=" /images/Nuts_Texture_561728_1080x1920.jpg" class="instagram-img" alt="">
                    </a>

                    <a href="" class="col-4 my-2 instagram-footer-app">
                        <img src=" /images/Nuts_Texture_561728_1080x1920.jpg" class="instagram-img" alt="">
                    </a>


                </div>
                <p class="text-white m-4 fs-4">همراه ما باشید!</p>
                <div class="d-flex ">
                    <div class="m-2">
                        <a href="" class="footer-social-media-link "><i class="fab fa-telegram "></i>
                        </a>
                    </div>
                    <div class="m-2">
                        <a href="" class="footer-social-media-link "><i class="fab fa-instagram "></i>
                        </a>
                    </div>
                    <div class="m-2">
                        <a href="" class="footer-social-media-link "><i class="fab fa-whatsapp m-1"></i></a>
                    </div>
                    <div class="m-2">
                        <a href="" class="footer-social-media-link "><i class="fa fa-envelope "></i>
                        </a>
                    </div>
                </div>
            </div>

        </div>
        <div class="footer-underLine"></div>
    </div>
</footer>

