
<div class="lg-md-navbar mt-md-5 mt-0 mx-lg-auto">
    <div class="d-inline-block nav-background" id="navbarNavAltMarkup">
    </div>
    <!-- ls navbar -->
    <div class="navbar-content d-none d-lg-flex">
        <span class=" text-decoration-none p-4 fs-5 mixed-nuts-navLink"> آجیل </span>
        <span class=" text-decoration-none p-4 fs-5 nuts-navLink" > خشکبار</span>
        <span class=" text-decoration-none p-4 fs-5 chocolate-navLink"> شکلات</span>
        <a href="/products/saffaron" class=" text-decoration-none p-4 fs-5"> زعفران</ش>
        <a href="/404" class=" text-decoration-none p-4 fs-5"> تنقلات</ش>
        <a href="/products/aboutUs" class=" text-decoration-none p-4 fs-5"> درباره ما </a>
    </div>
    <section id="mixed-nuts-navbar-link-section">
        <div class="navbar-link-section">
            <!-- mixed nuts -->
            <div class="mixed-nuts__navbar-links mixed-nuts-navbarlinks">
                <div class="d-flex">
                    <div class="m-4">
                        <a href="/products/mixednuts" class="fs-5 navbar__links"> آجیل </a>
                        <div class="navbar-link-divider"></div>
                        <ul class="list-unstyled ul-navbar__links">
                            <li class="mt-2 fs-6">
                                <a href="/products/mixednuts#product-btn-1" class="navbar__links"> آجیل مفز </a>
                            </li>
                            <li class="mt-2 fs-6">
                                <a href="/products/mixednuts#product-btn-2" class="navbar__links"> آجیل تخمه دار </a>
                            </li>
                        </ul>
                        <a href="/products/pistachio" class="fs-5 navbar__links"> پسته </a>
                        <div class="navbar-link-divider"></div>
                        <ul class="list-unstyled ul-navbar__links">
                            <li class="mt-2 fs-6">
                                <a href="/products/pistachio#product-btn-1" class="navbar__links"> پسته اکبری </a>
                            </li>
                            <li class="mt-2 fs-6">
                                <a href="/products/pistachio#product-btn-2" class="navbar__links"> پسته احمد اقایی </a>
                            </li>
                            <li class="mt-2 fs-6">
                                <a href="/products/pistachio#product-btn-3" class="navbar__links"> پسته کله قوچی </a>
                            </li>
                            <li class="mt-2 fs-6">
                                <a href="/products/pistachio#product-btn-4" class="navbar__links"> پسته فندوقی </a>
                            </li>
                            <li class="mt-2 fs-6">
                                <a href="/products/pistachio#product-btn-5" class="navbar__links"> مغز پسته </a>
                            </li>
                            <li class="mt-2 fs-6">
                                <a href="/products/pistachio#product-btn-6" class="navbar__links"> خلال پسته </a>
                            </li>
                        </ul>
                        <a href="/products/walnuts" class="fs-5 navbar__links"> انواع گردو </a>
                        <div class="navbar-link-divider"></div>
                        <ul class="list-unstyled ul-navbar__links">
                            <li class="mt-2 fs-6">
                                <a href="/products/walnuts#product-btn-1" class="navbar__links"> مغز گردو </a>
                            </li>
                            <li class="mt-2 fs-6">
                                <a href="/products/walnuts#product-btn-2" class="navbar__links"> گردو با پوست </a>
                            </li>

                        </ul>
                    </div>
                    <div class="m-4">
                        <a href="/products/seeds" class="fs-5 navbar__links"> انواع تخمه </a>
                        <div class="navbar-link-divider"></div>
                        <ul class="list-unstyled ul-navbar__links">
                            <li class="mt-2 fs-6">
                                <a href="/products/seeds#product-btn-1" class="navbar__links"> تخمه آفتاب گردان </a>
                            </li>
                            <li class="mt-2 fs-6">
                                <a href="/products/seeds#product-btn-2" class="navbar__links"> تخمه جابنی </a>
                            </li>
                            <li class="mt-2 fs-6">
                                <a href="/products/seeds#product-btn-3" class="navbar__links"> تخمه هندوانه </a>
                            </li>
                            <li class="mt-2 fs-6">
                                <a href="/products/seeds#product-btn-4" class="navbar__links"> تخمه کدو </a>
                            </li>
                            <li class="mt-2 fs-6">
                                <a href="/products/seeds#product-btn-5" class="navbar__links"> مغز تخمه </a>
                            </li>
                        </ul>
                        <a href="/products/hazelnuts" class="fs-5 navbar__links"> انواع فندوق </a>
                        <div class="navbar-link-divider"></div>
                        <ul class="list-unstyled ul-navbar__links">
                            <li class="mt-2 fs-6">
                                <a href="/products/hazelnuts#product-btn-1" class="navbar__links"> مغز فندوق </a>
                            </li>
                            <li class="mt-2 fs-6">
                                <a href="/products/hazelnuts#product-btn-2" class="navbar__links"> فندوق با پوست </a>
                            </li>

                        </ul>
                        <a href="/products/almonds" class="fs-5 navbar__links"> انواع بادام </a>
                        <div class="navbar-link-divider"></div>
                        <ul class="list-unstyled ul-navbar__links">
                            <li class="mt-2 fs-6">
                                <a href="/products/almonds#product-btn-2" class="navbar__links"> مغز بادام درختی </a>
                            </li>
                            <li class="mt-2 fs-6">
                                <a href="/products/almonds#product-btn-3" class="navbar__links"> بادام درختی با پوست
                                    کاغذی(منقا) </a>
                            </li>
                            <li class="mt-2 fs-6">
                                <a href="/products/almonds#product-btn-4" class="navbar__links"> بادام درختی با پوست </a>
                            </li>
                            <li class="mt-2 fs-6">
                                <a href="/products/almonds#product-btn-5" class="navbar__links"> بادام زمینی آستانه </a>
                            </li>
                            <li class="mt-2 fs-6">
                                <a href="/products/almonds#product-btn-1" class="navbar__links"> بادام هندی </a>
                            </li>
                        </ul>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="nuts-navbar-link-section">
        <div class="navbar-link-section">
            <!-- nuts -->
            <div class="nuts__navbar-links nuts-navbarlinks p-4">
                <div>
                    <a href="/products/raissins" class="fs-5  navbar__links"> کشمش و مویز</a>
                    <div class="navbar-link-divider mb-4"></div>
                    <a href="/products/chickpeas" class="fs-5  navbar__links"> نخودچی</a>
                    <div class="navbar-link-divider mb-4"></div>
                    <a href="/products/figsMulberry#product-btn-1" class="fs-5 navbar__links"> انجیر خشک </a>
                    <div class="navbar-link-divider mb-4"></div>
                    <a href="/products/figsMulberry#product-btn-2" class="fs-5 navbar__links"> توت خشک </a>
                    <div class="navbar-link-divider mb-4"></div>
                    <a href="/products/plums" class="fs-5 navbar__links"> آلو ها </a>
                    <div class="navbar-link-divider mb-4"></div>
                    <a href="/products/dryFruits" class="fs-5 navbar__links"> میوه های خشک</a>
                    <div class="navbar-link-divider mb-4"></div>
                    <a href="/products/dates" class="fs-5 navbar__links "> خرما </a>
                    <div class="navbar-link-divider mb-4"></div>
                    <ul class="list-unstyled ul-navbar__links">
                        <li class="mt-2 fs-6">
                            <a href="/products/dates#product-btn-1" class="navbar__links"> خرما پیارم </a>
                        </li>
                        <li class="mt-2 fs-6">
                            <a href="/products/dates#product-btn-2" class="navbar__links"> خرما زاهدی </a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </section>
    <section id="chocolate-navbar-link-section">
        <div class="navbar-link-section">
            <!-- chocolate -->
            <div class="chocolate__navbar-links chocolate-navbarlinks p-4">
                <div>
                    <a href="/products/chocolate#product-btn-1" class="fs-5  navbar__links"> شکلات کاکائویی تلخ</a>
                    <div class="navbar-link-divider mb-4"></div>
                    <a href="/products/chocolate#product-btn-2" class="fs-5 navbar__links"> شکلات کاکائویی شیرین</a>
                    <div class="navbar-link-divider mb-4"></div>
                    <a href="/products/chocolate#product-btn-3" class="fs-5 navbar__links"> تافی و آبنباتی </a>
                    <div class="navbar-link-divider mb-4"></div>
                    <a href="/products/chocolate#product-btn-4" class="fs-5 navbar__links"> شکلات پشمکی </a>
                    <div class="navbar-link-divider mb-4"></div>
                    <a href="/404" class="fs-5 navbar__links"> کادوئی </a>
                    <div class="navbar-link-divider mb-4"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- End ls navbar -->
    <!-- sm navbar -->
    <div class="d-lg-none smNavbar">
        <header class="mt-3 me-5">
            <nav id="cd-top-nav">
            </nav>
            <a id="cd-menu-trigger" href="#0"><span class="cd-menu-text p-3"></span><span
                    class="cd-menu-icon "></span></a>
        </header>
        <nav id="cd-lateral-nav">
            <img src="/images/reza-nut-logo.png" class="smNavbar-logo" alt="">
            <ul class="cd-navigation">
                <li class="item-has-children">
                    <a href="#0">آجیل</a>
                    <ul class="sub-menu">
                        <li class="item-has-children">
                            <a href="/products/mixednuts">آجیل مخلوط</a>
                            <ul class="sub-menu">
                                <li><a href="/products/mixednuts#product-btn-1" > آجیل های مغز</a></li>
                                <li><a href="/products/mixednuts#product-btn-2" > آجیل های تخمه دار </a></li>
                            </ul>
                        </li>
                        <li class="item-has-children">
                            <a href="/products/pistachio"> انواع پسته </a>
                            <ul class="sub-menu">
                                <li><a href="/products/pistachio#product-btn-1"> پسته اکبری </a></li>
                                <li><a href="/products/pistachio#product-btn-2"> پسته احمد آقایی </a></li>
                                <li><a href="/products/pistachio#product-btn-3"> پسته کله قوچی </a></li>
                                <li><a href="/products/pistachio#product-btn-4"> پسته فندوقی </a></li>
                                <li><a href="/products/pistachio#product-btn-5"> مغز پسته </a></li>
                                <li><a href="/products/pistachio#product-btn-6"> خلال پسته </a></li>
                            </ul>
                        </li>
                        <li class="item-has-children">
                            <a href="/products/almonds"> انواع بادام </a>
                            <ul class="sub-menu">
                                <li><a href="/products/almonds#product-btn-1"> بادام هندی </a></li>
                                <li><a href="/products/almonds#product-btn-2"> مغز بادام درختی </a></li>
                                <li><a href="/products/almonds#product-btn-3"> بادام درختی با پوست کاغذی(منقا)</a></li>
                                <li><a href="/products/almonds#product-btn-4"> بادام درختی با پوست</a></li>
                                <li><a href="/products/almonds#product-btn-5"> بادام زمینی آستانه </a></li>
                            </ul>
                        </li>
                        <li class="item-has-children">
                            <a href="/products/seeds"> انواع تخمه </a>
                            <ul class="sub-menu">
                                <li><a href="/products/seeds#product-btn-1"> تخمه آفتاب گردان </a></li>
                                <li><a href="/products/seeds#product-btn-2"> تخمه جابنی </a></li>
                                <li><a href="/products/seeds#product-btn-3"> تخمه هندوانه </a></li>
                                <li><a href="/products/seeds#product-btn-4"> تخمه کدو </a></li>
                                <li><a href="/products/seeds#product-btn-5"> مغز تخمه </a></li>
                            </ul>
                        </li>
                        <li class="item-has-children">
                            <a href="/products/hazelnuts"> فندوق </a>
                            <ul class="sub-menu">
                                <li><a href="/products/hazelnuts#product-btn-1"> مغز فندوق</a></li>
                                <li><a href="/products/hazelnuts#product-btn-2"> فندوق با پوست</a></li>
                            </ul>
                        </li>
                        <li class="item-has-children">
                            <a href="/products/walnuts"> گردو </a>
                            <ul class="sub-menu">
                                <li><a href="/products/walnuts#product-btn-1"> مغز گردو</a></li>
                                <li><a href="/products/walnuts#product-btn-2"> کردو با پوست</a></li>
                            </ul>
                        </li>
                    </ul>
                </li> <!-- item-has-children -->

                <li class="item-has-children">
                    <a href="#0"> خشکبار </a>
                    <ul class="sub-menu">
                        <li><a href="/products/raissins"> کشمش و مویز </a></li>
                        <li><a href="/products/figsMulberry#product-btn-1"> انجیر خشک </a></li>
                        <li><a href="/products/figsMulberry#product-btn-2"> توت خشک </a></li>
                        <li><a href="/products/plums"> آلوها </a></li>
                        <li class="item-has-children">
                            <a href="/products/dates"> خرما </a>
                            <ul class="sub-menu">
                                <li><a href="/products/dates#product-btn-1"> خرما پیارم </a></li>
                                <li><a href="/products/dates#product-btn-2"> خرما زاهدی </a></li>
                            </ul>
                        </li>

                    </ul>
                </li> <!-- item-has-children -->

                <li class="item-has-children">
                    <a href="/products/chocolate">شکلات</a>
                    <ul class="sub-menu">
                        <li><a href="/products/chocolate#product-btn-1"> شکلات کاکائویی تلخ </a></li>
                        <li><a href="/products/chocolate#product-btn-2"> شکلات کاکائویی شیرین </a></li>
                        <li><a href="/products/chocolate#product-btn-3"> تافی و آبنباتی </a></li>
                        <li><a href="/products/chocolate#pro duct-btn-4"> شکلات پشمکی </a></li>
                        <li><a href="/404"> کادوئی </a></li>
                    </ul>
                </li> <!-- item-has-children -->
            </ul> <!-- cd-navigation -->

            <ul class="cd-navigation cd-single-item-wrapper">
                <li><a href="/products/saffaron"> زعفران </a></li>
                <li><a href="/products/dryFruits"> میوه های خشک </a></li>
                <li><a href="/404">تنقلات</a></li>
            </ul> <!-- cd-single-item-wrapper -->

            <ul class="cd-navigation cd-single-item-wrapper">
                <li><a class="current" href="/blogs">خبر نامه</a></li>
                <li><a href="#aboutUs">درباره ما</a></li>
            </ul> <!-- cd-single-item-wrapper -->
            <p class="fs-4 text-end">!با ما همراه باشید</p>
            <div class="d-flex ">
                <div  >
                    <a href="https://t.me/I_love_karbala" class="smNavbar-social-media-link "><i class="fab fa-telegram "></i>
                    </a>
                </div>
                <div  >
                    <a href="https://instagram.com/khoshkbar_reza98?igshid=OGQ5ZDc2ODk2ZA==" class="smNavbar-social-media-link "><i class="fab fa-instagram "></i>
                    </a>
                </div>
                <div  >
                    <a href="https://wa.me/qr/C6QOYJ6N6XYGM1" class="smNavbar-social-media-link "><i
                            class="fab fa-whatsapp m-1"></i></a>
                </div>
                <div>
                    <a href="mailto:rahmanxrf@gmail.com" class="smNavbar-social-media-link "><i class="fa fa-envelope "></i>
                    </a>
                </div>
            </div>
        </nav>
    </div>
    <!--end sm navbar -->
</div>
<!-- End Header -->