   <!-- fixed button -->
   <div class="d-block d-lg-none overflow-hidden">
       <div class="ball fixed-bottom">
           <a href="#"><i class="fs-2 fab fa-telegram first "></i></a>
           <a href="#"><i class="fs-2 fab fa-whatsapp second"></i></a>
           <a href="#"><i class="fs-2 fa fa-phone third"></i></a>
           <?xml version="1.0" encoding="utf-8"?>
           <svg style="color: white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
               <path
                   d="M256 32C112.9 32 4.563 151.1 0 288v104C0 405.3 10.75 416 23.1 416S48 405.3 48 392V288c0-114.7 93.34-207.8 208-207.8C370.7 80.2 464 173.3 464 288v104C464 405.3 474.7 416 488 416S512 405.3 512 392V287.1C507.4 151.1 399.1 32 256 32zM160 288L144 288c-35.34 0-64 28.7-64 64.13v63.75C80 451.3 108.7 480 144 480L160 480c17.66 0 32-14.34 32-32.05v-127.9C192 302.3 177.7 288 160 288zM368 288L352 288c-17.66 0-32 14.32-32 32.04v127.9c0 17.7 14.34 32.05 32 32.05L368 480c35.34 0 64-28.7 64-64.13v-63.75C432 316.7 403.3 288 368 288z"
                   fill="white"></path>
           </svg>
       </div>
   </div>
   <div class="floating-container d-none d-lg-block">
       <div class="floating-button"><i class="fa fa-headset "></i></div>
       <div class="element-container">

           <a href="google.com"> <span class="float-element tooltip-left">
                   <i class="material-icons fs-2 fab fa-telegram mb-1">
                   </i></a>
           </span>
           <span class="float-element">
               <a href="" class="text-decoration-none text-white">
                   <i class="material-icons fs-2 fab fa-whatsapp"></i>
               </a>
           </span>
           <span class="float-element">
               <a href="" class="text-decoration-none text-white">
                   <i class="fa fa-phone fs-4 mt-3"></i>
               </a>
           </span>
       </div>
   </div>
   <!-- End fixed button -->
   <!-- Header -->
   <section class="hero overflow-hidden">
       <div class="navbar-space">
           <!-- search box -->
           <div class="search-box position-relative">;
               <div>
                   <input type="text" class="form-control search-box-input position-absolute" placeholder="... جستجو">
               </div>
           </div>
           <nav class="navbar navbar-expand-lg d-flex justify-content-end ">
               <div>
                   <!-- shopping card and login & sign up -->
                   <div class="shopingCard d-flex mt-5 mt-sm-4">
                       <a href="" class="text-black my-auto">
                           <i class='fa fa-shopping-cart blue-color fs-5'>
                           </i>
                           <span
                               class="position-absolute top-30 start-10 translate-middle badge shopping-cart-badge rounded-pill bg-danger">
                               4
                           </span>
                       </a>

                       <div class="divider-line mx-4"></div>
                       <!-- login & Register -->
                       <a href="" class="d-flex text-decoration-none text-black login-link d-none">
                           <p> ورود </p>
                           <div class="divider-line"></div>
                           <p> ثبت نام</p>
                           <i class='fa fa-sign-in fs-5 ms-2'></i>
                       </a>
                       <!-- End login & Register -->
                       <!-- user circle icon -->
                       <span class="userProfile ">
                           <span>
                               <i class="fas fa-user-circle text-black fs-4"></i>
                           </span>

                           <div class="body" dir="rtl">
                               <ul class="user-Profile-link">
                                   <li><a href="" class="user-dropdown-menu"><i
                                               class="fas fa-sign icon ms-3 "></i>پروفایل
                                       </a>
                                   </li>
                                   <li><a href="" class="user-dropdown-menu"><i class="fas fa-bar-chart ms-3 icon"></i>
                                           آمار
                                       </a>
                                   </li>
                                   <li><a href="" class="user-dropdown-menu"><i class="fas fa-boxes ms-3 icon"></i>
                                           ویجت ها</a></li>
                                   <li><a href="" class="user-dropdown-menu"><i class="fas fa-table ms-3 icon"></i>جداول
                                       </a>
                                   </li>
                                   <li><a href="" class="user-dropdown-menu"><i class="fa fa-cogs ms-3 icon"></i>
                                           تنظیمات
                                       </a>
                                   </li>
                                   <li><a href="" class="user-dropdown-menu"><i class="fas fa-sign-out  ms-3 icon"></i>
                                           خروج
                                       </a>
                                   </li>
                               </ul>
                           </div>
                       </span>
                       <!-- End user circle icon -->
                   </div>
                   <!-- logo -->
                   <div class="hero-logo d-none d-lg-block">
                       <a href="">
                           <img src=" /images/reza-nut-logo.png" style="width:100px; height: 100px;" alt="">
                       </a>
                   </div>
               </div>
               <div class="lg-md-navbar mt-md-5 mt-0 mx-lg-auto">
                   <div class="d-inline-block nav-background" id="navbarNavAltMarkup">
                   </div>
                   <!-- ls navbar -->
                   <div class="navbar-content d-none d-lg-flex">
                       <a class=" text-decoration-none p-4 fs-5 mixed-nuts-navLink" href="#"> آجیل </a>
                       <a class=" text-decoration-none p-4 fs-5 nuts-navLink" href="Crew.html"> خشکبار</a>
                       <a class=" text-decoration-none p-4 fs-5 chocolate-navLink" href="#"> شکلات</a>
                       <a class=" text-decoration-none p-4 fs-5" href="#"> زعفران</a>
                       <a class=" text-decoration-none p-4 fs-5" href="#"> تنقلات</a>
                       <a class=" text-decoration-none p-4 fs-5" href="#"> درباره ما </a>
                   </div>
                   <section id="mixed-nuts-navbar-link-section">
                       <div class="navbar-link-section">
                           <!-- mixed nuts -->
                           <div class="mixed-nuts__navbar-links mixed-nuts-navbarlinks">
                               <div class="d-flex">
                                   <div class="m-4">
                                       <a href="" class="fs-5 navbar__links"> آجیل </a>
                                       <div class="navbar-link-divider"></div>
                                       <ul class="list-unstyled ul-navbar__links">
                                           <li class="mt-2 fs-6">
                                               <a href="" class="navbar__links"> آجیل مفز </a>
                                           </li>
                                           <li class="mt-2 fs-6">
                                               <a href="" class="navbar__links"> آجیل تخمه دار </a>
                                           </li>
                                       </ul>
                                       <a href="" class="fs-5 navbar__links"> پسته </a>
                                       <div class="navbar-link-divider"></div>
                                       <ul class="list-unstyled ul-navbar__links">
                                           <li class="mt-2 fs-6">
                                               <a href="" class="navbar__links"> پسته اکبری </a>
                                           </li>
                                           <li class="mt-2 fs-6">
                                               <a href="" class="navbar__links"> پسته احمد اقایی </a>
                                           </li>
                                           <li class="mt-2 fs-6">
                                               <a href="" class="navbar__links"> پسته کله قوچی </a>
                                           </li>
                                           <li class="mt-2 fs-6">
                                               <a href="" class="navbar__links"> پسته فندوقی </a>
                                           </li>
                                           <li class="mt-2 fs-6">
                                               <a href="" class="navbar__links"> مغز پسته </a>
                                           </li>
                                       </ul>
                                       <a href="" class="fs-5 navbar__links"> بادام درختی </a>
                                       <div class="navbar-link-divider"></div>
                                       <ul class="list-unstyled ul-navbar__links">
                                           <li class="mt-2 fs-6">
                                               <a href="" class="navbar__links"> مغز بادام درختی </a>
                                           </li>
                                           <li class="mt-2 fs-6">
                                               <a href="" class="navbar__links"> بادام درختی با پوست کاغذی(منقا) </a>
                                           </li>
                                           <li class="mt-2 fs-6">
                                               <a href="" class="navbar__links"> بادام درختی با پوست </a>
                                           </li>
                                       </ul>
                                   </div>
                                   <div class="m-4">
                                       <a href="" class="fs-5 navbar__links"> انواع تخمه </a>
                                       <div class="navbar-link-divider"></div>
                                       <ul class="list-unstyled ul-navbar__links">
                                           <li class="mt-2 fs-6">
                                               <a href="" class="navbar__links"> تخمه آفتاب گردان </a>
                                           </li>
                                           <li class="mt-2 fs-6">
                                               <a href="" class="navbar__links"> تخمه جابنی </a>
                                           </li>
                                           <li class="mt-2 fs-6">
                                               <a href="" class="navbar__links"> تخمه هندوانه </a>
                                           </li>
                                           <li class="mt-2 fs-6">
                                               <a href="" class="navbar__links"> تخمه کدو </a>
                                           </li>
                                           <li class="mt-2 fs-6">
                                               <a href="" class="navbar__links"> مغز تخمه </a>
                                           </li>
                                       </ul>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </section>
                   <section id="nuts-navbar-link-section">
                       <div class="navbar-link-section">
                           <!-- nuts -->
                           <div class="nuts__navbar-links nuts-navbarlinks p-4">
                               <div>
                                   <a href="" class="fs-5  navbar__links"> کشمش </a>
                                   <div class="navbar-link-divider mb-4"></div>
                                   <a href="" class="fs-5 navbar__links"> انجیر خشک </a>
                                   <div class="navbar-link-divider mb-4"></div>
                                   <a href="" class="fs-5 navbar__links"> توت خشک </a>
                                   <div class="navbar-link-divider mb-4"></div>
                                   <a href="" class="fs-5 navbar__links"> آلو ها </a>
                                   <div class="navbar-link-divider mb-4"></div>
                                   <a href="" class="fs-5 navbar__links"> برگه ها </a>
                                   <div class="navbar-link-divider mb-4"></div>
                                   <a href="" class="fs-5 navbar__links"> خرما </a>
                                   <div class="navbar-link-divider mb-4"></div>
                                   <a href="" class="fs-5 navbar__links"> میوه ها خشک</a>
                                   <div class="navbar-link-divider mb-4"></div>
                                   <ul class="list-unstyled ul-navbar__links">
                                       <li class="mt-2 fs-6">
                                           <a href="" class="navbar__links"> خرما زاهدی </a>
                                       </li>
                                       <li class="mt-2 fs-6">
                                           <a href="" class="navbar__links"> خرما پیارم </a>
                                       </li>
                                   </ul>

                               </div>
                           </div>
                       </div>
                   </section>
                   <section id="chocolate-navbar-link-section">
                       <div class="navbar-link-section">
                           <!-- chocolate -->
                           <div class="chocolate__navbar-links chocolate-navbarlinks p-4">
                               <div>
                                   <a href="" class="fs-5  navbar__links"> شکلات کاکائویی تلخ</a>
                                   <div class="navbar-link-divider mb-4"></div>
                                   <a href="" class="fs-5 navbar__links"> شکلات کاکائویی شیرین</a>
                                   <div class="navbar-link-divider mb-4"></div>
                                   <a href="" class="fs-5 navbar__links"> تافی و آبنباتی </a>
                                   <div class="navbar-link-divider mb-4"></div>
                                   <a href="" class="fs-5 navbar__links"> آلو ها </a>
                                   <div class="navbar-link-divider mb-4"></div>
                                   <a href="" class="fs-5 navbar__links"> شکلات پشمکی </a>
                                   <div class="navbar-link-divider mb-4"></div>
                                   <a href="" class="fs-5 navbar__links"> کادوئی </a>
                                   <div class="navbar-link-divider mb-4"></div>
                               </div>
                           </div>
                       </div>
                   </section>
                   <!-- End ls navbar -->
                   <!-- sm navbar -->
                   <div class="d-lg-none smNavbar">
                       <header class="mt-3 me-5">
                           <nav id="cd-top-nav">
                           </nav>
                           <a id="cd-menu-trigger" href="#0"><span class="cd-menu-text p-3"></span><span
                                   class="cd-menu-icon "></span></a>
                       </header>
                       <nav id="cd-lateral-nav">
                           <img src=" /images/reza-nut-logo.png" class="smNavbar-logo" alt="">
                           <ul class="cd-navigation">
                               <li class="item-has-children">
                                   <a href="#0">آجیل</a>
                                   <ul class="sub-menu">
                                       <li class="item-has-children">
                                           <a href="#0">آجیل مخلوط</a>
                                           <ul class="sub-menu">
                                               <li><a href="#0"> آجیل های تخمه دار </a></li>
                                               <li><a href="#0"> آجیل های مغز</a></li>
                                           </ul>
                                       </li>
                                       <li class="item-has-children">
                                           <a href="#0"> انواع پسته </a>
                                           <ul class="sub-menu">
                                               <li><a href="#0"> پسته اکبری </a></li>
                                               <li><a href="#0"> پسته احمد آقایی </a></li>
                                               <li><a href="#0"> پسته کله قوچی </a></li>
                                               <li><a href="#0"> پسته فندوقی </a></li>
                                               <li><a href="#0"> مغز پسته </a></li>
                                           </ul>
                                       </li>
                                       <li class="item-has-children">
                                           <a href="#0"> بادام درختی </a>
                                           <ul class="sub-menu">
                                               <li><a href="#0"> مغز بادام درختی </a></li>
                                               <li><a href="#0"> بادام درختی با پوست کاغذی(منقا)</a></li>
                                               <li><a href="#0"> بادام درختی با پوست</a></li>
                                           </ul>
                                       </li>
                                       <li class="item-has-children">
                                           <a href="#0"> انواع تخمه </a>
                                           <ul class="sub-menu">
                                               <li><a href="#0"> تخمه آفتاب گردان </a></li>
                                               <li><a href="#0"> تخمه جابنی </a></li>
                                               <li><a href="#0"> تخمه هندوانه </a></li>
                                               <li><a href="#0"> تخمه کدو </a></li>
                                               <li><a href="#0"> مغز تخمه </a></li>
                                           </ul>
                                       </li>
                                       <li class="item-has-children">
                                           <a href="#0"> فندوق </a>
                                           <ul class="sub-menu">
                                               <li><a href="#0"> فندوق با پوست</a></li>
                                               <li><a href="#0"> مغز فندوق</a></li>
                                           </ul>
                                       </li>
                                       <li class="item-has-children">
                                           <a href="#0"> گردو </a>
                                           <ul class="sub-menu">
                                               <li><a href="#0"> کردو با پوست</a></li>
                                               <li><a href="#0"> مغز گردو</a></li>
                                           </ul>
                                       </li>
                                   </ul>
                               </li> <!-- item-has-children -->

                               <li class="item-has-children">
                                   <a href="#0"> خشکبار </a>
                                   <ul class="sub-menu">
                                       <li><a href="#0"> کشمش </a></li>
                                       <li><a href="#0"> انجیر خشک </a></li>
                                       <li><a href="#0"> توت </a></li>
                                       <li><a href="#0"> آلوها </a></li>
                                       <li><a href="#0"> برگه ها </a></li>
                                       <li class="item-has-children">
                                           <a href="#0"> خرما </a>
                                           <ul class="sub-menu">
                                               <li><a href="#0"> خرما پیارم </a></li>
                                               <li><a href="#0"> خرما زاهدی </a></li>
                                           </ul>
                                       </li>

                                   </ul>
                               </li> <!-- item-has-children -->

                               <li class="item-has-children">
                                   <a href="#0">شکلات</a>
                                   <ul class="sub-menu">
                                       <li><a href="#0"> شکلات کاکائویی تلخ </a></li>
                                       <li><a href="#0"> شکلات کاکائویی شیرین </a></li>
                                       <li><a href="#0"> تافی و آبنباتی </a></li>
                                       <li><a href="#0"> شکلات پشمکی </a></li>
                                       <li><a href="#0"> کادوئی </a></li>
                                   </ul>
                               </li> <!-- item-has-children -->
                           </ul> <!-- cd-navigation -->

                           <ul class="cd-navigation cd-single-item-wrapper">
                               <li><a href="#0"> بسته های کادوئی </a></li>
                               <li><a href="#0"> زعفران </a></li>
                               <li><a href="#0"> میوه های خشک </a></li>
                               <li><a href="#0">پاستیل</a></li>
                           </ul> <!-- cd-single-item-wrapper -->

                           <ul class="cd-navigation cd-single-item-wrapper">
                               <li><a class="current" href="#0">خبر نامه</a></li>
                               <li><a href="#0">درباره ما</a></li>
                           </ul> <!-- cd-single-item-wrapper -->
                           <p class="fs-4 text-end">!با ما همراه باشید</p>
                           <div class="d-flex ">
                               <div class="">
                                   <a href="" class="smNavbar-social-media-link "><i class="fab fa-telegram "></i>
                                   </a>
                               </div>
                               <div class="">
                                   <a href="" class="smNavbar-social-media-link "><i class="fab fa-instagram "></i>
                                   </a>
                               </div>
                               <div class="">
                                   <a href="" class="smNavbar-social-media-link "><i
                                           class="fab fa-whatsapp m-1"></i></a>
                               </div>
                               <div class="">
                                   <a href="" class="smNavbar-social-media-link "><i class="fa fa-envelope "></i>
                                   </a>
                               </div>
                           </div>
                       </nav>
                   </div>
                   <!--end sm navbar -->
               </div>
           </nav>
       </div>
       <div class="row">
           <div class="col-lg-6" data-aos="fade-up" data-aos-delay="20">
               <div class="d-flex header-content">
                   <div class="header-text-content  m-5">
                       <p class="hero-text-L1 text-uppercase text-white opacity-75">مرکز بخش خشکبار رضا - از تولید به
                           مصرف</p>
                       <br>
                       <p class="hero-text-L1 text-uppercase text-white opacity-75"> به صورت عمده و خرده</p>
                       <h1 class="text-white space-title">خشکبار رضا</h1>
                   </div>
               </div>
           </div>
       </div>
       <div class="swipeDownbtn con-tooltip top">
           <div class="tooltip fs-5">
               <p>محصولات ما</p>
           </div>
           <a href="#product">
               <div class="indicator">
                   <span></span>
                   <span></span>
                   <span></span>
                   <span></span>
                   <span></span>
               </div>
           </a>
       </div>
   </section>
   <!-- End Header -->