<% if(typeof errors != 'undefined') {%> <% errors.forEach(function(error) { %>

    <div class="d-flex justify-content-between alert alert-warning alert-dismissible fade show">
        <div class=" " role="alert">
            <%= error.message %>
        </div>
        <div class="d-flex justify-content-start">
            <a type="button" class="close text-decoration-none fs-4" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </a>
        </div>
    </div>

<% }) %> <% } %>



