<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>خشکبار رضا</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="fontawesome/css/all.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/grid.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/media-queries.css">
    <link rel="stylesheet" href="css/aos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
</head>

<body id="body">
    
    <%- include("./includes/fixedButton.ejs") %>

    <!-- Hero -->
    <section class="aboutUs-page-hero">
        <div class="navbar-space">
            <!-- search box DESPLAY-NONE-->
            <div class="search-box position-relative d-none">;
                <div>
                    <input type="text" class="form-control search-box-input position-absolute" placeholder="... جستجو">
                </div>
            </div>
            <nav class="navbar navbar-expand-lg d-flex justify-content-end ">
                <div>
                    <!-- shopping card and login & sign up DESPLAY-NONE  -->
                    <div class="shopingCard d-flex mt-5 d-none">
                        <a href="" class="text-black my-auto">
                            <i class='fa fa-shopping-cart blue-color fs-5'>
                            </i>
                            <span
                                class="position-absolute top-30 start-10 translate-middle badge shopping-cart-badge rounded-pill bg-danger">
                                4
                            </span>
                        </a>

                        <div class="divider-line mx-4"></div>
                        <!-- login & Register -->
                        <a href="" class="d-flex text-decoration-none text-black login-link">
                            <p> ورود </p>
                            <div class="divider-line"></div>
                            <p> ثبت نام</p>
                            <i class='fa fa-sign-in fs-5 ms-2'></i>
                        </a>
                        <!-- End login & Register -->
                        <!-- user circle icon -->
                        <span class="userProfile  d-none">
                            <span>
                                <i class="fas fa-user-circle text-black fs-4"></i>
                            </span>

                            <div class="body" dir="rtl">
                                <ul class="user-Profile-link">
                                    <li><a href="" class="user-dropdown-menu"><i
                                                class="fas fa-sign icon ms-3 "></i>پروفایل
                                        </a>
                                    </li>
                                    <li><a href="" class="user-dropdown-menu"><i class="fas fa-bar-chart ms-3 icon"></i>
                                            آمار
                                        </a>
                                    </li>
                                    <li><a href="" class="user-dropdown-menu"><i class="fas fa-boxes ms-3 icon"></i>
                                            ویجت ها</a></li>
                                    <li><a href="" class="user-dropdown-menu"><i
                                                class="fas fa-table ms-3 icon"></i>جداول
                                        </a>
                                    </li>
                                    <li><a href="" class="user-dropdown-menu"><i class="fa fa-cogs ms-3 icon"></i>
                                            تنظیمات
                                        </a>
                                    </li>
                                    <li><a href="" class="user-dropdown-menu"><i class="fas fa-sign-out  ms-3 icon"></i>
                                            خروج
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </span>
                        <!-- End user circle icon -->
                    </div>
                    <!-- logo -->
                    <div class="hero-logo d-none d-lg-block">
                        <a href="/">
                            <img src="/images/reza-nut-logo.png" style="width:100px; height: 100px;" alt="">
                        </a>
                    </div>
                </div>
               <!-- Header -->
               <%- include("./includes/header.ejs") %>
               <!-- End Header -->
            </nav>
        </div>
        <div class="row">
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="20">

                <div class="d-flex aboutUs-header-content text-center">
                    <div class="aboutUs-En-title-content ">
                        <h1 class="text-white aboutUs-En-title opacity-50">Reza Nuts</h1>
                    </div>
                </div>
                <div class="d-flex ">
                    <div class="aboutUs-title-content text-center">
                        <h1 class="text-white aboutUs-title opacity-50">خشکبار رضا</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-end m-5">
            <h1 class="text-white"> درباره ما </h1>
        </div>
    </section>
    <!-- End Hero -->

    <!-- Main -->
    <main dir="rtl" class="height-100 h-auto">
        <div class="main-border p-5">
            <div class="row my-5">
                <div class="col-12 col-lg-7 bg-secondary bg-opacity-10 rounded-3 p-5">
                    <p class="fs-5">

                        "فروشگاه "خشکبار رضا": کشت و صنعت طعم و تازگی
                        <br>

                        فروشگاه "خشکبار رضا" با بیش از 25 سال تجربه و سابقه درخشان نه تنها یک فروشگاه است، بلکه یک مقصد
                        برتر برای دوستداران خشکبار و آجیل در قلب کرج است. در "خشکبار رضا" ما به تولید به مصرف و مراقبت
                        از جزئیات می‌پردازیم تا از طعم و کیفیت بی‌نظیری بهره‌برده و آن را به شما ارائه دهیم.

                        محصولات ما شامل انواع پسته، بادام، تخمه بادام زمینی، زردآلو خشک و غیره هستند، که به صورت داغ و
                        شور کاری می‌شوند. برخی از مزایای فروشگاه ما عبارتند از:

                        - تولید به مصرف: محصولات ما همیشه تازه‌ترین و با کیفیت‌ترین خشکبارها را به شما ارائه می‌دهند.
                        - آجیل تازه: در "خشکبار رضا" آجیل‌ها تازه‌ترین و مرغوب‌ترین نوع را تازه از تولید به صورت داغ
                        برای شما فراهم می‌آوریم.
                        - قیمت مناسب: با توجه به کیفیت عالی محصولاتمان، قیمت‌های ما بسیار منصفانه و پذیرفتنی هستند.
                        <br>
                        <br>
                        <br>

                        آماده‌ایم که شما را به دنیای خشکبارهای لذیذ و سالم ببریم.
                        <br> به فروشگاه "خشکبار رضا" سر بزنید و تجربه خریدی منحصر به فرد را در کرج تجربه کنید."
                        <br>
                        <br>
                        <br>
                        <span class="fs-3">با مدیریت: توکلی</span>
                    </p>
                </div>
                <div class="col-12 col-lg-5 p-5">
                    <div class="bg-secondary bg-opacity-10 rounded-3 p-2">
                        <img src="/images/rezaNutsStoreBg.jpg" class="img-fluid rounded-3" width="500"
                            height="500" alt="">
                    </div>
                </div>
            </div>

            <div class="help-aboutUs col-6 m-auto p-2 pt-3 text-center fs-5 ">
                <p>شما عزیزان میتوانید از راه های زیز با ما ارتباط برقرار کنید</p>
            </div>

             <!-- Contact Us -->
        <section class="mx-5">
            <!-- main title -->
            <div class="d-flex justify-content-center my-4">
                <div>
                    <h3> تماس با ما</h3>
                    <div class="title-section-line">
                    </div>
                </div>
            </div>

            <!-- End main title -->
            <div class="row" id="aboutUs">
                <div class="col-lg-6 col-12 overflow-hidden">
                    <div class="row">
                        <!-- address -->
                        <div class="col-12 col-md-6 ">
                            <div class="contactUs-card p-3 px-5">
                                <i class="fa fa-location-dot contactUs-icon fs-1"></i>
                                <p class="fs-1">آدرس</p>
                                <p class="fs-5">کرج کمالشهر خ امام خ میعاد 26 سنبل 1 </p>
                            </div>
                        </div>
                        <!-- telephone -->
                        <div class="col-12 col-md-6 ">
                            <div class="contactUs-card p-3 px-5">
                                <i class="fas fa-phone contactUs-icon fs-1"></i>
                                <p class="fs-2">تلفن تماس</p>
                                <a href="tel:09121932460" class="fs-5">09121932460</a>
                                <span class="mx-3">توکلی</span><br>
                                <a href="tel:09196413728" class="fs-5">09196413728</a>
                                <span class="mx-3">توکلی</span><br>
                                <a href="tel:09031001575" class="fs-5">09031001575</a>
                                <span class="mx-3">توکلی</span>
                            </div>
                        </div>
                        <!-- social media -->
                        <div class="col-12 col-md-6 ">
                            <div class="contactUs-card contactUs-icon py-3 px-5">
                                <i class="fab fa-android fs-1"></i>
                                <p class="fs-1">شبکه های اجتمایی</p>
                                <div class="m-2">
                                    <a href="https://t.me/I_love_karbala" class="social-media-link "><i class="fab fa-telegram "></i>
                                        Telegram</a>
                                </div>
                                <div class="m-2">
                                    <a href="https://instagram.com/khoshkbar_reza98?igshid=OGQ5ZDc2ODk2ZA==" class="social-media-link "><i class="fab fa-instagram "></i>
                                        khoshkbar_reza</a>
                                </div>
                                <div class="m-2">
                                    <a href="https://wa.me/qr/C6QOYJ6N6XYGM1" class="social-media-link "><i
                                            class="fab fa-whatsapp m-1"></i>khoshkbar_reza</a>
                                </div>
                                <div class="m-2">
                                    <a href="mailto:rahmanxrf@gmail.com" class="social-media-link "><i class="fa fa-envelope "></i>
                                        KoshkbarReza@Gmail.com</a>
                                </div>

                            </div>
                        </div>
                        <!-- open hours -->
                        <div class="col-12 col-md-6 ">
                            <div class="contactUs-card contactUs-icon p-3 px-5">
                                <i class="fa fa-clock fs-1"></i>
                                <p class="fs-1">ساعت کاری</p>
                                <p class="fs-5">همه روزه از ساعت </p>
                                <p class="fs-5"> 10:00 الی 14:00 </p>
                                <p class="fs-5"> 16:00 الی 22:00 </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12  overflow-hidden">
                    <div class="map-card m-3">
                        <div><iframe width="100%" height="630"
                                src="https://maps.google.com/maps?width=100%&amp;height=800&amp;hl=en&amp;q=%D8%AE%D8%B4%DA%A9%D8%A8%D8%A7%D8%B1%20%D8%B1%D8%B6%D8%A7%20%D8%A7%D8%B3%D8%AA%D8%A7%D9%86%20%D8%AA%D9%87%D8%B1%D8%A7%D9%86%D8%8C%20%DA%A9%D8%B1%D8%AC%D8%8C%20%D8%AE%D8%B1%D9%85%D8%AF%D8%B4%D8%AA%D8%8C%D8%8C%20%D8%AE%DB%8C%D8%A7%D8%A8%D8%A7%D9%86%20%D8%B3%D9%86%D8%A8%D9%84%20%DB%B1%20%20+(Title)&amp;ie=UTF8&amp;t=p&amp;z=17&amp;iwloc=B&amp;output=embed"
                                frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                        </div><br />
                    </div>
                </div>
            </div>
        </section>
        <!-- End Contact Us -->
        <p>
           در وبسایت فروشگاه رضا موقتا سفارشات به صورت انلاین از طریق شبکه های اجتمایی به واسطه ادمین پذیرفته می‌شود و به سراسر کشور ارسال داریم ;)
        </p>
        </div>

    </main>
    <!-- End Main -->

    <%- include("./includes/footer.ejs") %>

</body>

</html>