<div id="main">
    <!-- login  Form -->
    <section class="sign-in" dir="rtl">
        <%- include("./includes/loginMessage.ejs") %>
        <div id="container">
            <div class="signin-content">
                <div class="signin-image">
                    <figure><img src="/images/signin-image.jpg" alt="sing up image"></figure>
                    <a href="/admin/signup" class="signup-image-link">درخواست عضویت</a>
                </div>

                <div class="signin-form">
                    <h2 class="form-title ">ورود به پنل مدیریت
                    </h2>
                    <form method="POST" action="/admin/login" class="register-form" id="login-form">
                        <div class="form-group">
                            <label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                            <input type="text" name="adminEmail" id="your_name" placeholder="ایمیل" />
                        </div>
                        <div class="form-group">
                            <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                            <input type="password" name="adminPass" id="your_pass" placeholder="رمز عبور" />
                        </div>
                        <div class="form-group">
                            <input type="checkbox" name="rememberAdmin" id="remember-me" class="agree-term" />
                            <label for="remember-me" class="label-agree-term"><span><span></span></span>مرا
                                به خاطر بسپار</label>
                        </div>
                        <div class="form-group form-button">
                            <button type="submit" name="signin" id="signin" class="form-submit" value="">ورود</button>
                        </div>
                    </form>
                    <!-- <div class="social-login">
                            <span class="social-label">Or login with</span>
                            <ul class="socials">
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
                            </ul>
                        </div> -->
                </div>
            </div>
        </div>
    </section>
</div>