<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>خشکبار رضا</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/fontawesome/css/all.css">
    <link rel="stylesheet" href="/css/animate.min.css">
    <link rel="stylesheet" href="/css/grid.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/media-queries.css">
    <link rel="stylesheet" href="/css/aos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
</head>

<body id="body">

    <%- include("./includes/fixedButton.ejs") %>

    <!-- Hero -->
    <section class="almond-page-hero">
        <div class="navbar-space">
            <!-- search box DESPLAY-NONE-->
            <div class="search-box position-relative d-none">;
                <div>
                    <input type="text" class="form-control search-box-input position-absolute" placeholder="... جستجو">
                </div>
            </div>
            <nav class="navbar navbar-expand-lg d-flex justify-content-end ">
                <div>
                    <!-- shopping card and login & sign up DESPLAY-NONE  -->
                    <div class="shopingCard d-flex mt-5 d-none">
                        <a href="" class="text-black my-auto">
                            <i class='fa fa-shopping-cart blue-color fs-5'>
                            </i>
                            <span
                                class="position-absolute top-30 start-10 translate-middle badge shopping-cart-badge rounded-pill bg-danger">
                                4
                            </span>
                        </a>

                        <div class="divider-line mx-4"></div>
                        <!-- login & Register -->
                        <a href="" class="d-flex text-decoration-none text-black login-link">
                            <p> ورود </p>
                            <div class="divider-line"></div>
                            <p> ثبت نام</p>
                            <i class='fa fa-sign-in fs-5 ms-2'></i>
                        </a>
                        <!-- End login & Register -->
                        <!-- user circle icon -->
                        <span class="userProfile  d-none">
                            <span>
                                <i class="fas fa-user-circle text-black fs-4"></i>
                            </span>

                            <div class="body" dir="rtl">
                                <ul class="user-Profile-link">
                                    <li><a href="" class="user-dropdown-menu"><i
                                                class="fas fa-sign icon ms-3 "></i>پروفایل
                                        </a>
                                    </li>
                                    <li><a href="" class="user-dropdown-menu"><i class="fas fa-bar-chart ms-3 icon"></i>
                                            آمار
                                        </a>
                                    </li>
                                    <li><a href="" class="user-dropdown-menu"><i class="fas fa-boxes ms-3 icon"></i>
                                            ویجت ها</a></li>
                                    <li><a href="" class="user-dropdown-menu"><i
                                                class="fas fa-table ms-3 icon"></i>جداول
                                        </a>
                                    </li>
                                    <li><a href="" class="user-dropdown-menu"><i class="fa fa-cogs ms-3 icon"></i>
                                            تنظیمات
                                        </a>
                                    </li>
                                    <li><a href="" class="user-dropdown-menu"><i class="fas fa-sign-out  ms-3 icon"></i>
                                            خروج
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </span>
                        <!-- End user circle icon -->
                    </div>
                    <!-- logo -->
                    <div class="hero-logo d-none d-lg-block">
                        <a href="/">
                            <img src="/images/reza-nut-logo.png" style="width:100px; height: 100px;" alt="">
                        </a>
                    </div>
                </div>
               <!-- Header -->
               <%- include("./includes/header.ejs") %>
               <!-- End Header -->
            </nav>
        </div>
    </section>
    <!-- End Hero -->

    <!-- Main -->
    <main dir="rtl" class="height-100 h-auto">
        <div class="d-flex justify-content-center w-75 mx-auto ">
            <button id="product-btn-1" class="custom-btn btn-5"><span> بادام هندی </span></button>
            <button id="product-btn-2" class="custom-btn btn-5"><span> مغز بادام درختي  </span></button>
            <button id="product-btn-3" class="custom-btn btn-5"><span> بادام منقا </span></button>
            <button id="product-btn-4" class="custom-btn btn-5"><span> بادام درختی با پوست </span></button>
            <button id="product-btn-5" class="custom-btn btn-5"><span> بادام زمینی آستانه </span></button>
        </div>

        
        <!-- Product-1 -->
        <div id="product-1">
            <!-- خام -->
            <section class="main-border p-3">
                <!-- paging layer -->
                <section class="d-flex">
                    <a href="/" class="text-decoration-none text-black opacity-50 px-2">
                        <p> فروشکاه اینترنتی خشکبار رضا /</p>
                    </a>
                    <a href="#header" class="text-decoration-none text-black opacity-50 px-2">
                        <p> آجیل /</p>
                    </a>
                    <a href="/products/almonds#product-btn-1" class="text-decoration-none text-black opacity-50 px-2">
                        <p> بادام هندی </p>
                    </a>
                </section>

                <div class="row product-profile">
                    <div class="col-12 col-md-6 col-lg-5 image-section position-relative">
                        <span> <i class="fa fa-magnifying-glass magnifying-glass-icon"></i></span>
                        <div class="img-magnifier-container mx-1 mx-lg-5">
                            <img id="1" src="/images/hendi-kham.png" width="400" height="300"
                                alt="Girl">
                        </div>
                        <p class="text-center"><i class="fa fa-star text-warning"></i> بسته بندی با وزن دلخواه شما و
                            ارسال به سراسر ایران <i class="fa fa-star text-warning"></i></p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-7">
                        <h1 class="product_name">
                           بادام هندی خام
                        </h1>
                        <!-- شامل -->
                        <p > </i><span class="text-success"><i class="fa fa-box-open p-1"></i>شامل</span> بادام هندی در سایز های 240(درشت تر) و سایز 320</p>

                        <ul>
                            <li> خشکبار رضا از تولید به مصرف</li>
                            <li><span class="text-danger">ارسال با پست پیشتاز </span> در سریع ترین زمان ممکن </li>
                            <li><span class="text-danger">ارسال رایگان </span> بالای 1 میلیون تومان </li>
                        </ul>
                        <p class="fs-6">
                            <span class="text-danger"> نکته : </span>
                            برای اطلاع از قیمت و سفارش محصول از طریق شبکه های اجتمایی با ما تماس حاصل فرمایید.
                        </p>
                    </div>
                </div>
            </section>
            <!-- شور -->
            <section class="main-border p-3">
                <!-- paging layer -->
                <section class="d-flex">
                    <a href="/" class="text-decoration-none text-black opacity-50 px-2">
                        <p> فروشکاه اینترنتی خشکبار رضا /</p>
                    </a>
                    <a href="#header" class="text-decoration-none text-black opacity-50 px-2">
                        <p> آجیل /</p>
                    </a>
                    <a href="/products/almonds#product-btn-1" class="text-decoration-none text-black opacity-50 px-2">
                        <p> بادام هندی </p>
                    </a>
                </section>

                <div class="row product-profile">
                    <div class="col-12 col-md-6 col-lg-5 image-section position-relative">
                        <span> <i class="fa fa-magnifying-glass magnifying-glass-icon"></i></span>
                        <div class="img-magnifier-container mx-1 mx-lg-5">
                            <img id="2" src="/images/hendi-shjor.png" width="400" height="300"
                                alt="Girl">
                        </div>
                        <p class="text-center"><i class="fa fa-star text-warning"></i> بسته بندی با وزن دلخواه شما و
                            ارسال به سراسر ایران <i class="fa fa-star text-warning"></i></p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-7">
                        <h1 class="product_name">
                            بادام هندی شور
                        </h1>
                        <!-- شامل -->
                        <p > </i><span class="text-success"><i class="fa fa-box-open p-1"></i>شامل</span> بادام هندی در سایز های 240(درشت تر) و سایز 320</p>

                        <ul>
                            <li> خشکبار رضا از تولید به مصرف</li>
                            <li><span class="text-danger">ارسال با پست پیشتاز </span> در سریع ترین زمان ممکن </li>
                            <li><span class="text-danger">ارسال رایگان </span> بالای 1 میلیون تومان </li>
                        </ul>
                        <p class="fs-6">
                            <span class="text-danger"> نکته : </span>
                            برای اطلاع از قیمت و سفارش محصول از طریق شبکه های اجتمایی با ما تماس حاصل فرمایید.
                        </p>
                    </div>
                </div>
            </section>
            <section class="main-border p-3">

                <div>
                    <div class="row">
                        <button class="btn product-btn product-feature-btn border-1">
                            خصوصیات محصول
                        </button>
                    </div>
                </div>
                <div class="product-info-feature-section">
                    <div class="productFeature fs-5 ">
                        <p>
                            بادام هندی یا همچنین به نام کاجو معروف است و دارای مجموعه‌ای از خواص اصلی بسیار مفید برای سلامتی انسان‌ها است. در ادامه، تعدادی از این خواص اصلی بادام هندی را برای شما معرفی می‌کنم:
                            <br>
                            1. غنی از ویتامین‌ها و مواد معدنی: بادام هندی حاوی ویتامین‌های مختلفی از جمله ویتامین C، ویتامین K، ویتامین B6، ویتامین E و مواد معدنی از قبیل منیزیم، روی، مس، و آهن است.
                            <br>
                            2. منبع پروتئین: بادام هندی حاوی مقدار قابل توجهی پروتئین است که می‌تواند به تقویت سلامت عضلات و ساختار استخوان‌ها کمک کند.
                            <br>
                            3. حاوی آنتی اکسیدان‌ها: این میوه دارای آنتی اکسیدان‌های قوی مانند بتا-کاروتن، کاروتنوئیدها و آمینو اسیدهای آنتی اکسیدانی می‌باشد که در مقابل عوامل آسیب‌زای مانند آزمایش اکسایشی آزاد رادیکال‌ها محافظت می‌کنند.
                            <br>
                            4. کاهش خطر بیماری‌های قلبی: مصرف بادام هندی می‌تواند به کاهش فشار خون، کاهش سطح کلسترول بد (LDL) و افزایش کلسترول خوب (HDL) کمک کند، که باعث کاهش خطر ابتلا به بیماری‌های قلبی می‌شود.
                            <br>
                            5. کنترل قند خون: بادام هندی می‌تواند به کنترل قند خون کمک کند و به کنترل دیابت کمک نماید.
                            <br>
                            6. حمایت از سلامت مغز: مواد مغذی در بادام هندی می‌توانند حافظه و عملکرد مغز را تقویت کرده و خطر بروز بیماری‌های مغزی مانند آلزایمر را کاهش دهند.
                            <br>
                            7. حفاظت از سلامت پوست: ویتامین E و آنتی اکسیدان‌های موجود در بادام هندی می‌توانند به حفظ سلامت پوست کمک کرده و پیری زودرس پوست را کاهش دهند.
                            <br>
                            8. حفظ وزن و کنترل آرامش: بادام هندی به دلیل حاوی مقدار زیادی چربی سالم و پروتئین، می‌تواند اشباع کننده باشد و در کنترل وزن و کاهش اشتها کمک کند. همچنین، مواد معدنی مانند منیزیم به کنترل استرس و اضطراب کمک می‌کند.
                            <br>
                            توجه داشته باشید که مصرف معقول و متعادل بادام هندی می‌تواند به بهبود سلامت کلی شما کمک کند. اما مصرف افراز و فراز باید از آن پرهیز شود تا افزایش وزن ناخواسته و مشکلات مرتبط با آن ایجاد نشود.
                        </p>
                    </div>
                </div>
            </section>

        </div>
        <!-- End Product-1 -->
        <!-- Product-2 -->
        <div id="product-2">
            <!-- خام -->
            <section class="main-border p-3">
                <!-- paging layer -->
                <section class="d-flex">
                    <a href="/" class="text-decoration-none text-black opacity-50 px-2">
                        <p> فروشکاه اینترنتی خشکبار رضا /</p>
                    </a>
                    <a href="#header" class="text-decoration-none text-black opacity-50 px-2">
                        <p> آجیل /</p>
                    </a>
                    <a href="/products/almonds#product-btn-2" class="text-decoration-none text-black opacity-50 px-2">
                        <p>  مغز بادام درختی  </p>
                    </a>
                </section>

                <div class="row product-profile">
                    <div class="col-12 col-md-6 col-lg-5 image-section position-relative">
                        <span> <i class="fa fa-magnifying-glass magnifying-glass-icon"></i></span>
                        <div class="img-magnifier-container mx-1 mx-lg-5">
                            <img id="3" src="/images/derakhti-kam.png" width="400" height="300"
                                alt="Girl">
                        </div>
                        <p class="text-center"><i class="fa fa-star text-warning"></i> بسته بندی با وزن دلخواه شما و
                            ارسال به سراسر ایران <i class="fa fa-star text-warning"></i></p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-7">
                        <h1 class="product_name">
                            مغز بادام درختی خام
                        </h1>
                        <!-- شامل -->
                        <p class="d-none"> </i><span class="text-success"><i class="fa fa-box-open p-1"></i>شامل</span> پسته احمد آقایی
                            بادام درختي ايراني بادام هندي تخمه كدوگوشتي تخمه جابوني</p>

                        <ul>
                            <li> خشکبار رضا از تولید به مصرف</li>
                            <li><span class="text-danger">ارسال با پست پیشتاز </span> در سریع ترین زمان ممکن </li>
                            <li><span class="text-danger">ارسال رایگان </span> بالای 1 میلیون تومان </li>
                        </ul>
                        <p class="fs-6">
                            <span class="text-danger"> نکته : </span>
                            برای اطلاع از قیمت و سفارش محصول از طریق شبکه های اجتمایی با ما تماس حاصل فرمایید.
                        </p>
                    </div>
                </div>
            </section>
            <!-- شور -->
            <section class="main-border p-3">
                <!-- paging layer -->
                <section class="d-flex">
                    <a href="/" class="text-decoration-none text-black opacity-50 px-2">
                        <p> فروشکاه اینترنتی خشکبار رضا /</p>
                    </a>
                    <a href="#header" class="text-decoration-none text-black opacity-50 px-2">
                        <p> آجیل /</p>
                    </a>
                    <a href="/products/almonds#product-btn-2" class="text-decoration-none text-black opacity-50 px-2">
                        <p>  مغز بادام درختی  </p>
                    </a>
                </section>

                <div class="row product-profile">
                    <div class="col-12 col-md-6 col-lg-5 image-section position-relative">
                        <span> <i class="fa fa-magnifying-glass magnifying-glass-icon"></i></span>
                        <div class="img-magnifier-container mx-1 mx-lg-5">
                            <img id="4" src="/images/derakhti-shor.png" width="400" height="300"
                                alt="Girl">
                        </div>
                        <p class="text-center"><i class="fa fa-star text-warning"></i> بسته بندی با وزن دلخواه شما و
                            ارسال به سراسر ایران <i class="fa fa-star text-warning"></i></p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-7">
                        <h1 class="product_name">
                            مغز بادام درختی شور
                        </h1>
                        <!-- شامل -->
                        <p class="d-none"> </i><span class="text-success"><i class="fa fa-box-open p-1"></i>شامل</span> پسته احمد آقایی
                            بادام درختي ايراني بادام هندي تخمه كدوگوشتي تخمه جابوني</p>

                        <ul>
                            <li> خشکبار رضا از تولید به مصرف</li>
                            <li><span class="text-danger">ارسال با پست پیشتاز </span> در سریع ترین زمان ممکن </li>
                            <li><span class="text-danger">ارسال رایگان </span> بالای 1 میلیون تومان </li>
                        </ul>
                        <p class="fs-6">
                            <span class="text-danger"> نکته : </span>
                            برای اطلاع از قیمت و سفارش محصول از طریق شبکه های اجتمایی با ما تماس حاصل فرمایید.
                        </p>
                    </div>
                </div>
            </section>
            <section class="main-border p-3">

                <div>
                    <div class="row">
                        <button class="btn product-btn product-feature-btn border-1">
                            خصوصیات محصول
                        </button>
                    </div>
                </div>
                <div class="product-info-feature-section">
                    <div class="productFeature fs-5 ">
                        <p>
                            بادام درختی یکی از مهمترین درختان میوه‌ای است و دارای خواص غذایی و بهداشتی بسیاری می‌باشد. در زیر به برخی از خواص اصلی بادام درختی اشاره می شود:
<br>
1. منبع انرژی: بادام درختی حاوی مقدار زیادی کالری و چربی‌های ناساتوره (چربی‌های نیمه‌اشباع و پلی‌اشباع) است که به عنوان یک منبع انرژی قوی برای بدن انسان عمل می‌کند.
<br>

2. غنی از ویتامین E: بادام درختی منبع خوبی از ویتامین E (آلفا توکوفرول) می‌باشد. این ویتامین یک آنتی‌اکسیدان قوی است که سلول‌های بدن را از آسیب‌های اکسیداتیو محافظت می‌کند.
<br>

3. منابع پروتئین و فیبر: بادام درختی دارای مقدار قابل توجهی پروتئین و فیبر است که می‌تواند به تامین انرژی و اشباعی کردن احساس گرسنگی کمک کند.
<br>

4. معدنی‌های مهم: این میوه غنی از مواد معدنی مانند منیزیم، مس، فسفر، و منگنز است که برای حفظ سلامت استخوان‌ها و سایر عملکردهای بدن مهم هستند.
<br>

5. سلامت قلبی: مصرف معتدل بادام درختی می‌تواند به بهبود سلامت قلبی کمک کند. چربی‌های نیمه‌اشباع و پلی‌اشباع موجود در بادام می‌توانند سطح کلسترول بدن را کاهش دهند.
<br>

6. کاهش خطر ابتلا به بیماری‌های مزمن: مصرف منظم بادام درختی می‌تواند باعث کاهش خطر ابتلا به بیماری‌های مزمن مانند دیابت نوع 2 و بیماری‌های قلبی عروقی شود.
<br>

7. سلامت مغزی: برخی مطالعات نشان داده‌اند که مصرف بادام درختی می‌تواند به بهبود عملکرد مغز و کاهش خطر اختلالات مغزی مانند آلزایمر کمک کند.
<br>

8. پیشگیری از افزایش وزن: مصرف معتدل بادام درختی به دلیل اثراتش بر اشباعی کردن و کاهش احساس گرسنگی، می‌تواند به کنترل وزن و جلوگیری از افزایش وزن کمک کند.
<br>

توجه داشته باشید که مصرف بادام درختی به میزان مناسب و به عنوان بخشی از یک رژیم غذایی متنوع و تعادلی مفید است. همچنین، افرادی که به آنرژی‌های زیادی حساسیت دارند باید با مصرف بادام درختی به دقت عمل کنند.
                        </p>
                    </div>
                </div>
            </section>

        </div>
        <!-- End Product-2 -->
        <!-- Product-3 -->
        <div id="product-3">
            <!-- شور -->
            <section class="main-border p-3">
                <!-- paging layer -->
                <section class="d-flex">
                    <a href="/" class="text-decoration-none text-black opacity-50 px-2">
                        <p> فروشکاه اینترنتی خشکبار رضا /</p>
                    </a>
                    <a href="#header" class="text-decoration-none text-black opacity-50 px-2">
                        <p> آجیل /</p>
                    </a>
                    <a href="/products/almonds#product-btn-3" class="text-decoration-none text-black opacity-50 px-2">
                        <p>   بادام منقا  </p>
                    </a>
                </section>

                <div class="row product-profile">
                    <div class="col-12 col-md-6 col-lg-5 image-section position-relative">
                        <span> <i class="fa fa-magnifying-glass magnifying-glass-icon"></i></span>
                        <div class="img-magnifier-container mx-1 mx-lg-5">
                            <img id="5" src="/images/monagha.png" width="400" height="300"
                                >
                        </div>
                        <p class="text-center"><i class="fa fa-star text-warning"></i> بسته بندی با وزن دلخواه شما و
                            ارسال به سراسر ایران <i class="fa fa-star text-warning"></i></p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-7">
                        <h1 class="product_name">
                          بادام منقا شور
                        </h1>
                        <!-- شامل -->
                        <p > </i><span class="text-danger"><i class="fa fa-warning p-1"></i> توجه: </span>خام این محصول هم موجود میباشد</p>

                        <ul>
                            <li> خشکبار رضا از تولید به مصرف</li>
                            <li><span class="text-danger">ارسال با پست پیشتاز </span> در سریع ترین زمان ممکن </li>
                            <li><span class="text-danger">ارسال رایگان </span> بالای 1 میلیون تومان </li>
                        </ul>
                        <p class="fs-6">
                            <span class="text-danger"> نکته : </span>
                            برای اطلاع از قیمت و سفارش محصول از طریق شبکه های اجتمایی با ما تماس حاصل فرمایید.
                        </p>
                    </div>
                </div>
            </section>
            <section class="main-border p-3">

                <div>
                    <div class="row">
                        <button class="btn product-btn product-feature-btn border-1">
                            خصوصیات محصول
                        </button>
                    </div>
                </div>
                <div class="product-info-feature-section">
                    <div class="productFeature fs-5 ">
                        <p>
                            بادام درختی یکی از مهمترین درختان میوه‌ای است و دارای خواص غذایی و بهداشتی بسیاری می‌باشد. در زیر به برخی از خواص اصلی بادام درختی اشاره می شود:
<br>
1. منبع انرژی: بادام درختی حاوی مقدار زیادی کالری و چربی‌های ناساتوره (چربی‌های نیمه‌اشباع و پلی‌اشباع) است که به عنوان یک منبع انرژی قوی برای بدن انسان عمل می‌کند.
<br>

2. غنی از ویتامین E: بادام درختی منبع خوبی از ویتامین E (آلفا توکوفرول) می‌باشد. این ویتامین یک آنتی‌اکسیدان قوی است که سلول‌های بدن را از آسیب‌های اکسیداتیو محافظت می‌کند.
<br>

3. منابع پروتئین و فیبر: بادام درختی دارای مقدار قابل توجهی پروتئین و فیبر است که می‌تواند به تامین انرژی و اشباعی کردن احساس گرسنگی کمک کند.
<br>

4. معدنی‌های مهم: این میوه غنی از مواد معدنی مانند منیزیم، مس، فسفر، و منگنز است که برای حفظ سلامت استخوان‌ها و سایر عملکردهای بدن مهم هستند.
<br>

5. سلامت قلبی: مصرف معتدل بادام درختی می‌تواند به بهبود سلامت قلبی کمک کند. چربی‌های نیمه‌اشباع و پلی‌اشباع موجود در بادام می‌توانند سطح کلسترول بدن را کاهش دهند.
<br>

6. کاهش خطر ابتلا به بیماری‌های مزمن: مصرف منظم بادام درختی می‌تواند باعث کاهش خطر ابتلا به بیماری‌های مزمن مانند دیابت نوع 2 و بیماری‌های قلبی عروقی شود.
<br>

7. سلامت مغزی: برخی مطالعات نشان داده‌اند که مصرف بادام درختی می‌تواند به بهبود عملکرد مغز و کاهش خطر اختلالات مغزی مانند آلزایمر کمک کند.
<br>

8. پیشگیری از افزایش وزن: مصرف معتدل بادام درختی به دلیل اثراتش بر اشباعی کردن و کاهش احساس گرسنگی، می‌تواند به کنترل وزن و جلوگیری از افزایش وزن کمک کند.
<br>

توجه داشته باشید که مصرف بادام درختی به میزان مناسب و به عنوان بخشی از یک رژیم غذایی متنوع و تعادلی مفید است. همچنین، افرادی که به آنرژی‌های زیادی حساسیت دارند باید با مصرف بادام درختی به دقت عمل کنند.
                        </p>
                        </p>
                    </div>
                </div>
            </section>

        </div>
        <!-- End Product-3 -->
        <!-- Product-4 -->
        <div id="product-4">
            <!-- خام -->
            <section class="main-border p-3">
                <!-- paging layer -->
                <section class="d-flex">
                    <a href="/" class="text-decoration-none text-black opacity-50 px-2">
                        <p> فروشکاه اینترنتی خشکبار رضا /</p>
                    </a>
                    <a href="#header" class="text-decoration-none text-black opacity-50 px-2">
                        <p> آجیل /</p>
                    </a>
                    <a href="/products/almonds#product-btn-4" class="text-decoration-none text-black opacity-50 px-2">
                        <p>   بادام درختی  </p>
                    </a>
                </section>

                <div class="row product-profile">
                    <div class="col-12 col-md-6 col-lg-5 image-section position-relative">
                        <span> <i class="fa fa-magnifying-glass magnifying-glass-icon"></i></span>
                        <div class="img-magnifier-container mx-1 mx-lg-5">
                            <img id="6" src="/images/stonealmonds.png" width="300" height="300"
                                alt="Girl">
                        </div>
                        <p class="text-center"><i class="fa fa-star text-warning"></i> بسته بندی با وزن دلخواه شما و
                            ارسال به سراسر ایران <i class="fa fa-star text-warning"></i></p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-7">
                        <h1 class="product_name">
                            بادام درختی با پوست
                        </h1>
                        <!-- شامل -->
                        <p class="d-none"> </i><span class="text-success"><i class="fa fa-box-open p-1"></i>شامل</span> پسته احمد آقایی
                            بادام درختي ايراني بادام هندي تخمه كدوگوشتي تخمه جابوني</p>

                        <ul>
                            <li> خشکبار رضا از تولید به مصرف</li>
                            <li><span class="text-danger">ارسال با پست پیشتاز </span> در سریع ترین زمان ممکن </li>
                            <li><span class="text-danger">ارسال رایگان </span> بالای 1 میلیون تومان </li>
                        </ul>
                        <p class="fs-6">
                            <span class="text-danger"> نکته : </span>
                            برای اطلاع از قیمت و سفارش محصول از طریق شبکه های اجتمایی با ما تماس حاصل فرمایید.
                        </p>
                    </div>
                </div>
            </section>
            <section class="main-border p-3">

                <div>
                    <div class="row">
                        <button class="btn product-btn product-feature-btn border-1">
                            خصوصیات محصول
                        </button>
                    </div>
                </div>
                <div class="product-info-feature-section">
                    <div class="productFeature fs-5 ">
                        <p>
                            بادام درختی یکی از مهمترین درختان میوه‌ای است و دارای خواص غذایی و بهداشتی بسیاری می‌باشد. در زیر به برخی از خواص اصلی بادام درختی اشاره می شود:
<br>
1. منبع انرژی: بادام درختی حاوی مقدار زیادی کالری و چربی‌های ناساتوره (چربی‌های نیمه‌اشباع و پلی‌اشباع) است که به عنوان یک منبع انرژی قوی برای بدن انسان عمل می‌کند.
<br>

2. غنی از ویتامین E: بادام درختی منبع خوبی از ویتامین E (آلفا توکوفرول) می‌باشد. این ویتامین یک آنتی‌اکسیدان قوی است که سلول‌های بدن را از آسیب‌های اکسیداتیو محافظت می‌کند.
<br>

3. منابع پروتئین و فیبر: بادام درختی دارای مقدار قابل توجهی پروتئین و فیبر است که می‌تواند به تامین انرژی و اشباعی کردن احساس گرسنگی کمک کند.
<br>

4. معدنی‌های مهم: این میوه غنی از مواد معدنی مانند منیزیم، مس، فسفر، و منگنز است که برای حفظ سلامت استخوان‌ها و سایر عملکردهای بدن مهم هستند.
<br>

5. سلامت قلبی: مصرف معتدل بادام درختی می‌تواند به بهبود سلامت قلبی کمک کند. چربی‌های نیمه‌اشباع و پلی‌اشباع موجود در بادام می‌توانند سطح کلسترول بدن را کاهش دهند.
<br>

6. کاهش خطر ابتلا به بیماری‌های مزمن: مصرف منظم بادام درختی می‌تواند باعث کاهش خطر ابتلا به بیماری‌های مزمن مانند دیابت نوع 2 و بیماری‌های قلبی عروقی شود.
<br>

7. سلامت مغزی: برخی مطالعات نشان داده‌اند که مصرف بادام درختی می‌تواند به بهبود عملکرد مغز و کاهش خطر اختلالات مغزی مانند آلزایمر کمک کند.
<br>

8. پیشگیری از افزایش وزن: مصرف معتدل بادام درختی به دلیل اثراتش بر اشباعی کردن و کاهش احساس گرسنگی، می‌تواند به کنترل وزن و جلوگیری از افزایش وزن کمک کند.
<br>

توجه داشته باشید که مصرف بادام درختی به میزان مناسب و به عنوان بخشی از یک رژیم غذایی متنوع و تعادلی مفید است. همچنین، افرادی که به آنرژی‌های زیادی حساسیت دارند باید با مصرف بادام درختی به دقت عمل کنند.
                        </p>
                    </div>
                </div>
            </section>

        </div>
        <!-- End Product-4 -->
        <!-- Product-5 -->
        <div id="product-5">
            <section class="main-border p-3">
                <!-- paging layer -->
                <section class="d-flex">
                    <a href="/" class="text-decoration-none text-black opacity-50 px-2">
                        <p> فروشکاه اینترنتی خشکبار رضا /</p>
                    </a>
                    <a href="#header" class="text-decoration-none text-black opacity-50 px-2">
                        <p> آجیل /</p>
                    </a>
                    <a href="/products/almonds#product-btn-5" class="text-decoration-none text-black opacity-50 px-2">
                        <p>   بادام زمینی آستانه  </p>
                    </a>
                </section>

                <div class="row product-profile">
                    <div class="col-12 col-md-6 col-lg-5 image-section position-relative">
                        <span> <i class="fa fa-magnifying-glass magnifying-glass-icon"></i></span>
                        <div class="img-magnifier-container mx-1 mx-lg-5">
                            <img id="7" src="/images/astane.png" width="400" height="300"
                                alt="Girl">
                        </div>
                        <p class="text-center"><i class="fa fa-star text-warning"></i> بسته بندی با وزن دلخواه شما و
                            ارسال به سراسر ایران <i class="fa fa-star text-warning"></i></p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-7">
                        <h1 class="product_name">
                           بادام زمینی آستانه
                        </h1>
                        <!-- شامل -->
                        <p class="d-none"> </i><span class="text-success"><i class="fa fa-box-open p-1"></i>شامل</span> پسته احمد آقایی
                            بادام درختي ايراني بادام هندي تخمه كدوگوشتي تخمه جابوني</p>

                        <ul>
                            <li> خشکبار رضا از تولید به مصرف</li>
                            <li><span class="text-danger">ارسال با پست پیشتاز </span> در سریع ترین زمان ممکن </li>
                            <li><span class="text-danger">ارسال رایگان </span> بالای 1 میلیون تومان </li>
                        </ul>
                        <p class="fs-6">
                            <span class="text-danger"> نکته : </span>
                            برای اطلاع از قیمت و سفارش محصول از طریق شبکه های اجتمایی با ما تماس حاصل فرمایید.
                        </p>
                    </div>
                </div>
            </section>
            <section class="main-border p-3">

                <div>
                    <div class="row">
                        <button class="btn product-btn product-feature-btn border-1">
                            خصوصیات محصول
                        </button>
                    </div>
                </div>
                <div class="product-info-feature-section">
                    <div class="productFeature fs-5 ">
                        <p>
                            بادام زمینی یک میوه خشک است که دارای بسیاری از خواص مفید برای سلامتی انسان است. برخی از خواص اصلی بادام زمینی عبارتند از:
                            <br>
                            1. منبع پروتئین: بادام زمینی حاوی مقدار زیادی پروتئین هستند که برای ساخت و تعمیر ماهیچه‌ها و بافت‌های بدن ضروری هستند.
                            <br>
                            2. منابع چربی‌های نیمه‌اشباع: بادام زمینی حاوی چربی‌های نیمه‌اشباع مفیدی هستند که ممکن است به بهبود سلامت قلبی و کاهش خطر بیماری‌های قلبی عروقی کمک کنند.
                            <br>
                            3. منبع فیبر: این میوه حاوی فیبرهای مواد غذایی مهمی است که می‌تواند در تنظیم معدل قند خون، حفظ سلامت دستگاه گوارش و کاهش احتمال افزایش وزن کمک کند.
                            <br>
                            4. ویتامین‌ها و مواد معدنی: بادام زمینی حاوی ویتامین‌های مختلفی مانند ویتامین ای، ویتامین ب۶، ویتامین ب۳ (نیاسین)، و مواد معدنی مانند منیزیم، فسفر، و پتاسیم هستند.
                            <br>
                            5. آنتی‌اکسیدان‌ها: بادام زمینی حاوی آنتی‌اکسیدان‌های مهمی مانند رزورسینول و کوئرستسین است که ممکن است در مقابله با آسیب‌های اکسیداتیو و پیشگیری از بیماری‌های مزمن مفید باشند.
                            <br>
                            6. کاهش خطر بیماری‌های مزمن: مصرف منظم بادام زمینی به عنوان بخشی از یک رژیم غذایی سالم می‌تواند به کاهش خطر بیماری‌های مزمن مانند دیابت نوع ۲، بیماری‌های قلبی، و چاقی کمک کند.
                            <br>
                            7. حمایت از سلامت مغز: برخی مطالعات نشان داده‌اند که مصرف بادام زمینی ممکن است به بهبود عملکرد مغزی و حافظه کمک کند.
                            <br>
                            به هر حال، مصرف بادام زمینی باید با اندازه‌گیری مناسب و به میزان معقول صورت گیرد، زیرا مصرف افراز از حد می‌تواند به افزایش وزن و مشکلات سلامتی دیگر منجر شود. همچنین، در صورتی که به آلرژی به بادام زمینی یا سایر مواد غذایی مشابه رنج می‌برید، باید از مصرف آنها پرهیز کنید.
                        </p>
                    </div>
                </div>
            </section>

        </div>
        <!-- End Product-5 -->


        <div id="mainSectionLogo">
            <img class="sectionLogo" src="/images/reza-nut-logo.png" alt="">
        </div>

    </main>
    <!-- End Main -->

    <%- include("./includes/footer.ejs") %>
    
    
</body>

</html>