<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>خشکبار رضا</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/fontawesome/css/all.css">
    <link rel="stylesheet" href="/css/animate.min.css">
    <link rel="stylesheet" href="/css/grid.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/media-queries.css">
    <link rel="stylesheet" href="/css/aos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
</head>

<body id="body">

    <%- include("./includes/fixedButton.ejs") %>

    <!-- Hero -->
    <section class="chickpeas-page-hero">
        <div class="navbar-space">
            <!-- search box DESPLAY-NONE-->
            <div class="search-box position-relative d-none">;
                <div>
                    <input type="text" class="form-control search-box-input position-absolute" placeholder="... جستجو">
                </div>
            </div>
            <nav class="navbar navbar-expand-lg d-flex justify-content-end ">
                <div>
                    <!-- shopping card and login & sign up DESPLAY-NONE  -->
                    <div class="shopingCard d-flex mt-5 d-none">
                        <a href="" class="text-black my-auto">
                            <i class='fa fa-shopping-cart blue-color fs-5'>
                            </i>
                            <span
                                class="position-absolute top-30 start-10 translate-middle badge shopping-cart-badge rounded-pill bg-danger">
                                4
                            </span>
                        </a>

                        <div class="divider-line mx-4"></div>
                        <!-- login & Register -->
                        <a href="" class="d-flex text-decoration-none text-black login-link">
                            <p> ورود </p>
                            <div class="divider-line"></div>
                            <p> ثبت نام</p>
                            <i class='fa fa-sign-in fs-5 ms-2'></i>
                        </a>
                        <!-- End login & Register -->
                        <!-- user circle icon -->
                        <span class="userProfile  d-none">
                            <span>
                                <i class="fas fa-user-circle text-black fs-4"></i>
                            </span>

                            <div class="body" dir="rtl">
                                <ul class="user-Profile-link">
                                    <li><a href="" class="user-dropdown-menu"><i
                                                class="fas fa-sign icon ms-3 "></i>پروفایل
                                        </a>
                                    </li>
                                    <li><a href="" class="user-dropdown-menu"><i class="fas fa-bar-chart ms-3 icon"></i>
                                            آمار
                                        </a>
                                    </li>
                                    <li><a href="" class="user-dropdown-menu"><i class="fas fa-boxes ms-3 icon"></i>
                                            ویجت ها</a></li>
                                    <li><a href="" class="user-dropdown-menu"><i
                                                class="fas fa-table ms-3 icon"></i>جداول
                                        </a>
                                    </li>
                                    <li><a href="" class="user-dropdown-menu"><i class="fa fa-cogs ms-3 icon"></i>
                                            تنظیمات
                                        </a>
                                    </li>
                                    <li><a href="" class="user-dropdown-menu"><i class="fas fa-sign-out  ms-3 icon"></i>
                                            خروج
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </span>
                        <!-- End user circle icon -->
                    </div>
                    <!-- logo -->
                    <div class="hero-logo d-none d-lg-block">
                        <a href="/">
                            <img src="/images/reza-nut-logo.png" style="width:100px; height: 100px;" alt="">
                        </a>
                    </div>
                </div>
               <!-- Header -->
               <%- include("./includes/header.ejs") %>
               <!-- End Header -->
            </nav>
        </div>
    </section>
    <!-- End Heror -->

    <!-- Main -->
    <main dir="rtl" class="height-100 h-auto">

        <!-- Product-1 -->
        <div id="Chickpeas">
            <!-- نخودچی خام -->
            <section class="main-border p-3">
                <!-- paging layer -->
                <section class="d-flex">
                    <a href="/" class="text-decoration-none text-black opacity-50 px-2">
                        <p> فروشکاه اینترنتی خشکبار رضا /</p>
                    </a>
                    <a href="/" class="text-decoration-none text-black opacity-50 px-2">
                        <p> خشکبار /</p>
                    </a>
                    <a href="/products/chickpeas" class="text-decoration-none text-black opacity-50 px-2">
                        <p>نخودچی</p>
                    </a>
                </section>

                <div class="row product-profile">
                    <div class="col-12 col-md-6 col-lg-5 image-section position-relative">
                        <span> <i class="fa fa-magnifying-glass magnifying-glass-icon"></i></span>
                        <div class="img-magnifier-container mx-1 mx-lg-5">
                            <img id="1" src="/images/chickpeas.png" width="250" height="300" alt="Girl">
                        </div>
                        <p class="text-center"><i class="fa fa-star text-warning"></i> بسته بندی با وزن دلخواه شما و
                            ارسال به سراسر ایران <i class="fa fa-star text-warning"></i></p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-7">
                        <p class="product_name">
                            نخودچی خام درجه یک
                        </p>
                        <!-- شامل -->
                        <p class="d-none"> </i><span class="text-success"><i class="fa fa-box-open p-1"></i>شامل</span>
                            بادام هندی در سایز های 240(درشت تر) و سایز 320</p>

                        <ul>
                            <li> خشکبار رضا از تولید به مصرف</li>
                            <li><span class="text-danger">ارسال با پست پیشتاز </span> در سریع ترین زمان ممکن </li>
                            <li><span class="text-danger">ارسال رایگان </span> بالای 1 میلیون تومان </li>
                        </ul>
                        <p class="fs-6">
                            <span class="text-danger"> نکته : </span>
                            برای اطلاع از قیمت و سفارش محصول از طریق شبکه های اجتمایی با ما تماس حاصل فرمایید.
                        </p>
                    </div>
                </div>
            </section>
            <!-- نخودچی شور -->
            <section class="main-border p-3">
                <!-- paging layer -->
                <section class="d-flex">
                    <a href="/" class="text-decoration-none text-black opacity-50 px-2">
                        <p> فروشکاه اینترنتی خشکبار رضا /</p>
                    </a>
                    <a href="/" class="text-decoration-none text-black opacity-50 px-2">
                        <p> خشکبار /</p>
                    </a>
                    <a href="/products/chickpeas" class="text-decoration-none text-black opacity-50 px-2">
                        <p>نخودچی شور</p>
                    </a>
                </section>

                <div class="row product-profile">
                    <div class="col-12 col-md-6 col-lg-5 image-section position-relative">
                        <span> <i class="fa fa-magnifying-glass magnifying-glass-icon"></i></span>
                        <div class="img-magnifier-container mx-1 mx-lg-5">
                            <img id="2" src="/images/chickpeas-shor.png" width="250" height="300" alt="Girl">
                        </div>
                        <p class="text-center"><i class="fa fa-star text-warning"></i> بسته بندی با وزن دلخواه شما و
                            ارسال به سراسر ایران <i class="fa fa-star text-warning"></i></p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-7">
                        <p class="product_name">
                            نخودچی شور درجه یک
                        </p>
                        <!-- شامل -->
                        <p class="d-none"> </i><span class="text-success"><i class="fa fa-box-open p-1"></i>شامل</span>
                            بادام هندی در سایز های 240(درشت تر) و سایز 320</p>

                        <ul>
                            <li> خشکبار رضا از تولید به مصرف</li>
                            <li><span class="text-danger">ارسال با پست پیشتاز </span> در سریع ترین زمان ممکن </li>
                            <li><span class="text-danger">ارسال رایگان </span> بالای 1 میلیون تومان </li>
                        </ul>
                        <p class="fs-6">
                            <span class="text-danger"> نکته : </span>
                            برای اطلاع از قیمت و سفارش محصول از طریق شبکه های اجتمایی با ما تماس حاصل فرمایید.
                        </p>
                    </div>
                </div>
            </section>
            <section class="main-border p-3">

                <div>
                    <div class="row">
                        <button class="btn product-btn product-feature-btn border-1">
                            خصوصیات محصول
                        </button>
                    </div>
                </div>
                <div class="product-info-feature-section">
                    <div class="productFeature fs-5 ">
                        <p>
                            نخودچی محصولی است که از نخود فرآوری شده است به این صورت که ابتدا نخود های ریز و تازه را
                            پخته و سپس آن را در ابکش کرده تا سرد شود و پوستش را جدا می کنند و یک مرحله ی دیگر آن را می
                            پزند، سپس بوسیله فلفل، شکر یا نمک آن را تفت میدهند تا ترد شود، اکنون نخودچی آماده است.
                        </p>
                        <p>
                            
                            نخود سرشار از آمینو اسیدها، ویتامین ها و مواد معدنی می باشد وبه همین جهت، نه تنها به عنوان مواد
                            غذایی استفاده می شود بلکه در درمان بسیاری از بیماری ها، مفید و حائز اهمیت است و به عنوان دارو
                            مورد استفاده قرار می گیرد.
                            <br>
                            در ادامه به برخی از خواص و کاربردهای نخودچی اشاره خواهد شد:
                            <br>نخودچی، منبع بسیار مفیدی از پروتئین و منگنز میباشد
                            2.جلوگیری از پوکی استخوان، درمان بیماری های معده و... از جمله خواص دیگر نخودچی میباشد.
                            <br>
                            3.جلوگیری از بیماری های حاد مانند سرطان
                            <br>
                            4. جلوگیری از سکته مغزی و قلبی
                            <br>
                            5. حفظ و تقویت سیستم ایمنی بدن و متابولیسم
                            <br>
                            6. تولید انرژی و تسهیل در دفاع آنتی اکسیدانی
                    </div>
                </div>
            </section>

        </div>
        <!-- End Product-1 -->

    </main>
    <!-- End Main -->

    <%- include("./includes/footer.ejs") %>

    
</body>

</html>