<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>خشکبار رضا</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/fontawesome/css/all.css">
    <link rel="stylesheet" href="/css/animate.min.css">
    <link rel="stylesheet" href="/css/grid.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/media-queries.css">
    <link rel="stylesheet" href="/css/aos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
</head>

<body id="body">

    <%- include("./includes/fixedButton.ejs") %>

    <!-- Hero -->
    <section class="chocolate-page-hero">
        <div class="navbar-space">
            <!-- search box DESPLAY-NONE-->
            <div class="search-box position-relative d-none">;
                <div>
                    <input type="text" class="form-control search-box-input position-absolute" placeholder="... جستجو">
                </div>
            </div>
            <nav class="navbar navbar-expand-lg d-flex justify-content-end ">
                <div>
                    <!-- shopping card and login & sign up DESPLAY-NONE  -->
                    <div class="shopingCard d-flex mt-5 d-none">
                        <a href="" class="text-black my-auto">
                            <i class='fa fa-shopping-cart blue-color fs-5'>
                            </i>
                            <span
                                class="position-absolute top-30 start-10 translate-middle badge shopping-cart-badge rounded-pill bg-danger">
                                4
                            </span>
                        </a>

                        <div class="divider-line mx-4"></div>
                        <!-- login & Register -->
                        <a href="" class="d-flex text-decoration-none text-black login-link">
                            <p> ورود </p>
                            <div class="divider-line"></div>
                            <p> ثبت نام</p>
                            <i class='fa fa-sign-in fs-5 ms-2'></i>
                        </a>
                        <!-- End login & Register -->
                        <!-- user circle icon -->
                        <span class="userProfile  d-none">
                            <span>
                                <i class="fas fa-user-circle text-black fs-4"></i>
                            </span>

                            <div class="body" dir="rtl">
                                <ul class="user-Profile-link">
                                    <li><a href="" class="user-dropdown-menu"><i
                                                class="fas fa-sign icon ms-3 "></i>پروفایل
                                        </a>
                                    </li>
                                    <li><a href="" class="user-dropdown-menu"><i class="fas fa-bar-chart ms-3 icon"></i>
                                            آمار
                                        </a>
                                    </li>
                                    <li><a href="" class="user-dropdown-menu"><i class="fas fa-boxes ms-3 icon"></i>
                                            ویجت ها</a></li>
                                    <li><a href="" class="user-dropdown-menu"><i
                                                class="fas fa-table ms-3 icon"></i>جداول
                                        </a>
                                    </li>
                                    <li><a href="" class="user-dropdown-menu"><i class="fa fa-cogs ms-3 icon"></i>
                                            تنظیمات
                                        </a>
                                    </li>
                                    <li><a href="" class="user-dropdown-menu"><i class="fas fa-sign-out  ms-3 icon"></i>
                                            خروج
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </span>
                        <!-- End user circle icon -->
                    </div>
                    <!-- logo -->
                    <div class="hero-logo d-none d-lg-block">
                        <a href="/">
                            <img src="/images/reza-nut-logo.png" style="width:100px; height: 100px;" alt="">
                        </a>
                    </div>
                </div>
                <!-- Header -->
                <%- include("./includes/header.ejs") %>
                <!-- End Header -->
            </nav>
        </div>
    </section>
    <!-- End Hero -->

    <!-- Main -->
    <main dir="rtl" class="height-100 h-auto">
        <div class="d-flex justify-content-center w-75 mx-auto ">
            <button id="product-btn-1" class="custom-btn btn-5"><span> شکلات کاکائویی تلخ </span></button>
            <button id="product-btn-2" class="custom-btn btn-5"><span> شکلات کاکائویی شیرین </span></button>
            <button id="product-btn-3" class="custom-btn btn-5"><span> تافی و آبنباتی </span></button>
            <button id="product-btn-4" class="custom-btn btn-5"><span> شکلات پشمکی</span></button>
            
        </div>

        
        <!-- Product-1 -->
        <div id="product-1">
            
            <section class="main-border p-3">
                <!-- paging layer -->
                <section class="d-flex">
                    <a href="/" class="text-decoration-none text-black opacity-50 px-2">
                        <p> فروشکاه اینترنتی خشکبار رضا /</p>
                    </a>
                    <a href="#header" class="text-decoration-none text-black opacity-50 px-2">
                        <p> شکلات /</p>
                    </a>
                    <a href="/products/chocolate#product-btn-1" class="text-decoration-none text-black opacity-50 px-2">
                        <p>شکلات کاکائویی تلخ   </p>
                    </a>
                </section>

                <div class="row product-profile">
                    <div class="col-12 col-md-6 col-lg-5 image-section position-relative">
                        <span> <i class="fa fa-magnifying-glass magnifying-glass-icon"></i></span>
                        <div class="img-magnifier-container mx-1 mx-lg-5">
                            <img id="1" src="/images/dark-chocolate.png" width="300" height="300"
                                alt="Girl">
                        </div>
                        <p class="text-center"><i class="fa fa-star text-warning"></i> بسته بندی با وزن دلخواه شما و
                            ارسال به سراسر ایران <i class="fa fa-star text-warning"></i></p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-7">
                        <h1 class="product_name">
                           شکلات تلخ قافلاکوه
                        </h1>
                        <!-- شامل -->
                        <p class="d-none"> </i><span class="text-success"><i class="fa fa-box-open p-1"></i>شامل</span> پسته احمد آقایی
                            بادام درختي ايراني بادام هندي تخمه كدوگوشتي تخمه جابوني</p>

                        <ul>
                            <li> خشکبار رضا از تولید به مصرف</li>
                            <li><span class="text-danger">ارسال با پست پیشتاز </span> در سریع ترین زمان ممکن </li>
                            <li><span class="text-danger">ارسال رایگان </span> بالای 1 میلیون تومان </li>
                        </ul>
                        <p class="fs-6">
                            <span class="text-danger"> نکته : </span>
                            برای اطلاع از قیمت و سفارش محصول از طریق شبکه های اجتمایی با ما تماس حاصل فرمایید.
                        </p>
                    </div>
                </div>
            </section>
            <section class="main-border p-3">

                <div>
                    <div class="row">
                        <button class="btn product-btn product-feature-btn border-1">
                            خصوصیات محصول
                        </button>
                    </div>
                </div>
                <div class="product-info-feature-section">
                    <div class="productFeature fs-5 ">
                        <p class="">
                            پسته یکی از اقلام مهم و ثابت آجیل ایرانی است که پتاسیم بالایی دارد و به علت داشتن مواد مغذی
                            از اهمیت بالایی در بین بسیاری از خانواده‌ها برخوردار می‌باشد. برخی از شهرهای ایران همچون
                            کرمان و رفسنجان، مرکز اصلی کشت و تولید این محصول می‌باشد. ما در ادامه این مطلب قصد داریم شما
                            را با مهم‌ترین فواید پسته تازه آشنا کنیم تا از این پس با آگاهی بیشتری این آجیل بی‌نظیر را
                            استفاده کنید.
                        </p>
                        <p>
                            پسته تازه سرشار از ویتامین و مواد مغذی طبیعی است. اما همین آجیل پرخاصیت هنگامی که فصل‌اش
                            تمام می‌شود و به صورت .
                            خشکبار وارد بازار می‌گردد.
                            وجود کلسیم و آهن سبب می‌شود تا این آجیل نقش بسیار مهمی در استحکام استخوان‌ها، دندان‌ها و
                            همچنین درمان بیماری‌هایی مانند کم خونی‌های ناشی از فقر آهن موثر باشد. این دانه مغذی به علت
                            غنی بودن از اسیدهای چرب امگا 3 به رشد مغز کودک کمک بسزایی می‌کند. البته مصرف پسته به تنهایی
                            نمی‌تواند سبب جذب کافی آهن در بدن شود. پسته همراه با سایر مواد غذایی حاوی آهن است که به این
                            موضوع کمک می‌کند.
                            از خواص پسته برای لاغری و کاهش وزن نمی‌توان چشم پوشی کرد. این موضوع یک واقعیت است که همه
                            مغزهای خوراکی کالری بالایی دارند، با این حال آجیل‌ها به دلیل برخی خواص خود اگر به درستی و
                            همراه با یک رژیم کم کالری مصرف شوند منجر به کاهش وزن نیز می‌شوند. در واقع فیبر موجود در پسته
                            می‌تواند سبب بهبود فرآیند گوارش، جلوگیری از ابتلا به یبوست و خروج مواد زائد بدن به دلیل
                            ارتقای عملکرد روده شود. همچنین پروتئین و فیبر فراوان موجود در این خوراکی می‌تواند به افزایش
                            مدت زمان احساس سیری شما کمک کرده و از این طریق نیز منجر به کاهش وزن گردد.
                        </p>
                        <img src="" height="100px" alt="">
                        <p>
                            علی رغم اینکه میزان کربوهیدرات موجود در پسته بالاتر از اکثر آجیل‌ها است دارای شاخص گلیسمی
                            پایینی بوده و سبب افزایش قند خون نمی‌شود. پژوهشی نشان می‌دهد هنگام مصرف 2 اونس پسته (حدود 50
                            گرم) همراه با یک رژیم غذایی غنی از کربوهیدرات، پاسخ قند خون افراد سالم پس از صرف غذا 20 تا
                            30 درصد کاهش می‌یابد. در پژوهشی دیگر، در افراد مبتلا به دیابت نوع 2 پس از خوردن 25 گرم پسته
                            به عنوان میان وعده و دو بار در روز، 9 درصد کاهش در قند خون ناشتای ایشان مشاهده شد. علاوه بر
                            این پسته غنی از فیبر و چربی‌های سالم بوده و سرشار از آنتی‌اکسیدان‌های کاروتنوئید و ترکیبات
                            فنلی است. همه این مواد برای کنترل قند خون مفید هستند.
                        </p>
                    </div>
                </div>
            </section>

        </div>
        <!-- End Product-1 -->
        <!-- Product-2 -->
        <div id="product-2">
           
            <section class="main-border p-3">
                <!-- paging layer -->
                <section class="d-flex">
                    <a href="/" class="text-decoration-none text-black opacity-50 px-2">
                        <p> فروشکاه اینترنتی خشکبار رضا /</p>
                    </a>
                    <a href="#header" class="text-decoration-none text-black opacity-50 px-2">
                        <p> شکلات /</p>
                    </a>
                    <a href="/products/chocolate#product-btn-2" class="text-decoration-none text-black opacity-50 px-2">
                        <p>شکلات کاکائویی شیرین   </p>
                    </a>
                </section>

                <div class="row product-profile">
                    <div class="col-12 col-md-6 col-lg-5 image-section position-relative">
                        <span> <i class="fa fa-magnifying-glass magnifying-glass-icon"></i></span>
                        <div class="img-magnifier-container mx-1 mx-lg-5">
                            <img id="2" src="/images/benis-choco.png" width="300" height="300"
                                alt="Girl">
                        </div>
                        <p class="text-center"><i class="fa fa-star text-warning"></i> بسته بندی با وزن دلخواه شما و
                            ارسال به سراسر ایران <i class="fa fa-star text-warning"></i></p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-7">
                        <h1 class="product_name">
                            شکلات بنیس قافلاکوه
                        </h1>
                        <!-- شامل -->
                        <p class="d-none"> </i><span class="text-success"><i class="fa fa-box-open p-1"></i>شامل</span> پسته احمد آقایی
                            بادام درختي ايراني بادام هندي تخمه كدوگوشتي تخمه جابوني</p>

                        <ul>
                            <li> خشکبار رضا از تولید به مصرف</li>
                            <li><span class="text-danger">ارسال با پست پیشتاز </span> در سریع ترین زمان ممکن </li>
                            <li><span class="text-danger">ارسال رایگان </span> بالای 1 میلیون تومان </li>
                        </ul>
                        <p class="fs-6">
                            <span class="text-danger"> نکته : </span>
                            برای اطلاع از قیمت و سفارش محصول از طریق شبکه های اجتمایی با ما تماس حاصل فرمایید.
                        </p>
                    </div>
                </div>
            </section>
           
            <section class="main-border p-3">

                <div>
                    <div class="row">
                        <button class="btn product-btn product-feature-btn border-1">
                            خصوصیات محصول
                        </button>
                    </div>
                </div>
                <div class="product-info-feature-section">
                    <div class="productFeature fs-5 ">
                        <p class="">
                            پسته یکی از اقلام مهم و ثابت آجیل ایرانی است که پتاسیم بالایی دارد و به علت داشتن مواد مغذی
                            از اهمیت بالایی در بین بسیاری از خانواده‌ها برخوردار می‌باشد. برخی از شهرهای ایران همچون
                            کرمان و رفسنجان، مرکز اصلی کشت و تولید این محصول می‌باشد. ما در ادامه این مطلب قصد داریم شما
                            را با مهم‌ترین فواید پسته تازه آشنا کنیم تا از این پس با آگاهی بیشتری این آجیل بی‌نظیر را
                            استفاده کنید.
                        </p>
                        <p>
                            پسته تازه سرشار از ویتامین و مواد مغذی طبیعی است. اما همین آجیل پرخاصیت هنگامی که فصل‌اش
                            تمام می‌شود و به صورت .
                            خشکبار وارد بازار می‌گردد.
                            وجود کلسیم و آهن سبب می‌شود تا این آجیل نقش بسیار مهمی در استحکام استخوان‌ها، دندان‌ها و
                            همچنین درمان بیماری‌هایی مانند کم خونی‌های ناشی از فقر آهن موثر باشد. این دانه مغذی به علت
                            غنی بودن از اسیدهای چرب امگا 3 به رشد مغز کودک کمک بسزایی می‌کند. البته مصرف پسته به تنهایی
                            نمی‌تواند سبب جذب کافی آهن در بدن شود. پسته همراه با سایر مواد غذایی حاوی آهن است که به این
                            موضوع کمک می‌کند.
                            از خواص پسته برای لاغری و کاهش وزن نمی‌توان چشم پوشی کرد. این موضوع یک واقعیت است که همه
                            مغزهای خوراکی کالری بالایی دارند، با این حال آجیل‌ها به دلیل برخی خواص خود اگر به درستی و
                            همراه با یک رژیم کم کالری مصرف شوند منجر به کاهش وزن نیز می‌شوند. در واقع فیبر موجود در پسته
                            می‌تواند سبب بهبود فرآیند گوارش، جلوگیری از ابتلا به یبوست و خروج مواد زائد بدن به دلیل
                            ارتقای عملکرد روده شود. همچنین پروتئین و فیبر فراوان موجود در این خوراکی می‌تواند به افزایش
                            مدت زمان احساس سیری شما کمک کرده و از این طریق نیز منجر به کاهش وزن گردد.
                        </p>
                        <img src="" height="100px" alt="">
                        <p>
                            علی رغم اینکه میزان کربوهیدرات موجود در پسته بالاتر از اکثر آجیل‌ها است دارای شاخص گلیسمی
                            پایینی بوده و سبب افزایش قند خون نمی‌شود. پژوهشی نشان می‌دهد هنگام مصرف 2 اونس پسته (حدود 50
                            گرم) همراه با یک رژیم غذایی غنی از کربوهیدرات، پاسخ قند خون افراد سالم پس از صرف غذا 20 تا
                            30 درصد کاهش می‌یابد. در پژوهشی دیگر، در افراد مبتلا به دیابت نوع 2 پس از خوردن 25 گرم پسته
                            به عنوان میان وعده و دو بار در روز، 9 درصد کاهش در قند خون ناشتای ایشان مشاهده شد. علاوه بر
                            این پسته غنی از فیبر و چربی‌های سالم بوده و سرشار از آنتی‌اکسیدان‌های کاروتنوئید و ترکیبات
                            فنلی است. همه این مواد برای کنترل قند خون مفید هستند.
                        </p>
                    </div>
                </div>
            </section>

        </div>
        <!-- End Product-2 -->
        <!-- Product-3 -->
        <div id="product-3">
            <!-- 1 -->
            <section class="main-border p-3">
                <!-- paging layer -->
                <section class="d-flex">
                    <a href="/" class="text-decoration-none text-black opacity-50 px-2">
                        <p> فروشکاه اینترنتی خشکبار رضا /</p>
                    </a>
                    <a href="#header" class="text-decoration-none text-black opacity-50 px-2">
                        <p> شکلات /</p>
                    </a>
                    <a href="/products/chocolate#product-btn-3" class="text-decoration-none text-black opacity-50 px-2">
                        <p>  تافی و آبنباتی  </p>
                    </a>
                </section>

                <div class="row product-profile">
                    <div class="col-12 col-md-6 col-lg-5 image-section position-relative">
                        <span> <i class="fa fa-magnifying-glass magnifying-glass-icon"></i></span>
                        <div class="img-magnifier-container mx-1 mx-lg-5">
                            <img id="3" src="/images/toofis.png" width="400" height="300"
                                >
                        </div>
                        <p class="text-center"><i class="fa fa-star text-warning"></i> بسته بندی با وزن دلخواه شما و
                            ارسال به سراسر ایران <i class="fa fa-star text-warning"></i></p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-7">
                        <h1 class="product_name">
                             شکلات تافی توفیس
                        </h1>
                        <!-- شامل -->
                        <p class="d-none"> </i><span class="text-success"><i class="fa fa-box-open p-1"></i>شامل</span> پسته احمد آقایی
                            بادام درختي ايراني بادام هندي تخمه كدوگوشتي تخمه جابوني</p>

                        <ul>
                            <li> خشکبار رضا از تولید به مصرف</li>
                            <li><span class="text-danger">ارسال با پست پیشتاز </span> در سریع ترین زمان ممکن </li>
                            <li><span class="text-danger">ارسال رایگان </span> بالای 1 میلیون تومان </li>
                        </ul>
                        <p class="fs-6">
                            <span class="text-danger"> نکته : </span>
                            برای اطلاع از قیمت و سفارش محصول از طریق شبکه های اجتمایی با ما تماس حاصل فرمایید.
                        </p>
                    </div>
                </div>
            </section>
            <!-- 1 -->
            <section class="main-border p-3">
                <!-- paging layer -->
                <section class="d-flex">
                    <a href="" class="text-decoration-none text-black opacity-50 px-2">
                        <p> فروشکاه اینترنتی خشکبار رضا /</p>
                    </a>
                    <a href="" class="text-decoration-none text-black opacity-50 px-2">
                        <p> آجیل /</p>
                    </a>
                    <a href="" class="text-decoration-none text-black opacity-50 px-2">
                        <p> پسته</p>
                    </a>
                </section>

                <div class="row product-profile">
                    <div class="col-12 col-md-6 col-lg-5 image-section position-relative">
                        <span> <i class="fa fa-magnifying-glass magnifying-glass-icon"></i></span>
                        <div class="img-magnifier-container mx-1 mx-lg-5">
                            <img id="4" src="/images/tofika.png" width="300" height="300"
                                >
                        </div>
                        <p class="text-center"><i class="fa fa-star text-warning"></i> بسته بندی با وزن دلخواه شما و
                            ارسال به سراسر ایران <i class="fa fa-star text-warning"></i></p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-7">
                        <h1 class="product_name">
                             شکلات تافی توفیکا
                        </h1>
                        <!-- شامل -->
                        <p class="d-none"> </i><span class="text-success"><i class="fa fa-box-open p-1"></i>شامل</span> پسته احمد آقایی
                            بادام درختي ايراني بادام هندي تخمه كدوگوشتي تخمه جابوني</p>

                        <ul>
                            <li> خشکبار رضا از تولید به مصرف</li>
                            <li><span class="text-danger">ارسال با پست پیشتاز </span> در سریع ترین زمان ممکن </li>
                            <li><span class="text-danger">ارسال رایگان </span> بالای 1 میلیون تومان </li>
                        </ul>
                        <p class="fs-6">
                            <span class="text-danger"> نکته : </span>
                            برای اطلاع از قیمت و سفارش محصول از طریق شبکه های اجتمایی با ما تماس حاصل فرمایید.
                        </p>
                    </div>
                </div>
            </section>

        </div>
        <!-- End Product-3 -->
        <!-- Product-4 -->
        <div id="product-4">
            
            <section class="main-border p-3">
                <!-- paging layer -->
                <section class="d-flex">
                    <a href="/" class="text-decoration-none text-black opacity-50 px-2">
                        <p> فروشکاه اینترنتی خشکبار رضا /</p>
                    </a>
                    <a href="#header" class="text-decoration-none text-black opacity-50 px-2">
                        <p> شکلات /</p>
                    </a>
                    <a href="/products/chocolate#product-btn-4" class="text-decoration-none text-black opacity-50 px-2">
                        <p> شکلات پشمکی </p>
                    </a>
                </section>

                <div class="row product-profile">
                    <div class="col-12 col-md-6 col-lg-5 image-section position-relative">
                        <span> <i class="fa fa-magnifying-glass magnifying-glass-icon"></i></span>
                        <div class="img-magnifier-container mx-1 mx-lg-5">
                            <img id="5" src="/images/pashmak.png" width="400" height="300"
                                alt="Girl">
                        </div>
                        <p class="text-center"><i class="fa fa-star text-warning"></i> بسته بندی با وزن دلخواه شما و
                            ارسال به سراسر ایران <i class="fa fa-star text-warning"></i></p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-7">
                        <h1 class="product_name">
                            شکلات پشمکی حاج عبدا...
                        </h1>
                        <!-- شامل -->
                        <p class=""> </i><span class="text-success"><i class="fa fa-box-open p-1"></i>شامل</span> مخلوط کاکائویی و شیری </p>

                        <ul>
                            <li> خشکبار رضا از تولید به مصرف</li>
                            <li><span class="text-danger">ارسال با پست پیشتاز </span> در سریع ترین زمان ممکن </li>
                            <li><span class="text-danger">ارسال رایگان </span> بالای 1 میلیون تومان </li>
                        </ul>
                        <p class="fs-6">
                            <span class="text-danger"> نکته : </span>
                            برای اطلاع از قیمت و سفارش محصول از طریق شبکه های اجتمایی با ما تماس حاصل فرمایید.
                        </p>
                    </div>
                </div>
            </section>
            <section class="main-border p-3">

                <div>
                    <div class="row">
                        <button class="btn product-btn product-feature-btn border-1">
                            خصوصیات محصول
                        </button>
                    </div>
                </div>
                <div class="product-info-feature-section">
                    <div class="productFeature fs-5 ">
                        <p class="">
                            پسته یکی از اقلام مهم و ثابت آجیل ایرانی است که پتاسیم بالایی دارد و به علت داشتن مواد مغذی
                            از اهمیت بالایی در بین بسیاری از خانواده‌ها برخوردار می‌باشد. برخی از شهرهای ایران همچون
                            کرمان و رفسنجان، مرکز اصلی کشت و تولید این محصول می‌باشد. ما در ادامه این مطلب قصد داریم شما
                            را با مهم‌ترین فواید پسته تازه آشنا کنیم تا از این پس با آگاهی بیشتری این آجیل بی‌نظیر را
                            استفاده کنید.
                        </p>
                        <p>
                            پسته تازه سرشار از ویتامین و مواد مغذی طبیعی است. اما همین آجیل پرخاصیت هنگامی که فصل‌اش
                            تمام می‌شود و به صورت .
                            خشکبار وارد بازار می‌گردد.
                            وجود کلسیم و آهن سبب می‌شود تا این آجیل نقش بسیار مهمی در استحکام استخوان‌ها، دندان‌ها و
                            همچنین درمان بیماری‌هایی مانند کم خونی‌های ناشی از فقر آهن موثر باشد. این دانه مغذی به علت
                            غنی بودن از اسیدهای چرب امگا 3 به رشد مغز کودک کمک بسزایی می‌کند. البته مصرف پسته به تنهایی
                            نمی‌تواند سبب جذب کافی آهن در بدن شود. پسته همراه با سایر مواد غذایی حاوی آهن است که به این
                            موضوع کمک می‌کند.
                            از خواص پسته برای لاغری و کاهش وزن نمی‌توان چشم پوشی کرد. این موضوع یک واقعیت است که همه
                            مغزهای خوراکی کالری بالایی دارند، با این حال آجیل‌ها به دلیل برخی خواص خود اگر به درستی و
                            همراه با یک رژیم کم کالری مصرف شوند منجر به کاهش وزن نیز می‌شوند. در واقع فیبر موجود در پسته
                            می‌تواند سبب بهبود فرآیند گوارش، جلوگیری از ابتلا به یبوست و خروج مواد زائد بدن به دلیل
                            ارتقای عملکرد روده شود. همچنین پروتئین و فیبر فراوان موجود در این خوراکی می‌تواند به افزایش
                            مدت زمان احساس سیری شما کمک کرده و از این طریق نیز منجر به کاهش وزن گردد.
                        </p>
                        <img src="" height="100px" alt="">
                        <p>
                            علی رغم اینکه میزان کربوهیدرات موجود در پسته بالاتر از اکثر آجیل‌ها است دارای شاخص گلیسمی
                            پایینی بوده و سبب افزایش قند خون نمی‌شود. پژوهشی نشان می‌دهد هنگام مصرف 2 اونس پسته (حدود 50
                            گرم) همراه با یک رژیم غذایی غنی از کربوهیدرات، پاسخ قند خون افراد سالم پس از صرف غذا 20 تا
                            30 درصد کاهش می‌یابد. در پژوهشی دیگر، در افراد مبتلا به دیابت نوع 2 پس از خوردن 25 گرم پسته
                            به عنوان میان وعده و دو بار در روز، 9 درصد کاهش در قند خون ناشتای ایشان مشاهده شد. علاوه بر
                            این پسته غنی از فیبر و چربی‌های سالم بوده و سرشار از آنتی‌اکسیدان‌های کاروتنوئید و ترکیبات
                            فنلی است. همه این مواد برای کنترل قند خون مفید هستند.
                        </p>
                    </div>
                </div>
            </section>

        </div>
        <!-- End Product-4 -->
    


        <div id="mainSectionLogo">
            <img class="sectionLogo" src="/images/reza-nut-logo.png" alt="">
        </div>

    </main>
    <!-- End Main -->

    <%- include("./includes/footer.ejs") %>
    
</body>

</html>