<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>خشکبار رضا</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/fontawesome/css/all.css">
    <link rel="stylesheet" href="/css/animate.min.css">
    <link rel="stylesheet" href="/css/grid.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/media-queries.css">
    <link rel="stylesheet" href="/css/aos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
</head>

<body id="body">
  
    <%- include("./includes/fixedButton.ejs") %>

    <!-- Hero -->
    <section class="dates-page-hero">
        <div class="navbar-space">
            <!-- search box DESPLAY-NONE-->
            <div class="search-box position-relative d-none">;
                <div>
                    <input type="text" class="form-control search-box-input position-absolute" placeholder="... جستجو">
                </div>
            </div>
            <nav class="navbar navbar-expand-lg d-flex justify-content-end ">
                <div>
                    <!-- shopping card and login & sign up DESPLAY-NONE  -->
                    <div class="shopingCard d-flex mt-5 d-none">
                        <a href="" class="text-black my-auto">
                            <i class='fa fa-shopping-cart blue-color fs-5'>
                            </i>
                            <span
                                class="position-absolute top-30 start-10 translate-middle badge shopping-cart-badge rounded-pill bg-danger">
                                4
                            </span>
                        </a>

                        <div class="divider-line mx-4"></div>
                        <!-- login & Register -->
                        <a href="" class="d-flex text-decoration-none text-black login-link">
                            <p> ورود </p>
                            <div class="divider-line"></div>
                            <p> ثبت نام</p>
                            <i class='fa fa-sign-in fs-5 ms-2'></i>
                        </a>
                        <!-- End login & Register -->
                        <!-- user circle icon -->
                        <span class="userProfile  d-none">
                            <span>
                                <i class="fas fa-user-circle text-black fs-4"></i>
                            </span>

                            <div class="body" dir="rtl">
                                <ul class="user-Profile-link">
                                    <li><a href="" class="user-dropdown-menu"><i
                                                class="fas fa-sign icon ms-3 "></i>پروفایل
                                        </a>
                                    </li>
                                    <li><a href="" class="user-dropdown-menu"><i class="fas fa-bar-chart ms-3 icon"></i>
                                            آمار
                                        </a>
                                    </li>
                                    <li><a href="" class="user-dropdown-menu"><i class="fas fa-boxes ms-3 icon"></i>
                                            ویجت ها</a></li>
                                    <li><a href="" class="user-dropdown-menu"><i
                                                class="fas fa-table ms-3 icon"></i>جداول
                                        </a>
                                    </li>
                                    <li><a href="" class="user-dropdown-menu"><i class="fa fa-cogs ms-3 icon"></i>
                                            تنظیمات
                                        </a>
                                    </li>
                                    <li><a href="" class="user-dropdown-menu"><i class="fas fa-sign-out  ms-3 icon"></i>
                                            خروج
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </span>
                        <!-- End user circle icon -->
                    </div>
                    <!-- logo -->
                    <div class="hero-logo d-none d-lg-block">
                        <a href="/">
                            <img src="/images/reza-nut-logo.png" style="width:100px; height: 100px;" alt="">
                        </a>
                    </div>
                </div>
                <!-- Header -->
                <%- include("./includes/header.ejs") %>
                <!-- End Header -->
            </nav>
        </div>
    </section>
    <!-- End Hero -->

    <!-- Main -->
    <main dir="rtl" class="height-100 h-auto">
        <div class="d-flex justify-content-center w-75 mx-auto ">
            <button id="product-btn-1" class="custom-btn btn-5"><span>  خرما پیارم </span></button>
            <button id="product-btn-2" class="custom-btn btn-5"><span> خرما زاهدی </span></button>
        </div>

        
        <!-- Product-1 -->
        <div id="product-1">
            <!-- پیارم -->
            <section class="main-border p-3">
                <!-- paging layer -->
                <section class="d-flex">
                    <a href="/" class="text-decoration-none text-black opacity-50 px-2">
                        <p> فروشکاه اینترنتی خشکبار رضا /</p>
                    </a>
                    <a href="#header" class="text-decoration-none text-black opacity-50 px-2">
                        <p> خشکبار /</p>
                    </a>
                    <a href="/products/dates#product-btn-1" class="text-decoration-none text-black opacity-50 px-2">
                        <p>  خرما پیارم</p>
                    </a>
                </section>

                <div class="row product-profile">
                    <div class="col-12 col-md-6 col-lg-5 image-section position-relative">
                        <span> <i class="fa fa-magnifying-glass magnifying-glass-icon"></i></span>
                        <div class="img-magnifier-container mx-1 mx-lg-5">
                            <img id="1" src="/images/piarom-dates.png" width="400" height="300"
                                alt="Girl">
                        </div>
                        <p class="text-center"><i class="fa fa-star text-warning"></i> بسته بندی با وزن دلخواه شما و
                            ارسال به سراسر ایران <i class="fa fa-star text-warning"></i></p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-7">
                        <h1 class="product_name">
                         خرما پیارم
                        </h1>
                        <!-- شامل -->
                        <p class="d-none"> </i><span class="text-success"><i class="fa fa-box-open p-1"></i>شامل</span> پسته احمد آقایی خام
                           مغز فندوق خام مغز بادام درختي خام بادام هندي خام </p>

                        <ul>
                            <li> خشکبار رضا از تولید به مصرف</li>
                            <li><span class="text-danger">ارسال با پست پیشتاز </span> در سریع ترین زمان ممکن </li>
                            <li><span class="text-danger">ارسال رایگان </span> بالای 1 میلیون تومان </li>
                        </ul>
                        <p class="fs-6">
                            <span class="text-danger"> نکته : </span>
                            برای اطلاع از قیمت و سفارش محصول از طریق شبکه های اجتمایی با ما تماس حاصل فرمایید.
                        </p>
                    </div>
                </div>
            </section>
        
            <section class="main-border p-3">

                <div>
                    <div class="row">
                        <button class="btn product-btn product-feature-btn border-1">
                            خصوصیات محصول
                        </button>
                    </div>
                </div>
                <div class="product-info-feature-section">
                    <div class="productFeature fs-5 ">
                        <p>خرما یک میوه بسیار محبوب و مفید است و دارای خصوصیات متعددی است که برای سلامتی مفید هستند. برخی از خواص اصلی خرما عبارتند از:
                            <br>
                            1. منبع انرژی: خرما دارای مقدار زیادی کربوهیدرات طبیعی و قند است که به عنوان یک منبع انرژی سریع و موثر برای بدن عمل می‌کند. این میوه مناسب برای افرادی است که نیاز به افزایش سطح انرژی خود دارند.
                            <br>
                            
                            2. فیبر غذایی: خرما دارای مقدار قابل توجهی فیبر غذایی است که به یک عملکرد دستگاه گوارش سالم کمک می‌کند و می‌تواند به کنترل قند خون و کاهش میزان کلسترول نیز کمک کند.
                            <br>
                            
                            3. ویتامین‌ها و مواد معدنی: خرما حاوی ویتامین‌های مهمی مانند ویتامین C و ویتامین B6 است. همچنین حاوی مواد معدنی مانند پتاسیم، مگنزیم و آهن است که برای حفظ سلامتی عضلات، اعصاب و قلب مفید هستند.
                            <br>
                            
                            4. آنتی‌اکسیدان‌ها: خرما دارای آنتی‌اکسیدان‌های طبیعی مانند فنلیک اسیدها و کاروتنوئیدها است که می‌توانند در مقابل عوامل آسیب‌رسان محافظت کنند و به جلوگیری از آسیب به سلول‌های بدن کمک کنند.
                            <br>
                            
                            5. اثرات ضد التهابی: برخی تحقیقات نشان داده‌اند که مصرف خرما ممکن است به عنوان یک ماده ضد التهابی در بدن عمل کند و به کاهش التهاب‌های مزمن کمک کند.
                            <br>
                            
                            6. سلامت قلبی: خرما می‌تواند به بهبود سلامت قلب و عروق کمک کند؛ زیرا پتاسیم موجود در آن می‌تواند فشار خون را کاهش دهد.
                            <br>
                            
                            7. کمک به سلامت استخوان: ویتامین‌ها و مواد معدنی در خرما می‌توانند به تقویت استخوان‌ها و پیشگیری از بیماری‌های استخوانی مفید باشند.
                            <br>
                            
                            8. سلامت پوست: خرما می‌تواند به حفظ سلامت پوست کمک کند و به دلیل ویتامین C موجود در آن، ممکن است از پیری زودرس پوست جلوگیری کند.
                            <br>
                            
                            به عنوان یک میوه خوشمزه و مغذی، خرما می‌تواند به تغذیه سالم و متوازن شما افزوده شود و در رژیم غذایی روزانه شما جایگاه داشته باشد. اما توجه داشته باشید که مصرف معقول و متعادل اهمیت دارد و به دلیل مقدار قند آن، باید با میزان مصرف مواظبت کرد.
                        </p>
                    </div>
                </div>
            </section>

        </div>
        <!-- End Product-1 -->
        <!-- Product-2 -->
        <div id="product-2">
            <!-- زاهدی -->
            <section class="main-border p-3">
                <!-- paging layer -->
                <section class="d-flex">
                    <a href="/" class="text-decoration-none text-black opacity-50 px-2">
                        <p> فروشکاه اینترنتی خشکبار رضا /</p>
                    </a>
                    <a href="#header" class="text-decoration-none text-black opacity-50 px-2">
                        <p> خشکبار /</p>
                    </a>
                    <a href="/products/dates#product-btn-2" class="text-decoration-none text-black opacity-50 px-2">
                        <p>  خرما زاهدی</p>
                    </a>
                </section>

                <div class="row product-profile">
                    <div class="col-12 col-md-6 col-lg-5 image-section position-relative">
                        <span> <i class="fa fa-magnifying-glass magnifying-glass-icon"></i></span>
                        <div class="img-magnifier-container mx-1 mx-lg-5">
                            <img id="2" src="/images/zahedi-dates.png" width="400" height="300"
                                alt="Girl">
                        </div>
                        <p class="text-center"><i class="fa fa-star text-warning"></i> بسته بندی با وزن دلخواه شما و
                            ارسال به سراسر ایران <i class="fa fa-star text-warning"></i></p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-7">
                        <h1 class="product_name">
                            خرما زاهدی
                        </h1>
                        <!-- شامل -->
                        <p class="d-none"> </i><span class="text-success"><i class="fa fa-box-open p-1"></i>شامل</span> پسته احمد آقایی
                            بادام درختي ايراني بادام هندي تخمه كدوگوشتي تخمه جابوني</p>

                        <ul>
                            <li> خشکبار رضا از تولید به مصرف</li>
                            <li><span class="text-danger">ارسال با پست پیشتاز </span> در سریع ترین زمان ممکن </li>
                            <li><span class="text-danger">ارسال رایگان </span> بالای 1 میلیون تومان </li>
                        </ul>
                        <p class="fs-6">
                            <span class="text-danger"> نکته : </span>
                            برای اطلاع از قیمت و سفارش محصول از طریق شبکه های اجتمایی با ما تماس حاصل فرمایید.
                        </p>
                    </div>
                </div>
            </section>
            
            <section class="main-border p-3">

                <div>
                    <div class="row">
                        <button class="btn product-btn product-feature-btn border-1">
                            خصوصیات محصول
                        </button>
                    </div>
                </div>
                <div class="product-info-feature-section">
                    <div class="productFeature fs-5 ">
                        <p>خرما یک میوه بسیار محبوب و مفید است و دارای خصوصیات متعددی است که برای سلامتی مفید هستند. برخی از خواص اصلی خرما عبارتند از:
                            <br>
                            1. منبع انرژی: خرما دارای مقدار زیادی کربوهیدرات طبیعی و قند است که به عنوان یک منبع انرژی سریع و موثر برای بدن عمل می‌کند. این میوه مناسب برای افرادی است که نیاز به افزایش سطح انرژی خود دارند.
                            <br>
                            
                            2. فیبر غذایی: خرما دارای مقدار قابل توجهی فیبر غذایی است که به یک عملکرد دستگاه گوارش سالم کمک می‌کند و می‌تواند به کنترل قند خون و کاهش میزان کلسترول نیز کمک کند.
                            <br>
                            
                            3. ویتامین‌ها و مواد معدنی: خرما حاوی ویتامین‌های مهمی مانند ویتامین C و ویتامین B6 است. همچنین حاوی مواد معدنی مانند پتاسیم، مگنزیم و آهن است که برای حفظ سلامتی عضلات، اعصاب و قلب مفید هستند.
                            <br>
                            
                            4. آنتی‌اکسیدان‌ها: خرما دارای آنتی‌اکسیدان‌های طبیعی مانند فنلیک اسیدها و کاروتنوئیدها است که می‌توانند در مقابل عوامل آسیب‌رسان محافظت کنند و به جلوگیری از آسیب به سلول‌های بدن کمک کنند.
                            <br>
                            
                            5. اثرات ضد التهابی: برخی تحقیقات نشان داده‌اند که مصرف خرما ممکن است به عنوان یک ماده ضد التهابی در بدن عمل کند و به کاهش التهاب‌های مزمن کمک کند.
                            <br>
                            
                            6. سلامت قلبی: خرما می‌تواند به بهبود سلامت قلب و عروق کمک کند؛ زیرا پتاسیم موجود در آن می‌تواند فشار خون را کاهش دهد.
                            <br>
                            
                            7. کمک به سلامت استخوان: ویتامین‌ها و مواد معدنی در خرما می‌توانند به تقویت استخوان‌ها و پیشگیری از بیماری‌های استخوانی مفید باشند.
                            <br>
                            
                            8. سلامت پوست: خرما می‌تواند به حفظ سلامت پوست کمک کند و به دلیل ویتامین C موجود در آن، ممکن است از پیری زودرس پوست جلوگیری کند.
                            <br>
                            
                            به عنوان یک میوه خوشمزه و مغذی، خرما می‌تواند به تغذیه سالم و متوازن شما افزوده شود و در رژیم غذایی روزانه شما جایگاه داشته باشد. اما توجه داشته باشید که مصرف معقول و متعادل اهمیت دارد و به دلیل مقدار قند آن، باید با میزان مصرف مواظبت کرد.
                        </p>
                    </div>
                </div>
            </section>

        </div>
        <!-- End Product-2 -->

        <div id="mainSectionLogo">
            <img class="sectionLogo" src="/images/reza-nut-logo.png" alt="">
        </div>


    </main>
    <!-- End Main -->

    <%- include("./includes/footer.ejs") %>
    
</body>

</html>