<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>خشکبار رضا</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/fontawesome/css/all.css">
    <link rel="stylesheet" href="/css/animate.min.css">
    <link rel="stylesheet" href="/css/grid.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/media-queries.css">
    <link rel="stylesheet" href="/css/aos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
</head>

<body id="body">

    <%- include("./includes/fixedButton.ejs") %>

    <!-- Hero-->
    <section class="driFruit-page-hero">
        <div class="navbar-space">
            <!-- search box DESPLAY-NONE-->
            <div class="search-box position-relative d-none">;
                <div>
                    <input type="text" class="form-control search-box-input position-absolute" placeholder="... جستجو">
                </div>
            </div>
            <nav class="navbar navbar-expand-lg d-flex justify-content-end ">
                <div>
                    <!-- shopping card and login & sign up DESPLAY-NONE  -->
                    <div class="shopingCard d-flex mt-5 d-none">
                        <a href="" class="text-black my-auto">
                            <i class='fa fa-shopping-cart blue-color fs-5'>
                            </i>
                            <span
                                class="position-absolute top-30 start-10 translate-middle badge shopping-cart-badge rounded-pill bg-danger">
                                4
                            </span>
                        </a>

                        <div class="divider-line mx-4"></div>
                        <!-- login & Register -->
                        <a href="" class="d-flex text-decoration-none text-black login-link">
                            <p> ورود </p>
                            <div class="divider-line"></div>
                            <p> ثبت نام</p>
                            <i class='fa fa-sign-in fs-5 ms-2'></i>
                        </a>
                        <!-- End login & Register -->
                        <!-- user circle icon -->
                        <span class="userProfile  d-none">
                            <span>
                                <i class="fas fa-user-circle text-black fs-4"></i>
                            </span>

                            <div class="body" dir="rtl">
                                <ul class="user-Profile-link">
                                    <li><a href="" class="user-dropdown-menu"><i
                                                class="fas fa-sign icon ms-3 "></i>پروفایل
                                        </a>
                                    </li>
                                    <li><a href="" class="user-dropdown-menu"><i class="fas fa-bar-chart ms-3 icon"></i>
                                            آمار
                                        </a>
                                    </li>
                                    <li><a href="" class="user-dropdown-menu"><i class="fas fa-boxes ms-3 icon"></i>
                                            ویجت ها</a></li>
                                    <li><a href="" class="user-dropdown-menu"><i
                                                class="fas fa-table ms-3 icon"></i>جداول
                                        </a>
                                    </li>
                                    <li><a href="" class="user-dropdown-menu"><i class="fa fa-cogs ms-3 icon"></i>
                                            تنظیمات
                                        </a>
                                    </li>
                                    <li><a href="" class="user-dropdown-menu"><i class="fas fa-sign-out  ms-3 icon"></i>
                                            خروج
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </span>
                        <!-- End user circle icon -->
                    </div>
                    <!-- logo -->
                    <div class="hero-logo d-none d-lg-block">
                        <a href="/">
                            <img src="/images/reza-nut-logo.png" style="width:100px; height: 100px;" alt="">
                        </a>
                    </div>
                </div>
                <!-- Header -->
                <%- include("./includes/header.ejs") %>
                <!-- End Header -->
            </nav>
        </div>
    </section>
    <!-- End Hero -->

    <!-- Main -->
    <main dir="rtl" class="height-100 h-auto">
        <div class="d-flex justify-content-center w-75 mx-auto ">
            <button id="product-btn-1" class="custom-btn btn-5"><span> میوه خشک مخلوط </span></button>
            <button id="product-btn-2" class="custom-btn btn-5"><span> موز خشک </span></button>
            <button id="product-btn-3" class="custom-btn btn-5"><span> کیوی خشک </span></button>
            <button id="product-btn-4" class="custom-btn btn-5"><span> سیب خشک </span></button>
            <button id="product-btn-5" class="custom-btn btn-5"><span> توت فرنگی خشک </span></button>
            <button id="product-btn-6" class="custom-btn btn-5"><span> پرتغال خشک </span></button>
            <button id="product-btn-7" class="custom-btn btn-5"><span> انبه خشک </span></button>
            <button id="product-btn-8" class="custom-btn btn-5"><span> آناناس خشک </span></button>
            <button id="product-btn-9" class="custom-btn btn-5"><span> خرمالو خشک </span></button>
            <button id="product-btn-10" class="custom-btn btn-5"><span> هلو خشک </span></button>
        </div>

        
        <!-- Product-1 -->
        <div id="product-1">
            
            <section class="main-border p-3">
                <!-- paging layer -->
                <section class="d-flex">
                    <a href="/" class="text-decoration-none text-black opacity-50 px-2">
                        <p> فروشکاه اینترنتی خشکبار رضا /</p>
                    </a>
                    <a href="/products/dryFruits" class="text-decoration-none text-black opacity-50 px-2">
                        <p> میوه خشک /</p>
                    </a>
                    <a href="/products/dryFruits#product-btn-1" class="text-decoration-none text-black opacity-50 px-2">
                        <p> میوه خشک‌ مخلوط</p>
                    </a>
                </section>

                <div class="row product-profile">
                    <div class="col-12 col-md-6 col-lg-5 image-section position-relative">
                        <span> <i class="fa fa-magnifying-glass magnifying-glass-icon"></i></span>
                        <div class="img-magnifier-container mx-1 mx-lg-5">
                            <img id="1" src="/images/mixed-dry-fruits.png" width="400" height="300"
                                alt="Girl">
                        </div>
                        <p class="text-center"><i class="fa fa-star text-warning"></i> بسته بندی با وزن دلخواه شما و
                            ارسال به سراسر ایران <i class="fa fa-star text-warning"></i></p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-7">
                        <h1 class="product_name">
                            میوه خشک مخلوط
                        </h1>
                        <!-- شامل -->
                        <p class="d-none"> </i><span class="text-success"><i class="fa fa-box-open p-1"></i>شامل</span> پسته احمد آقایی
                            بادام درختي ايراني بادام هندي تخمه كدوگوشتي تخمه جابوني</p>

                        <ul>
                            <li> خشکبار رضا از تولید به مصرف</li>
                            <li><span class="text-danger">ارسال با پست پیشتاز </span> در سریع ترین زمان ممکن </li>
                            <li><span class="text-danger">ارسال رایگان </span> بالای 1 میلیون تومان </li>
                        </ul>
                        <p class="fs-6">
                            <span class="text-danger"> نکته : </span>
                            برای اطلاع از قیمت و سفارش محصول از طریق شبکه های اجتمایی با ما تماس حاصل فرمایید.
                        </p>
                    </div>
                </div>
            </section>
            <section class="main-border p-3">

                <div>
                    <div class="row">
                        <button class="btn product-btn product-feature-btn border-1">
                            خصوصیات محصول
                        </button>
                    </div>
                </div>
                <div class="product-info-feature-section">
                    <div class="productFeature fs-5 ">
                        <p class="">میوه‌های خشک شده، میوه‌های تازه‌ای هستند که از آبشان تا حد زیادی خشک شده‌اند. این پردازش می‌تواند توسط خوراکی‌سازی سنتی یا تجهیزات مدرن انجام شود. میوه‌های خشک شده دارای مزایای مختلفی هستند که به شرح زیر می‌باشند:
                        </p>
                        <p>
                            1. طولانی‌ترین ماندگاری: یکی از مهم‌ترین خصوصیات میوه‌های خشک شده، ماندگاری طولانی‌تر آنها مقابل میوه‌های تازه است. این میوه‌ها به دلیل کاهش محتوای آب خود، به راحتی نمی‌پوسند و می‌توانند برای ماه‌ها یا حتی سال‌ها نگهداری شوند.
                            <br>
                            2. کمترین حجم: خشک شدن میوه‌ها باعث کاهش حجم آنها می‌شود، بنابراین می‌توانند به صورت فشرده‌تر و سبک‌تر نگهداری شوند، که مناسب برای حمل و نقل و ذخیره‌سازی طولانی‌مدت است.
                            <br>
                            
                            3. پر از مواد مغذی: در حالی که میوه‌های خشک شده حاوی کمترین مقدار آب هستند، مواد مغذی خود را حفظ می‌کنند. این میوه‌ها معمولاً حاوی ویتامین‌ها، مواد معدنی، فیبر، آنتی‌اکسیدان‌ها و انرژی قابل تبدیل به صورت قند می‌باشند.
                            <br>
                            
                            4. مکملی سالم: میوه‌های خشک شده می‌توانند به عنوان یک مکمل سالم در جریان رژیم غذایی استفاده شوند. آنها منبع خوبی از انرژی سریع، تناسب اندام و سلامت دستگاه گوارش می‌باشند.
                            <br>
                            
                            5. انواع متنوع: تعداد زیادی از میوه‌ها قابلیت خشک شدن دارند، از جمله انگور، زردآلو، خرما، توت فرنگی، سیب، نارگیل و غیره. این ویژگی باعث می‌شود که انتخاب‌های مختلفی در دسترس باشند.
                            <br>
                            
                            6. موقعیت‌های مصرف متعدد: میوه‌های خشک شده به عنوان میان‌وعده‌های خوراکی، تزئین غذاها، ترکیبات مواد غذایی، مکمل‌های ورزشی و حتی خوراکی‌های تنقلاتی مورد استفاده قرار می‌گیرند.
                            <br>
                            
                            در نتیجه، میوه‌های خشک شده به عنوان یک گزینه سالم و مغذی در جریان رژیم غذایی و استفاده در طولانی مدت بسیار محبوب هستند.
                        </p>
                    </div>
                </div>
            </section>

        </div>
        <!-- End Product-1 -->
        <!-- Product-2 -->
        <div id="product-2">
           
            <section class="main-border p-3">
                <!-- paging layer -->
                <section class="d-flex">
                    <a href="/" class="text-decoration-none text-black opacity-50 px-2">
                        <p> فروشکاه اینترنتی خشکبار رضا /</p>
                    </a>
                    <a href="/products/dryFruits" class="text-decoration-none text-black opacity-50 px-2">
                        <p> میوه خشک /</p>
                    </a>
                    <a href="/products/dryFruits#product-btn-2" class="text-decoration-none text-black opacity-50 px-2">
                        <p> موز خشک‌شده</p>
                    </a>
                </section>

                <div class="row product-profile">
                    <div class="col-12 col-md-6 col-lg-5 image-section position-relative">
                        <span> <i class="fa fa-magnifying-glass magnifying-glass-icon"></i></span>
                        <div class="img-magnifier-container mx-1 mx-lg-5">
                            <img id="2" src="/images/dry-banana.png" width="400" height="300"
                                alt="Girl">
                        </div>
                        <p class="text-center"><i class="fa fa-star text-warning"></i> بسته بندی با وزن دلخواه شما و
                            ارسال به سراسر ایران <i class="fa fa-star text-warning"></i></p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-7">
                        <h1 class="product_name">
                           موز خشک
                        </h1>
                        <!-- شامل -->
                        <p class="d-none"> </i><span class="text-success"><i class="fa fa-box-open p-1"></i>شامل</span> پسته احمد آقایی
                            بادام درختي ايراني بادام هندي تخمه كدوگوشتي تخمه جابوني</p>

                        <ul>
                            <li> خشکبار رضا از تولید به مصرف</li>
                            <li><span class="text-danger">ارسال با پست پیشتاز </span> در سریع ترین زمان ممکن </li>
                            <li><span class="text-danger">ارسال رایگان </span> بالای 1 میلیون تومان </li>
                        </ul>
                        <p class="fs-6">
                            <span class="text-danger"> نکته : </span>
                            برای اطلاع از قیمت و سفارش محصول از طریق شبکه های اجتمایی با ما تماس حاصل فرمایید.
                        </p>
                    </div>
                </div>
            </section>
           
            <section class="main-border p-3">

                <div>
                    <div class="row">
                        <button class="btn product-btn product-feature-btn border-1">
                            خصوصیات محصول
                        </button>
                    </div>
                </div>
                <div class="product-info-feature-section">
                    <div class="productFeature fs-5 ">

                        <p>
                            موز خشک شده، نسخه خشک‌شده‌ی موز تازه است که از آب آن گرفته شده است. خواص اصلی موز خشک شده عبارتند از:
                            <br>
                            1. منبع انرژی: موز خشک شده حاوی قند‌های طبیعی مانند گلوکز، فروکتوز و ساکاروز است که به عنوان منابع انرژی سریع مصرف برای بدن عمل می‌کنند.
                            <br>
                            
                            2. پر از پتاسیم: موز خشک شده حاوی مقدار زیادی پتاسیم است که برای حفظ تعادل الکترولیتی و عملکرد قلب و عضلات مهم است.
                            <br>
                            
                            3. فیبر: این محصول حاوی مقدار معتدلی فیبر دیتاری می‌باشد که به عملکرد گوارشی کمک می‌کند و از تغذیه منظمی بهره مند می‌شود.
                            <br>
                            
                            4. ویتامین‌ها و مواد معدنی: موز خشک شده حاوی ویتامین‌های مختلفی از جمله ویتامین C، ویتامین A و ویتامین‌های گروه B می‌باشد. همچنین، این محصول حاوی مواد معدنی مانند مس، منیزیم، و منگنز است.
                            <br>
                            
                            5. آهن: موز خشک شده حاوی آهن می‌باشد که برای تولید هموگلوبین (پروتئینی که به انتقال اکسیژن به سلول‌ها کمک می‌کند) ضروری است.
                            <br>
                            
                            6. آنتی‌اکسیدان‌ها: این محصول حاوی آنتی‌اکسیدان‌های مختلفی مانند فلاونوئیدها و کاروتنوئیدها است که می‌توانند در مقابله با آسیب‌های اکسایشی در بدن مفید باشند.
                        </p>
                    </div>
                </div>
            </section>

        </div>
        <!-- End Product-2 -->
        <!-- Product-3 -->
        <div id="product-3">
            <!-- kiwi -->
            <section class="main-border p-3">
                <!-- paging layer -->
                <section class="d-flex">
                    <a href="/" class="text-decoration-none text-black opacity-50 px-2">
                        <p> فروشکاه اینترنتی خشکبار رضا /</p>
                    </a>
                    <a href="/products/dryFruits" class="text-decoration-none text-black opacity-50 px-2">
                        <p> میوه خشک /</p>
                    </a>
                    <a href="/products/dryFruits#product-btn-3" class="text-decoration-none text-black opacity-50 px-2">
                        <p> کیوی خشک‌شده</p>
                    </a>
                </section>

                <div class="row product-profile">
                    <div class="col-12 col-md-6 col-lg-5 image-section position-relative">
                        <span> <i class="fa fa-magnifying-glass magnifying-glass-icon"></i></span>
                        <div class="img-magnifier-container mx-1 mx-lg-5">
                            <img id="3" src="/images/dry-kiwi.png" width="400" height="300"
                                >
                        </div>
                        <p class="text-center"><i class="fa fa-star text-warning"></i> بسته بندی با وزن دلخواه شما و
                            ارسال به سراسر ایران <i class="fa fa-star text-warning"></i></p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-7">
                        <h1 class="product_name">
                             کیوی خشک
                        </h1>
                        <!-- شامل -->
                        <p class="d-none"> </i><span class="text-success"><i class="fa fa-box-open p-1"></i>شامل</span> پسته احمد آقایی
                            بادام درختي ايراني بادام هندي تخمه كدوگوشتي تخمه جابوني</p>

                        <ul>
                            <li> خشکبار رضا از تولید به مصرف</li>
                            <li><span class="text-danger">ارسال با پست پیشتاز </span> در سریع ترین زمان ممکن </li>
                            <li><span class="text-danger">ارسال رایگان </span> بالای 1 میلیون تومان </li>
                        </ul>
                        <p class="fs-6">
                            <span class="text-danger"> نکته : </span>
                            برای اطلاع از قیمت و سفارش محصول از طریق شبکه های اجتمایی با ما تماس حاصل فرمایید.
                        </p>
                    </div>
                </div>
            </section>
            <section class="main-border p-3">

                <div>
                    <div class="row">
                        <button class="btn product-btn product-feature-btn border-1">
                            خصوصیات محصول
                        </button>
                    </div>
                </div>
                <div class="product-info-feature-section">
                    <div class="productFeature fs-5 ">
                        <p>
                            کیوی خشک شده یک میوه خشک شده محبوب است که از کیوی تازه برداشت شده تهیه می‌شود. این محصول خشک شده دارای مجموعه‌ای از خواص اصلی است که در زیر ذکر می‌شود:
                            <br>
                            1. غنی از ویتامین C: کیوی خشک شده حاوی مقدار زیادی ویتامین C است که به عنوان یک آنتی اکسیدان مهم عمل می‌کند و به حفظ سلامتی پوست، سیستم ایمنی بدن، و بهبود جذب آهن از غذا کمک می‌کند.
                            <br>
                            
                            2. منبع فیبر: این محصول حاوی فیبر غذایی می‌باشد که می‌تواند در بهبود گوارش و تنظیم قند خون کمک کند. فیبر همچنین می‌تواند احساس سیری را افزایش دهد و در کنترل وزن مفید باشد.
                            <br>
                            
                            3. کلسیم و پتاسیم: کیوی خشک شده حاوی کلسیم و پتاسیم است که به حفظ سلامت استخوان‌ها و عملکرد عضلات کمک می‌کنند.
                            <br>
                            
                            4. آهن: حضور آهن در کیوی خشک شده می‌تواند به پیشگیری از کم‌خونی (آنمی) کمک کند.
                            <br>
                            
                            5. انرژی: کیوی خشک شده دارای انرژی قابل توجهی است و می‌تواند به عنوان یک منبع انرژی سریع برای بدن ارائه شود.
                            <br>
                            
                            به عنوان یک خوراکی خشک شده، کیوی خشک شده معمولاً به صورت خوراکی تنها مصرف می‌شود یا به ترکیبات دیگری اضافه می‌شود، مانند موسلی، میوه‌خشک، میوه‌خشک‌شده، یا سالادهای مختلف برای افزودن طعم و مواد مغذی به غذاها. همچنین می‌توان از آن به عنوان یک میان‌وعده سالم برای تامین انرژی در طول روز استفاده کرد.
                        </p>
                    </div>
                </div>
            </section>

        </div>
        <!-- End Product-3 -->
        <!-- Product-4 -->
        <div id="product-4">
            
            <section class="main-border p-3">
                <!-- paging layer -->
                <section class="d-flex">
                    <a href="/" class="text-decoration-none text-black opacity-50 px-2">
                        <p> فروشکاه اینترنتی خشکبار رضا /</p>
                    </a>
                    <a href="/products/dryFruits" class="text-decoration-none text-black opacity-50 px-2">
                        <p> میوه خشک /</p>
                    </a>
                    <a href="/products/dryFruits#product-btn-4" class="text-decoration-none text-black opacity-50 px-2">
                        <p> سیب خشک‌شده</p>
                    </a>
                </section>

                <div class="row product-profile">
                    <div class="col-12 col-md-6 col-lg-5 image-section position-relative">
                        <span> <i class="fa fa-magnifying-glass magnifying-glass-icon"></i></span>
                        <div class="img-magnifier-container mx-1 mx-lg-5">
                            <img id="4" src="/images/dry-apple.png" width="400" height="300"
                                alt="Girl">
                        </div>
                        <p class="text-center"><i class="fa fa-star text-warning"></i> بسته بندی با وزن دلخواه شما و
                            ارسال به سراسر ایران <i class="fa fa-star text-warning"></i></p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-7">
                        <h1 class="product_name">
                             سیب خشک
                        </h1>
                        <!-- شامل -->
                        <p class="d-none"> </i><span class="text-success"><i class="fa fa-box-open p-1"></i>شامل</span> پسته احمد آقایی
                            بادام درختي ايراني بادام هندي تخمه كدوگوشتي تخمه جابوني</p>

                        <ul>
                            <li> خشکبار رضا از تولید به مصرف</li>
                            <li><span class="text-danger">ارسال با پست پیشتاز </span> در سریع ترین زمان ممکن </li>
                            <li><span class="text-danger">ارسال رایگان </span> بالای 1 میلیون تومان </li>
                        </ul>
                        <p class="fs-6">
                            <span class="text-danger"> نکته : </span>
                            برای اطلاع از قیمت و سفارش محصول از طریق شبکه های اجتمایی با ما تماس حاصل فرمایید.
                        </p>
                    </div>
                </div>
            </section>
            <section class="main-border p-3">

                <div>
                    <div class="row">
                        <button class="btn product-btn product-feature-btn border-1">
                            خصوصیات محصول
                        </button>
                    </div>
                </div>
                <div class="product-info-feature-section">
                    <div class="productFeature fs-5 ">
                        
                        <p>
                            سیب خشک شده یک محصول غذایی است که از سیب تازه تهیه می‌شود و آب موجود در آن تا حد زیادی تخمیر و تبخیر شده است. خواص اصلی سیب خشک شده شامل موارد زیر می‌شود:
                            <br>
                            1. غنی از فیبر: سیب خشک شده حاوی مقدار زیادی فیبر خوراکی است که به بهبود هضم و تنظیم سطح قند خون کمک می‌کند.
                            <br>
                            
                            2. ویتامین‌ها و مواد معدنی: این محصول حاوی ویتامین‌های مختلفی مانند ویتامین C، ویتامین K، پتاسیم و آهن است. این مواد معدنی و ویتامین‌ها به سلامتی عمومی و سیستم ایمنی کمک می‌کنند.
                            <br>
                            
                            3. آنتی‌اکسیدان‌ها: سیب خشک شده حاوی آنتی‌اکسیدان‌هایی مانند فلاونوئیدها و فنل‌هاست که از آسیب‌های اکسیداتیو در سلول‌های بدن جلوگیری می‌کنند.
                            <br>
                            
                            4. انرژی افزایی: این محصول انرژی بالایی دارد و می‌تواند به عنوان یک منبع انرژی طبیعی برای بدن مفید باشد، به ویژه در مواقعی که نیاز به انرژی سریع دارید.
                            <br>
                            
                            5. حفظ وزن: مصرف معقول سیب خشک شده به مدت مدید می‌تواند به حفظ وزن مناسب کمک کند، زیرا فیبر موجود در آن اشباعیت طولانی‌مدت ایجاد می‌کند و از احساس گرسنگی جلوگیری می‌کند.
                            <br>
                            
                            6. سلامت دستگاه گوارش: فیبر موجود در سیب خشک شده به تنظیم حرکت روده‌ها و پیشگیری از مشکلات دستگاه گوارشی مثل یبوست کمک می‌کند.
                            <br>
                            
                            همچنین باید به میزان مصرف سیب خشک شده توجه داشته باشید، زیرا این محصول حاوی قند طبیعی است و مصرف بیش از حد آن می‌تواند منجر به افزایش سطح قند خون شود.
                        </p>
                    </div>
                </div>
            </section>

        </div>
        <!-- End Product-4 -->
        <!-- Product-5 -->
        <div id="product-5">
            <section class="main-border p-3">
                <!-- paging layer -->
                <section class="d-flex">
                    <a href="/" class="text-decoration-none text-black opacity-50 px-2">
                        <p> فروشکاه اینترنتی خشکبار رضا /</p>
                    </a>
                    <a href="/products/dryFruits" class="text-decoration-none text-black opacity-50 px-2">
                        <p> میوه خشک /</p>
                    </a>
                    <a href="/products/dryFruits#product-btn-5" class="text-decoration-none text-black opacity-50 px-2">
                        <p> توت فرنگی خشک‌شده</p>
                    </a>
                </section>

                <div class="row product-profile">
                    <div class="col-12 col-md-6 col-lg-5 image-section position-relative">
                        <span> <i class="fa fa-magnifying-glass magnifying-glass-icon"></i></span>
                        <div class="img-magnifier-container mx-1 mx-lg-5">
                            <img id="5" src="/images/dry-straberry.png" width="400" height="300"
                                alt="Girl">
                        </div>
                        <p class="text-center"><i class="fa fa-star text-warning"></i> بسته بندی با وزن دلخواه شما و
                            ارسال به سراسر ایران <i class="fa fa-star text-warning"></i></p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-7">
                        <h1 class="product_name">
                           توت فرنگی خشک
                        </h1>
                        <!-- شامل -->
                        <p class="d-none"> </i><span class="text-success"><i class="fa fa-box-open p-1"></i>شامل</span> پسته احمد آقایی
                            بادام درختي ايراني بادام هندي تخمه كدوگوشتي تخمه جابوني</p>

                        <ul>
                            <li> خشکبار رضا از تولید به مصرف</li>
                            <li><span class="text-danger">ارسال با پست پیشتاز </span> در سریع ترین زمان ممکن </li>
                            <li><span class="text-danger">ارسال رایگان </span> بالای 1 میلیون تومان </li>
                        </ul>
                        <p class="fs-6">
                            <span class="text-danger"> نکته : </span>
                            برای اطلاع از قیمت و سفارش محصول از طریق شبکه های اجتمایی با ما تماس حاصل فرمایید.
                        </p>
                    </div>
                </div>
            </section>
            <section class="main-border p-3">

                <div>
                    <div class="row">
                        <button class="btn product-btn product-feature-btn border-1">
                            خصوصیات محصول
                        </button>
                    </div>
                </div>
                <div class="product-info-feature-section">
                    <div class="productFeature fs-5 ">
                        <p>
                            توت فرنگی خشک شده خواص مفیدی دارد که عبارتند از:
                            <br>
1. پر از آنتی‌اکسیدان‌ها: توت فرنگی خشک شده حاوی آنتی‌اکسیدان‌های قوی مانند فلاونوئیدها، پلی‌فنل‌ها و ویتامین C است که می‌توانند در مقابله با آسیب‌های اکسیداتی در بدن مفید باشند و به بهبود سلامت قلب و عروق کمک کنند.
<br>

2. غنی از فیبر: توت فرنگی خشک شده دارای مقدار زیادی فیبر می‌باشد که می‌تواند به بهبود عملکرد دستگاه گوارش کمک کند و از مشکلات مثل یبوست جلوگیری نماید.
<br>

3. ویتامین‌ها و مواد معدنی: این میوه خشک حاوی ویتامین‌های مهمی مانند ویتامین C و ویتامین K است و همچنین مواد معدنی مانند پتاسیم، منگنز و آهن را نیز ارائه می‌دهد.
<br>

4. سرشار از آهن: مصرف توت فرنگی خشک شده می‌تواند به افرادی کمک کند که به مقدار کافی آهن در رژیم غذایی خود ندارند و از کم‌خونی جلوگیری کنند.
<br>

5. حفظ سلامتی پوست: آنتی‌اکسیدان‌های موجود در توت فرنگی خشک شده ممکن است به حفظ سلامتی پوست و جلوگیری از پیری زودرس آن کمک کنند.
<br>

توجه داشته باشید که مصرف توت فرنگی خشک شده باید به میزان مناسب و در چارچوب رژیم غذایی تنظیم شود، زیرا ممکن است حاوی قند اضافی باشد. همچنین بهتر است نسبت به افرادی که به آلرژی توت فرنگی حساسیت دارند، احتیاط کنید. در هر صورت، می‌توانید توت فرنگی خشک شده را به عنوان یک منبع سالم از تغذیه به رژیم غذایی خود اضافه کنید.
                        </p>
                    </div>
                </div>
            </section>

        </div>
        <!-- End Product-5 -->
        <!-- Product-6 -->
        <div id="product-6">
            <section class="main-border p-3">
                <!-- paging layer -->
                <section class="d-flex">
                    <a href="/" class="text-decoration-none text-black opacity-50 px-2">
                        <p> فروشکاه اینترنتی خشکبار رضا /</p>
                    </a>
                    <a href="/products/dryFruits" class="text-decoration-none text-black opacity-50 px-2">
                        <p> میوه خشک /</p>
                    </a>
                    <a href="/products/dryFruits#product-btn-6" class="text-decoration-none text-black opacity-50 px-2">
                        <p> پرتغال خشک‌شده</p>
                    </a>
                </section>

                <div class="row product-profile">
                    <div class="col-12 col-md-6 col-lg-5 image-section position-relative">
                        <span> <i class="fa fa-magnifying-glass magnifying-glass-icon"></i></span>
                        <div class="img-magnifier-container mx-1 mx-lg-5">
                            <img id="6" src="/images/dry-orange.png" width="400" height="300"
                                alt="Girl">
                        </div>
                        <p class="text-center"><i class="fa fa-star text-warning"></i> بسته بندی با وزن دلخواه شما و
                            ارسال به سراسر ایران <i class="fa fa-star text-warning"></i></p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-7">
                        <h1 class="product_name">
                           پرتغال خشک
                        </h1>
                        <!-- شامل -->
                        <p class="d-none"> </i><span class="text-success"><i class="fa fa-box-open p-1"></i>شامل</span> پسته احمد آقایی
                            بادام درختي ايراني بادام هندي تخمه كدوگوشتي تخمه جابوني</p>

                        <ul>
                            <li> خشکبار رضا از تولید به مصرف</li>
                            <li><span class="text-danger">ارسال با پست پیشتاز </span> در سریع ترین زمان ممکن </li>
                            <li><span class="text-danger">ارسال رایگان </span> بالای 1 میلیون تومان </li>
                        </ul>
                        <p class="fs-6">
                            <span class="text-danger"> نکته : </span>
                            برای اطلاع از قیمت و سفارش محصول از طریق شبکه های اجتمایی با ما تماس حاصل فرمایید.
                        </p>
                    </div>
                </div>
            </section>
            <section class="main-border p-3">

                <div>
                    <div class="row">
                        <button class="btn product-btn product-feature-btn border-1">
                            خصوصیات محصول
                        </button>
                    </div>
                </div>
                <div class="product-info-feature-section">
                    <div class="productFeature fs-5 ">
                        <p>
                            پرتغال خشک شده یک میوه خشک شده محبوب است که از میوه پرتقال تهیه می‌شود. این محصول خواص زیادی دارد که می‌تواند به سلامتی انسان‌ها مفید باشد. برخی از خواص اصلی پرتغال خشک شده عبارتند از:
<br>
1. منبع عالی ویتامین C: پرتغال خشک شده دارای مقدار زیادی ویتامین C است که به تقویت سیستم ایمنی بدن کمک می‌کند و به عنوان یک آنتی اکسیدان عمل می‌کند.
<br>

2. منبع فیبر: پرتغال خشک شده دارای مقدار زیادی فیبر می‌باشد که به حفظ سلامت گوارش کمک می‌کند و می‌تواند مشکلات معده و روده را کاهش دهد.
<br>

3. آهن: این محصول حاوی مقادیر قابل توجهی آهن است که می‌تواند به پیشگیری از کم‌خونی و افزایش سطح انرژی کمک کند.
<br>

4. منبع پتاسیم: پرتغال خشک شده دارای پتاسیم است که به حفظ تعادل الکترولیتی بدن و عملکرد بهتر قلب و عروق کمک می‌کند.
<br>

5. کمک به کاهش التهابات: آنتی اکسیدان‌های موجود در پرتغال خشک شده می‌توانند به کاهش التهابات در بدن کمک کنند و به سلامت عمومی بدن افزوده شوند.
<br>

6. منبع انرژی: پرتغال خشک شده حاوی قند‌های طبیعی می‌باشد که به عنوان منبع انرژی برای بدن عمل می‌کنند.
<br>

به عنوان یک میان‌وعده خوشمزه یا تزئینی برای غذاها و دسرها، پرتغال خشک شده نیز مورد استفاده قرار می‌گیرد.
                        </p>
                    </div>
                </div>
            </section>

        </div>
        <!-- End Product-6 -->
        <!-- Product-7 -->
        <div id="product-7">
            <section class="main-border p-3">
                <!-- paging layer -->
                <section class="d-flex">
                    <a href="/" class="text-decoration-none text-black opacity-50 px-2">
                        <p> فروشکاه اینترنتی خشکبار رضا /</p>
                    </a>
                    <a href="/products/dryFruits" class="text-decoration-none text-black opacity-50 px-2">
                        <p> میوه خشک /</p>
                    </a>
                    <a href="/products/dryFruits#product-btn-7" class="text-decoration-none text-black opacity-50 px-2">
                        <p> انبه خشک‌شده</p>
                    </a>
                </section>

                <div class="row product-profile">
                    <div class="col-12 col-md-6 col-lg-5 image-section position-relative">
                        <span> <i class="fa fa-magnifying-glass magnifying-glass-icon"></i></span>
                        <div class="img-magnifier-container mx-1 mx-lg-5">
                            <img id="7" src="/images/dry-mango.png" width="400" height="300"
                                alt="Girl">
                        </div>
                        <p class="text-center"><i class="fa fa-star text-warning"></i> بسته بندی با وزن دلخواه شما و
                            ارسال به سراسر ایران <i class="fa fa-star text-warning"></i></p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-7">
                        <h1 class="product_name">
                           انبه خشک
                        </h1>
                        <!-- شامل -->
                        <p class="d-none"> </i><span class="text-success"><i class="fa fa-box-open p-1"></i>شامل</span> پسته احمد آقایی
                            بادام درختي ايراني بادام هندي تخمه كدوگوشتي تخمه جابوني</p>

                        <ul>
                            <li> خشکبار رضا از تولید به مصرف</li>
                            <li><span class="text-danger">ارسال با پست پیشتاز </span> در سریع ترین زمان ممکن </li>
                            <li><span class="text-danger">ارسال رایگان </span> بالای 1 میلیون تومان </li>
                        </ul>
                        <p class="fs-6">
                            <span class="text-danger"> نکته : </span>
                            برای اطلاع از قیمت و سفارش محصول از طریق شبکه های اجتمایی با ما تماس حاصل فرمایید.
                        </p>
                    </div>
                </div>
            </section>
            <section class="main-border p-3">

                <div>
                    <div class="row">
                        <button class="btn product-btn product-feature-btn border-1">
                            خصوصیات محصول
                        </button>
                    </div>
                </div>
                <div class="product-info-feature-section">
                    <div class="productFeature fs-5 ">
                        <p>
                            انبه خشک شده یک میوه خشک‌شده است که از انبه تازه بدست می‌آید. این خواص اصلی انبه خشک شده عبارتند از:
<br>
1. ویتامین‌ها: انبه خشک شده منبع خوبی از ویتامین‌های مختلف مانند ویتامین A، ویتامین C و ویتامین K است. ویتامین A برای حفظ سلامت چشم‌ها، ویتامین C برای سیستم ایمنی و ویتامین K برای پشتیبانی از عملکرد خون مناسب و سلامت استخوان مهم هستند.
<br>

2. آنتی‌اکسیدان‌ها: انبه خشک شده حاوی مقدار زیادی آنتی‌اکسیدان‌ها مانند بتاکاروتن، کاروتنوئیدها و فلاونوئیدها است. این ترکیبات می‌توانند در مقابله با آسیب‌های اکسیداتیو و پیری زودرس سلولی مفید باشند.
<br>

3. فیبر: انبه خشک شده دارای مقدار زیادی فیبر خوراکی است که می‌تواند به سلامت گوارشی کمک کند، عملکرد روده‌ها را بهبود ببخشد و میزان کلسترول خون را کاهش دهد.
<br>

4. مواد معدنی: انبه خشک شده می‌تواند مقدار معدنی مهمی مانند پتاسیم، مگنزیم و آهن فراهم کند که برای حفظ تعادل الکترولیتی، سلامت قلب و جریان خون مناسب ضروری هستند.
<br>

5. انرژی: انبه خشک شده حاوی قندهای طبیعی مانند گلوکز و فرکتوز است که به عنوان منبع انرژی برای بدن انسان عمل می‌کنند.
<br>

مصرف انبه خشک شده می‌تواند به عنوان یک میان‌وعده سالم یا به عنوان مکمل در تهیه مختلف غذاها و دسرها مورد استفاده قرار گیرد. با این حال، بهتر است توجه داشته باشید که انبه خشک شده دارای مقدار قابل توجهی قند است، بنابراین در مصرف آن باید معتدل بوده و به میزان مصرف کربوهیدرات‌های دیگر در رژیم غذایی توجه داشته باشید.
                        </p>
                    </div>
                </div>
            </section>

        </div>
        <!-- End Product-7 -->
        <!-- Product-8 -->
        <div id="product-8">
            <section class="main-border p-3">
                <!-- paging layer -->
                <section class="d-flex">
                    <a href="/" class="text-decoration-none text-black opacity-50 px-2">
                        <p> فروشکاه اینترنتی خشکبار رضا /</p>
                    </a>
                    <a href="/products/dryFruits" class="text-decoration-none text-black opacity-50 px-2">
                        <p> میوه خشک /</p>
                    </a>
                    <a href="/products/dryFruits#product-btn-8" class="text-decoration-none text-black opacity-50 px-2">
                        <p> آناناس خشک‌شده</p>
                    </a>
                </section>

                <div class="row product-profile">
                    <div class="col-12 col-md-6 col-lg-5 image-section position-relative">
                        <span> <i class="fa fa-magnifying-glass magnifying-glass-icon"></i></span>
                        <div class="img-magnifier-container mx-1 mx-lg-5">
                            <img id="8" src="/images/dry-pineapple.png" width="400" height="300"
                                alt="Girl">
                        </div>
                        <p class="text-center"><i class="fa fa-star text-warning"></i> بسته بندی با وزن دلخواه شما و
                            ارسال به سراسر ایران <i class="fa fa-star text-warning"></i></p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-7">
                        <h1 class="product_name">
                           آناناس خشک
                        </h1>
                        <!-- شامل -->
                        <p class="d-none"> </i><span class="text-success"><i class="fa fa-box-open p-1"></i>شامل</span> پسته احمد آقایی
                            بادام درختي ايراني بادام هندي تخمه كدوگوشتي تخمه جابوني</p>

                        <ul>
                            <li> خشکبار رضا از تولید به مصرف</li>
                            <li><span class="text-danger">ارسال با پست پیشتاز </span> در سریع ترین زمان ممکن </li>
                            <li><span class="text-danger">ارسال رایگان </span> بالای 1 میلیون تومان </li>
                        </ul>
                        <p class="fs-6">
                            <span class="text-danger"> نکته : </span>
                            برای اطلاع از قیمت و سفارش محصول از طریق شبکه های اجتمایی با ما تماس حاصل فرمایید.
                        </p>
                    </div>
                </div>
            </section>
            <section class="main-border p-3">

                <div>
                    <div class="row">
                        <button class="btn product-btn product-feature-btn border-1">
                            خصوصیات محصول
                        </button>
                    </div>
                </div>
                <div class="product-info-feature-section">
                    <div class="productFeature fs-5 ">
                        <p>
                            آناناس خشک شده یک میوه خشک شده محبوب است که از آناناس تازه تهیه می‌شود. این محصول خشک شده دارای مزایای مختلفی است، از جمله:
<br>
1. منبع ویتامین C: آناناس خشک شده حاوی ویتامین C مهم است که به عنوان آنتی‌اکسیدان عمل می‌کند و برای حفظ سلامتی پوست، سیستم ایمنی، و بهبود جذب آهن از مزایای آن محسوب می‌شود.
<br>

2. فیبر: این محصول دارای مقدار زیادی فیبر می‌باشد که می‌تواند به تنظیم گوارش کمک کند و موجب افزایش احساس سیری و کاهش اشتها شود.
<br>

3. ویتامین A: آناناس خشک شده حاوی ویتامین A مهم است که برای حفظ دید سالم و سلامت پوست اساسی است.
<br>

4. منابع معدنی: این محصول مقدار قابل توجهی از مواد معدنی مانند پتاسیم، مس، منیزیم و مقدار کمی کلسیم فراهم می‌کند.
<br>

5. آنتی‌اکسیدان‌ها: آناناس خشک شده دارای آنتی‌اکسیدان‌های مختلفی مانند بتاکاروتن و فیتوکمیکال‌ها است که می‌توانند در مقابله با آسیب‌های اکسیداتیو و التهابات به کمک برسند.
<br>

به عنوان یک میان‌وعده خوشمزه یا مواد تزئینی در غذاها و دسرها. همچنین، می‌توانید آن را به عنوان یک میان‌وعده سالم یا افزودنی به مواد آشپزی مختلف مصرف کنید. با این حال، باید به مقدار مصرف آناناس خشک شده توجه کنید، زیرا به دلیل شیرینی آن، ممکن است در مصرف بیش از حد قند مصرف شود.
                        </p>
                    </div>
                </div>
            </section>

        </div>
        <!-- End Product-8 -->
        <!-- Product-9 -->
        <div id="product-9">
            <section class="main-border p-3">
                <!-- paging layer -->
                <section class="d-flex">
                    <a href="/" class="text-decoration-none text-black opacity-50 px-2">
                        <p> فروشکاه اینترنتی خشکبار رضا /</p>
                    </a>
                    <a href="/products/dryFruits" class="text-decoration-none text-black opacity-50 px-2">
                        <p> میوه خشک /</p>
                    </a>
                    <a href="/products/dryFruits#product-btn-9" class="text-decoration-none text-black opacity-50 px-2">
                        <p> خرمالو خشک‌شده</p>
                    </a>
                </section>

                <div class="row product-profile">
                    <div class="col-12 col-md-6 col-lg-5 image-section position-relative">
                        <span> <i class="fa fa-magnifying-glass magnifying-glass-icon"></i></span>
                        <div class="img-magnifier-container mx-1 mx-lg-5">
                            <img id="9" src="/images/dry-persimmon.png" width="400" height="300"
                                alt="Girl">
                        </div>
                        <p class="text-center"><i class="fa fa-star text-warning"></i> بسته بندی با وزن دلخواه شما و
                            ارسال به سراسر ایران <i class="fa fa-star text-warning"></i></p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-7">
                        <h1 class="product_name">
                            خرمالو خشک
                        </h1>
                        <!-- شامل -->
                        <p class="d-none"> </i><span class="text-success"><i class="fa fa-box-open p-1"></i>شامل</span> پسته احمد آقایی
                            بادام درختي ايراني بادام هندي تخمه كدوگوشتي تخمه جابوني</p>

                        <ul>
                            <li> خشکبار رضا از تولید به مصرف</li>
                            <li><span class="text-danger">ارسال با پست پیشتاز </span> در سریع ترین زمان ممکن </li>
                            <li><span class="text-danger">ارسال رایگان </span> بالای 1 میلیون تومان </li>
                        </ul>
                        <p class="fs-6">
                            <span class="text-danger"> نکته : </span>
                            برای اطلاع از قیمت و سفارش محصول از طریق شبکه های اجتمایی با ما تماس حاصل فرمایید.
                        </p>
                    </div>
                </div>
            </section>
            <section class="main-border p-3">

                <div>
                    <div class="row">
                        <button class="btn product-btn product-feature-btn border-1">
                            خصوصیات محصول
                        </button>
                    </div>
                </div>
                <div class="product-info-feature-section">
                    <div class="productFeature fs-5 ">
                       
                        <p>
                            خرمالو خشک شده یک میوه خشک شده است که از خرمالو تازه تهیه می‌شود. این میوه خشک شده دارای مجموعه‌ای از خواص اصلی و مفید برای سلامتی است. برخی از این خواص عبارتند از:
<br>
1. پر از آنتی اکسیدان‌ها: خرمالو خشک شده حاوی مقدار زیادی آنتی اکسیدان‌ها مانند ویتامین C و فلاونوئیدها است. این مواد می‌توانند در مقابله با آسیب‌های اکسیداتیو و پیری زودرس سلول‌ها کمک کنند.
<br>
2. منبع فیبر: خرمالو خشک شده حاوی مقدار قابل توجهی فیبر می‌باشد که می‌تواند در تنظیم گوارش کمک کند و مشکلات معده و روده را کاهش دهد.
<br>
3. ویتامین‌ها و مواد معدنی: این میوه حاوی ویتامین‌های مهمی مانند ویتامین A، ویتامین K، پتاسیم و آهن است که برای سلامت استخوان‌ها، بینایی، و عملکرد عضلات ضروری هستند.
<br>
4. افزایش انرژی: خرمالو خشک شده حاوی قند طبیعی مانند گلوکز و فروکتوز است که به عنوان یک منبع انرژی سریع عمل می‌کند. این میوه خشک می‌تواند برای افزایش انرژی در ورزش و فعالیت‌های روزمره مفید باشد.
<br>
5. حمایت از سلامت قلب: مصرف خرمالو خشک شده به دلیل حاویت پتاسیم و فیبر می‌تواند به حفظ سلامت قلب و کاهش خطر ابتلا به برخی بیماری‌های قلبی-عروقی کمک کند.
<br>
به عنوان یک میان‌وعده سالم یا ترکیبی در میانی وعده‌ها، خرمالو خشک شده می‌تواند به تغذیه شما افزوده شود و از خواص این میوه خشک شده بهره‌برداری کنید. همچنین، بهتر است مقدار مصرف را در نظر بگیرید تا از مصرف اضافی قند و کالری جلوگیری کنید.
                        </p>
                    </div>
                </div>
            </section>

        </div>
        <!-- End Product-9 -->
        <!-- Product-10 -->
        <div id="product-10">
            <section class="main-border p-3">
                <!-- paging layer -->
                <section class="d-flex">
                    <a href="/" class="text-decoration-none text-black opacity-50 px-2">
                        <p> فروشکاه اینترنتی خشکبار رضا /</p>
                    </a>
                    <a href="/products/dryFruits" class="text-decoration-none text-black opacity-50 px-2">
                        <p> میوه خشک /</p>
                    </a>
                    <a href="/products/dryFruits#product-btn-10" class="text-decoration-none text-black opacity-50 px-2">
                        <p> هلو خشک‌شده</p>
                    </a>
                </section>

                <div class="row product-profile">
                    <div class="col-12 col-md-6 col-lg-5 image-section position-relative">
                        <span> <i class="fa fa-magnifying-glass magnifying-glass-icon"></i></span>
                        <div class="img-magnifier-container mx-1 mx-lg-5">
                            <img id="10" src="/images/dry-peach.png" width="400" height="300"
                                alt="Girl">
                        </div>
                        <p class="text-center"><i class="fa fa-star text-warning"></i> بسته بندی با وزن دلخواه شما و
                            ارسال به سراسر ایران <i class="fa fa-star text-warning"></i></p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-7">
                        <h1 class="product_name">
                           هلو خشک
                        </h1>
                        <!-- شامل -->
                        <p class="d-none"> </i><span class="text-success"><i class="fa fa-box-open p-1"></i>شامل</span> پسته احمد آقایی
                            بادام درختي ايراني بادام هندي تخمه كدوگوشتي تخمه جابوني</p>

                        <ul>
                            <li> خشکبار رضا از تولید به مصرف</li>
                            <li><span class="text-danger">ارسال با پست پیشتاز </span> در سریع ترین زمان ممکن </li>
                            <li><span class="text-danger">ارسال رایگان </span> بالای 1 میلیون تومان </li>
                        </ul>
                        <p class="fs-6">
                            <span class="text-danger"> نکته : </span>
                            برای اطلاع از قیمت و سفارش محصول از طریق شبکه های اجتمایی با ما تماس حاصل فرمایید.
                        </p>
                    </div>
                </div>
            </section>
            <section class="main-border p-3">

                <div>
                    <div class="row">
                        <button class="btn product-btn product-feature-btn border-1">
                            خصوصیات محصول
                        </button>
                    </div>
                </div>
                <div class="product-info-feature-section">
                    <div class="productFeature fs-5 ">
                        <p>
                            هلو خشک شده یک میوه خشک شده است که از هلو تازه تهیه می‌شود. این نوع میوه خشک شده دارای مجموعه‌ای از خواص اصلی به عنوان یک میان‌وعده سالم و خوشمزه محسوب می‌شود. در ادامه، خواص اصلی هلو خشک شده را برای شما توضیح می‌دهم:
<br>
1. منبع غنی از فیبر: هلو خشک شده حاوی مقدار قابل توجهی فیبر است که می‌تواند به بهبود گوارش و تنظیم معده کمک کند. فیبر موجب افزایش احساس سیری می‌شود و ممکن است به کاهش افزایش وزن کمک کند.
<br>

2. آهن و پتاسیم: هلو خشک شده حاوی آهن و پتاسیم است. آهن به تولید هموگلوبین، که یک ماده مهم در خون است، کمک می‌کند و پتاسیم نقشی در تنظیم فشار خون دارد.
<br>

3. آنتی‌اکسیدان‌ها: میوه‌های خشک شده مانند هلو دارای آنتی‌اکسیدان‌های مختلفی هستند که می‌توانند در مقابله با آسیب‌های اکسیداتیو و پیری سلولی کمک کنند.
<br>

4. ویتامین‌ها: هلو خشک شده همچنین حاوی ویتامین‌های مهمی مانند ویتامین آ و ویتامین C می‌باشد که برای حفظ سلامتی پوست و سیستم ایمنی بدن اسیدیته لازم است.
<br>

5. انرژی قابل توجه: هلو خشک شده دارای مقدار قابل توجهی کربوهیدرات است که به عنوان منبع اصلی انرژی مورد استفاده قرار می‌گیرد و می‌تواند برای تقویت انرژی در فعالیت‌های روزانه مفید باشد.
<br>

بهتر است در مصرف هلو خشک شده نیز معتدل باشید، زیرا به دلیل حجم کم آب، ممکن است مقدار کالری بالایی داشته باشد. همچنین توجه داشته باشید که هلو خشک شده بدون افزودنی‌های شکر یا سولفوره شده بهتر است.
                        </p>
                    </div>
                </div>
            </section>

        </div>
        <!-- End Product-10 -->

        <div id="mainSectionLogo">
            <img class="sectionLogo" src="/images/reza-nut-logo.png" alt="">
        </div>

    </main>
    <!-- End Main -->

    <%- include("./includes/footer.ejs") %>
    
</body>

</html>