<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>خشکبار رضا</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/fontawesome/css/all.css">
    <link rel="stylesheet" href="/css/animate.min.css">
    <link rel="stylesheet" href="/css/grid.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/media-queries.css">
    <link rel="stylesheet" href="/css/aos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
</head>

<body id="body">
    
    <%- include("./includes/fixedButton.ejs") %>

    <!-- Hero -->
    <section class="figs-page-hero">
        <div class="navbar-space">
            <!-- search box DESPLAY-NONE-->
            <div class="search-box position-relative d-none">;
                <div>
                    <input type="text" class="form-control search-box-input position-absolute" placeholder="... جستجو">
                </div>
            </div>
            <nav class="navbar navbar-expand-lg d-flex justify-content-end ">
                <div>
                    <!-- shopping card and login & sign up DESPLAY-NONE  -->
                    <div class="shopingCard d-flex mt-5 d-none">
                        <a href="" class="text-black my-auto">
                            <i class='fa fa-shopping-cart blue-color fs-5'>
                            </i>
                            <span
                                class="position-absolute top-30 start-10 translate-middle badge shopping-cart-badge rounded-pill bg-danger">
                                4
                            </span>
                        </a>

                        <div class="divider-line mx-4"></div>
                        <!-- login & Register -->
                        <a href="" class="d-flex text-decoration-none text-black login-link">
                            <p> ورود </p>
                            <div class="divider-line"></div>
                            <p> ثبت نام</p>
                            <i class='fa fa-sign-in fs-5 ms-2'></i>
                        </a>
                        <!-- End login & Register -->
                        <!-- user circle icon -->
                        <span class="userProfile  d-none">
                            <span>
                                <i class="fas fa-user-circle text-black fs-4"></i>
                            </span>

                            <div class="body" dir="rtl">
                                <ul class="user-Profile-link">
                                    <li><a href="" class="user-dropdown-menu"><i
                                                class="fas fa-sign icon ms-3 "></i>پروفایل
                                        </a>
                                    </li>
                                    <li><a href="" class="user-dropdown-menu"><i class="fas fa-bar-chart ms-3 icon"></i>
                                            آمار
                                        </a>
                                    </li>
                                    <li><a href="" class="user-dropdown-menu"><i class="fas fa-boxes ms-3 icon"></i>
                                            ویجت ها</a></li>
                                    <li><a href="" class="user-dropdown-menu"><i
                                                class="fas fa-table ms-3 icon"></i>جداول
                                        </a>
                                    </li>
                                    <li><a href="" class="user-dropdown-menu"><i class="fa fa-cogs ms-3 icon"></i>
                                            تنظیمات
                                        </a>
                                    </li>
                                    <li><a href="" class="user-dropdown-menu"><i class="fas fa-sign-out  ms-3 icon"></i>
                                            خروج
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </span>
                        <!-- End user circle icon -->
                    </div>
                    <!-- logo -->
                    <div class="hero-logo d-none d-lg-block">
                        <a href="/">
                            <img src="/images/reza-nut-logo.png" style="width:100px; height: 100px;" alt="">
                        </a>
                    </div>
                </div>
                <!-- Header -->
                <%- include("./includes/header.ejs") %>
                <!-- End Header -->
            </nav>
        </div>
    </section>
    <!-- End Hero -->

    <!-- Main -->
    <main dir="rtl" class="height-100 h-auto">
        <div class="d-flex justify-content-center w-75 mx-auto ">
            <button id="product-btn-1" class="custom-btn btn-5"><span> انجیر خشک </span></button>
            <button id="product-btn-2" class="custom-btn btn-5"><span> توت خشک </span></button>
        </div>

        
        <!-- Product-1 -->
        <div id="product-1">
            <!-- 1 -->
            <section class="main-border p-3">
                <!-- paging layer -->
                <section class="d-flex">
                    <a href="/" class="text-decoration-none text-black opacity-50 px-2">
                        <p> فروشکاه اینترنتی خشکبار رضا /</p>
                    </a>
                    <a href="#header" class="text-decoration-none text-black opacity-50 px-2">
                        <p> خشکبار /</p>
                    </a>
                    <a href="/products/figsMulberry#product-btn-1" class="text-decoration-none text-black opacity-50 px-2">
                        <p> انجیر </p>
                    </a>
                </section>

                <div class="row product-profile">
                    <div class="col-12 col-md-6 col-lg-5 image-section position-relative">
                        <span> <i class="fa fa-magnifying-glass magnifying-glass-icon"></i></span>
                        <div class="img-magnifier-container mx-1 mx-lg-5">
                            <img id="1" src="/images/angir-parak.png" width="400" height="300"
                                alt="Girl">
                        </div>
                        <p class="text-center"><i class="fa fa-star text-warning"></i> بسته بندی با وزن دلخواه شما و
                            ارسال به سراسر ایران <i class="fa fa-star text-warning"></i></p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-7">
                        <h1 class="product_name">
                          انجیر درجه 1
                        </h1>
                        <!-- شامل -->
                        <p class="d-none"> </i><span class="text-success"><i class="fa fa-box-open p-1"></i>شامل</span> پسته احمد آقایی خام
                           مغز فندوق خام مغز بادام درختي خام بادام هندي خام </p>

                        <ul>
                            <li> خشکبار رضا از تولید به مصرف</li>
                            <li><span class="text-danger">ارسال با پست پیشتاز </span> در سریع ترین زمان ممکن </li>
                            <li><span class="text-danger">ارسال رایگان </span> بالای 1 میلیون تومان </li>
                        </ul>
                        <p class="fs-6">
                            <span class="text-danger"> نکته : </span>
                            برای اطلاع از قیمت و سفارش محصول از طریق شبکه های اجتمایی با ما تماس حاصل فرمایید.
                        </p>
                    </div>
                </div>
            </section>
            <!-- 2 -->
            <section class="main-border p-3">
                <!-- paging layer -->
                <section class="d-flex">
                    <a href="/" class="text-decoration-none text-black opacity-50 px-2">
                        <p> فروشکاه اینترنتی خشکبار رضا /</p>
                    </a>
                    <a href="#header" class="text-decoration-none text-black opacity-50 px-2">
                        <p> خشکبار /</p>
                    </a>
                    <a href="/products/figsMulberry#product-btn-1" class="text-decoration-none text-black opacity-50 px-2">
                        <p> انجیر </p>
                    </a>
                </section>

                <div class="row product-profile">
                    <div class="col-12 col-md-6 col-lg-5 image-section position-relative">
                        <span> <i class="fa fa-magnifying-glass magnifying-glass-icon"></i></span>
                        <div class="img-magnifier-container mx-1 mx-lg-5">
                            <img id="2" src="/images/angir-mamoli.png" width="400" height="300"
                                alt="Girl">
                        </div>
                        <p class="text-center"><i class="fa fa-star text-warning"></i> بسته بندی با وزن دلخواه شما و
                            ارسال به سراسر ایران <i class="fa fa-star text-warning"></i></p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-7">
                        <h1 class="product_name">
                           انجیر معمولی
                        </h1>
                        <!-- شامل -->
                        <p class="d-none"> </i><span class="text-success"><i class="fa fa-box-open p-1"></i>شامل</span> پسته احمد آقایی
                            مغز فندوق بادام درختي بادام هندي </p>

                        <ul>
                            <li> خشکبار رضا از تولید به مصرف</li>
                            <li><span class="text-danger">ارسال با پست پیشتاز </span> در سریع ترین زمان ممکن </li>
                            <li><span class="text-danger">ارسال رایگان </span> بالای 1 میلیون تومان </li>
                        </ul>
                        <p class="fs-6">
                            <span class="text-danger"> نکته : </span>
                            برای اطلاع از قیمت و سفارش محصول از طریق شبکه های اجتمایی با ما تماس حاصل فرمایید.
                        </p>
                    </div>
                </div>
            </section>
            <section class="main-border p-3">

                <div>
                    <div class="row">
                        <button class="btn product-btn product-feature-btn border-1">
                            خصوصیات محصول
                        </button>
                    </div>
                </div>
                <div class="product-info-feature-section">
                    <div class="productFeature fs-5 ">
                        
                        <p>
                            انجیر خشک، نسخه خشک شده از میوه انجیر است و دارای مجموعه‌ای از خواص مفید برای سلامتی است. در زیر تعدادی از خواص اصلی انجیر خشک آمده است:
                            <br>
                            1. منبع عالی فیبر: انجیر خشک دارای مقدار زیادی فیبر معتدل محسوب می‌شود. فیبر موجب افزایش تشتهایی شدن مواد غذایی در روده‌ها و بهبود عملکرد دستگاه گوارش می‌شود.
                            <br>
                            2. منبع انرژی: انجیر خشک حاوی مقادیر قابل توجهی از قند طبیعی است که به عنوان منبع انرژی مورد استفاده قرار می‌گیرد. این منبع انرژی مفید برای تأمین نیازهای روزانه بدن می‌باشد.
                            <br>
                            3. ویتامین‌ها و مواد معدنی: انجیر خشک حاوی ویتامین‌های مختلفی مانند ویتامین A، ویتامین K، و ویتامین‌های گروه B (مثل B1، B2، و B3) است. همچنین، انجیر خشک دارای مواد معدنی مهمی نظیر پتاسیم، مگنز، آهن، و کلسیم است.
                            <br>
                            4. آنتی‌اکسیدان‌ها: انجیر خشک حاوی آنتی‌اکسیدان‌های مختلفی می‌باشد که می‌توانند در مقابله با آسیب‌های اکسیداتیو و جلوگیری از آسیب به سلول‌های بدن کمک کنند.
                             <br>
                            5. مواد ضد التهابی: می‌گویند که انجیر خشک ممکن است موادی داشته باشد که خواص ضد التهابی داشته باشند و به کاهش التهاب‌های مزمن در بدن کمک کنند.
                            <br>
                            6. کمک به کنترل قند خون: مصرف انجیر خشک به عنوان یک منبع قند طبیعی ممکن است به کنترل قند خون کمک کند و موجب افزایش حساسیت به انسولین شود.
                            <br>
                            7. حمایت از سلامت قلبی: مصرف معتدل انجیر خشک می‌تواند به بهبود سلامت قلبی و کاهش خطر بیماری‌های قلبی-عروقی کمک کند.
                            <br>
                            8. تأثیر مثبت بر سلامت استخوان: انجیر خشک دارای مقدار قابل توجهی کلسیم و ویتامین K است که برای سلامت استخوان مفید هستند.
                            <br>
                            توجه داشته باشید که مصرف انجیر خشک باید به میزان معقول و در چارچوب یک رژیم غذایی متنوع صورت گیرد. همچنین، در صورت داشتن حساسیت یا مشکلات خاصی درباره مصرف قند، بهتر است با متخصص تغذیه یا پزشک مشورت کنید.
                        </p>
                    </div>
                </div>
            </section>

        </div>
        <!-- End Product-1 -->
        <!-- Product-2 -->
        <div id="product-2">
            <!-- 1 -->
            <section class="main-border p-3">
                <!-- paging layer -->
                <section class="d-flex">
                    <a href="/" class="text-decoration-none text-black opacity-50 px-2">
                        <p> فروشکاه اینترنتی خشکبار رضا /</p>
                    </a>
                    <a href="#header" class="text-decoration-none text-black opacity-50 px-2">
                        <p> خشکبار /</p>
                    </a>
                    <a href="/products/figsMulberry#product-btn-2" class="text-decoration-none text-black opacity-50 px-2">
                        <p> توت خشک </p>
                    </a>
                </section>

                <div class="row product-profile">
                    <div class="col-12 col-md-6 col-lg-5 image-section position-relative">
                        <span> <i class="fa fa-magnifying-glass magnifying-glass-icon"></i></span>
                        <div class="img-magnifier-container mx-1 mx-lg-5">
                            <img id="3" src="/images/toot-dorosht.png" width="400" height="300"
                                alt="Girl">
                        </div>
                        <p class="text-center"><i class="fa fa-star text-warning"></i> بسته بندی با وزن دلخواه شما و
                            ارسال به سراسر ایران <i class="fa fa-star text-warning"></i></p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-7">
                        <h1 class="product_name">
                            توت خشک درجه 1
                        </h1>
                        <!-- شامل -->
                        <p class="d-none"> </i><span class="text-success"><i class="fa fa-box-open p-1"></i>شامل</span> پسته احمد آقایی
                            بادام درختي ايراني بادام هندي تخمه كدوگوشتي تخمه جابوني</p>

                        <ul>
                            <li> خشکبار رضا از تولید به مصرف</li>
                            <li><span class="text-danger">ارسال با پست پیشتاز </span> در سریع ترین زمان ممکن </li>
                            <li><span class="text-danger">ارسال رایگان </span> بالای 1 میلیون تومان </li>
                        </ul>
                        <p class="fs-6">
                            <span class="text-danger"> نکته : </span>
                            برای اطلاع از قیمت و سفارش محصول از طریق شبکه های اجتمایی با ما تماس حاصل فرمایید.
                        </p>
                    </div>
                </div>
            </section>
            <!-- 2 -->
            <section class="main-border p-3">
                <!-- paging layer -->
                <section class="d-flex">
                    <a href="/" class="text-decoration-none text-black opacity-50 px-2">
                        <p> فروشکاه اینترنتی خشکبار رضا /</p>
                    </a>
                    <a href="#header" class="text-decoration-none text-black opacity-50 px-2">
                        <p> خشکبار /</p>
                    </a>
                    <a href="/products/figsMulberry#product-btn-2" class="text-decoration-none text-black opacity-50 px-2">
                        <p> توت خشک </p>
                    </a>
                </section>

                <div class="row product-profile">
                    <div class="col-12 col-md-6 col-lg-5 image-section position-relative">
                        <span> <i class="fa fa-magnifying-glass magnifying-glass-icon"></i></span>
                        <div class="img-magnifier-container mx-1 mx-lg-5">
                            <img id="4" src="/images/toot-mamoli.png" width="400" height="300"
                                alt="Girl">
                        </div>
                        <p class="text-center"><i class="fa fa-star text-warning"></i> بسته بندی با وزن دلخواه شما و
                            ارسال به سراسر ایران <i class="fa fa-star text-warning"></i></p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-7">
                        <h1 class="product_name">
                            توت خشک 
                        </h1>
                        <!-- شامل -->
                        <p class="d-none"> </i><span class="text-success"><i class="fa fa-box-open p-1"></i>شامل</span> پسته احمد آقایی
                            بادام درختي ايراني بادام هندي تخمه كدوگوشتي تخمه جابوني</p>

                        <ul>
                            <li> خشکبار رضا از تولید به مصرف</li>
                            <li><span class="text-danger">ارسال با پست پیشتاز </span> در سریع ترین زمان ممکن </li>
                            <li><span class="text-danger">ارسال رایگان </span> بالای 1 میلیون تومان </li>
                        </ul>
                        <p class="fs-6">
                            <span class="text-danger"> نکته : </span>
                            برای اطلاع از قیمت و سفارش محصول از طریق شبکه های اجتمایی با ما تماس حاصل فرمایید.
                        </p>
                    </div>
                </div>
            </section>
            
            <section class="main-border p-3">

                <div>
                    <div class="row">
                        <button class="btn product-btn product-feature-btn border-1">
                            خصوصیات محصول
                        </button>
                    </div>
                </div>
                <div class="product-info-feature-section">
                    <div class="productFeature fs-5 ">
                        <p>
                            توت خشک، یک میوه خشک شده است که از توت تازه تهیه می‌شود. این میوه دارای مجموعه‌ای از خواص اصلی و مفید برای سلامتی است. در زیر تعدادی از این خواص ذکر شده است:
                            <br>
                            1. پر از آنتی‌اکسیدان‌ها: توت خشک حاوی آنتی‌اکسیدان‌های قوی مانند ویتامین C و ویتامین K است که می‌توانند در مقابله با آسیب‌های اکسیداتی و جلوگیری از آسیب به سلول‌ها کمک کنند.
                            <br>
                            2. افزایش انرژی: توت‌های خشک به دلیل حاوی قند طبیعی، فیبر و ویتامین‌های مختلف، می‌توانند انرژی بدن را افزایش دهند و از احساس خستگی جلوگیری کنند.
                            <br>
                            3. حمایت از سلامت قلب: مصرف توت‌های خشک می‌تواند به کاهش میزان کلسترول بد (LDL) و افزایش کلسترول خوب (HDL) کمک کند، که این مسئله به سلامت قلب و عروق مفید است.
                            <br>
                            4. حفاظت از سلامت عضلات: پتاسیم موجود در توت‌های خشک می‌تواند به حفظ سلامت عضلات و جلوگیری از مشکلات مرتبط با کمبود پتاسیم کمک کند.
                            <br>
                            5. پشتیبانی از گوارش: توت‌های خشک حاوی فیبر می‌باشند که می‌تواند در تنظیم گوارش، جلوگیری از یبوست و افزایش سلامت روده‌ها مفید باشد.
                            <br>
                            6. افزایش جذب آهن: ویتامین C موجود در توت‌های خشک می‌تواند جذب آهن از منابع گیاهی به بدن را افزایش دهد.
                            <br>
                            7. پایین در کالری: توت‌های خشک نسبت به توت تازه کمترین مقدار کالری دارند و می‌توانند به کنترل وزن کمک کنند.
                            <br>
                            به یاد داشته باشید که مصرف توت‌های خشک باید با میزان معقول انجام شود، زیرا اگر بیش از حد مصرف شوند، ممکن است باعث افزایش مصرف قند و کالری شود. همچنین، در صورت داشتن حساسیت به میوه‌های خشک، مصرف آن‌ها را متوقف کنید.
                        </p>
                    </div>
                </div>
            </section>

        </div>
        <!-- End Product-2 -->

        <div id="mainSectionLogo">
            <img class="sectionLogo" src="/images/reza-nut-logo.png" alt="">
        </div>


    </main>
    <!-- End Main -->

    <%- include("./includes/footer.ejs") %>
    
</body>

</html>