<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>خشکبار رضا</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/fontawesome/css/all.css">
    <link rel="stylesheet" href="/css/animate.min.css">
    <link rel="stylesheet" href="/css/grid.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/media-queries.css">
    <link rel="stylesheet" href="/css/aos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
</head>

<body id="body">

    <%- include("./includes/fixedButton.ejs") %>

    <!-- Hero -->
    <section class="hamzelnut-page-hero">
        <div class="navbar-space">
            <!-- search box DESPLAY-NONE-->
            <div class="search-box position-relative d-none">;
                <div>
                    <input type="text" class="form-control search-box-input position-absolute" placeholder="... جستجو">
                </div>
            </div>
            <nav class="navbar navbar-expand-lg d-flex justify-content-end ">
                <div>
                    <!-- shopping card and login & sign up DESPLAY-NONE  -->
                    <div class="shopingCard d-flex mt-5 d-none">
                        <a href="" class="text-black my-auto">
                            <i class='fa fa-shopping-cart blue-color fs-5'>
                            </i>
                            <span
                                class="position-absolute top-30 start-10 translate-middle badge shopping-cart-badge rounded-pill bg-danger">
                                4
                            </span>
                        </a>

                        <div class="divider-line mx-4"></div>
                        <!-- login & Register -->
                        <a href="" class="d-flex text-decoration-none text-black login-link">
                            <p> ورود </p>
                            <div class="divider-line"></div>
                            <p> ثبت نام</p>
                            <i class='fa fa-sign-in fs-5 ms-2'></i>
                        </a>
                        <!-- End login & Register -->
                        <!-- user circle icon -->
                        <span class="userProfile  d-none">
                            <span>
                                <i class="fas fa-user-circle text-black fs-4"></i>
                            </span>

                            <div class="body" dir="rtl">
                                <ul class="user-Profile-link">
                                    <li><a href="" class="user-dropdown-menu"><i
                                                class="fas fa-sign icon ms-3 "></i>پروفایل
                                        </a>
                                    </li>
                                    <li><a href="" class="user-dropdown-menu"><i class="fas fa-bar-chart ms-3 icon"></i>
                                            آمار
                                        </a>
                                    </li>
                                    <li><a href="" class="user-dropdown-menu"><i class="fas fa-boxes ms-3 icon"></i>
                                            ویجت ها</a></li>
                                    <li><a href="" class="user-dropdown-menu"><i
                                                class="fas fa-table ms-3 icon"></i>جداول
                                        </a>
                                    </li>
                                    <li><a href="" class="user-dropdown-menu"><i class="fa fa-cogs ms-3 icon"></i>
                                            تنظیمات
                                        </a>
                                    </li>
                                    <li><a href="" class="user-dropdown-menu"><i class="fas fa-sign-out  ms-3 icon"></i>
                                            خروج
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </span>
                        <!-- End user circle icon -->
                    </div>
                    <!-- logo -->
                    <div class="hero-logo d-none d-lg-block">
                        <a href="/">
                            <img src="/images/reza-nut-logo.png" style="width:100px; height: 100px;" alt="">
                        </a>
                    </div>
                </div>
                <!-- Header -->
                <%- include("./includes/header.ejs") %>
                <!-- End Header -->
            </nav>
        </div>
    </section>
    <!-- End Hero -->

    <!-- Main -->
    <main dir="rtl" class="height-100 h-auto">
        <div class="d-flex justify-content-center w-75 mx-auto ">
            <button id="product-btn-1" class="custom-btn btn-5"><span> مغز فندوق </span></button>
            <button id="product-btn-2" class="custom-btn btn-5"><span>فندق با پوست   </span></button>
        </div>

        
        <!-- Product-1 -->
        <div id="product-1">
            <!-- خام -->
            <section class="main-border p-3">
                <!-- paging layer -->
                <section class="d-flex">
                    <a href="/" class="text-decoration-none text-black opacity-50 px-2">
                        <p> فروشکاه اینترنتی خشکبار رضا /</p>
                    </a>
                    <a href="#header" class="text-decoration-none text-black opacity-50 px-2">
                        <p> آجیل /</p>
                    </a>
                    <a href="/products/hazelnuts#product-btn-1" class="text-decoration-none text-black opacity-50 px-2">
                        <p>مغز فندوق </p>
                    </a>
                </section>

                <div class="row product-profile">
                    <div class="col-12 col-md-6 col-lg-5 image-section position-relative">
                        <span> <i class="fa fa-magnifying-glass magnifying-glass-icon"></i></span>
                        <div class="img-magnifier-container mx-1 mx-lg-5">
                            <img id="1" src="/images/fandogh-shor.png" width="400" height="300"
                                alt="Girl">
                        </div>
                        <p class="text-center"><i class="fa fa-star text-warning"></i> بسته بندی با وزن دلخواه شما و
                            ارسال به سراسر ایران <i class="fa fa-star text-warning"></i></p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-7">
                        <h1 class="product_name">
                         مغز فندوق شور
                        </h1>
                        <!-- شامل -->
                        <p class="d-none"> </i><span class="text-success"><i class="fa fa-box-open p-1"></i>شامل</span> پسته احمد آقایی خام
                           مغز فندوق خام مغز بادام درختي خام بادام هندي خام </p>

                        <ul>
                            <li> خشکبار رضا از تولید به مصرف</li>
                            <li><span class="text-danger">ارسال با پست پیشتاز </span> در سریع ترین زمان ممکن </li>
                            <li><span class="text-danger">ارسال رایگان </span> بالای 1 میلیون تومان </li>
                        </ul>
                        <p class="fs-6">
                            <span class="text-danger"> نکته : </span>
                            برای اطلاع از قیمت و سفارش محصول از طریق شبکه های اجتمایی با ما تماس حاصل فرمایید.
                        </p>
                    </div>
                </div>
            </section>
            <!-- شور -->
            <section class="main-border p-3">
                <!-- paging layer -->
                <section class="d-flex">
                    <a href="/" class="text-decoration-none text-black opacity-50 px-2">
                        <p> فروشکاه اینترنتی خشکبار رضا /</p>
                    </a>
                    <a href="#header" class="text-decoration-none text-black opacity-50 px-2">
                        <p> آجیل /</p>
                    </a>
                    <a href="/products/hazelnuts#product-btn-1" class="text-decoration-none text-black opacity-50 px-2">
                        <p>مغز فندوق </p>
                    </a>
                </section>

                <div class="row product-profile">
                    <div class="col-12 col-md-6 col-lg-5 image-section position-relative">
                        <span> <i class="fa fa-magnifying-glass magnifying-glass-icon"></i></span>
                        <div class="img-magnifier-container mx-1 mx-lg-5">
                            <img id="2" src="/images/fandogh-kham.png" width="400" height="300"
                                alt="Girl">
                        </div>
                        <p class="text-center"><i class="fa fa-star text-warning"></i> بسته بندی با وزن دلخواه شما و
                            ارسال به سراسر ایران <i class="fa fa-star text-warning"></i></p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-7">
                        <h1 class="product_name">
                            مغز فندوق خام
                        </h1>
                        <!-- شامل -->
                        <p class="d-none"> </i><span class="text-success"><i class="fa fa-box-open p-1"></i>شامل</span> پسته احمد آقایی
                            مغز فندوق بادام درختي بادام هندي </p>

                        <ul>
                            <li> خشکبار رضا از تولید به مصرف</li>
                            <li><span class="text-danger">ارسال با پست پیشتاز </span> در سریع ترین زمان ممکن </li>
                            <li><span class="text-danger">ارسال رایگان </span> بالای 1 میلیون تومان </li>
                        </ul>
                        <p class="fs-6">
                            <span class="text-danger"> نکته : </span>
                            برای اطلاع از قیمت و سفارش محصول از طریق شبکه های اجتمایی با ما تماس حاصل فرمایید.
                        </p>
                    </div>
                </div>
            </section>
            <section class="main-border p-3">

                <div>
                    <div class="row">
                        <button class="btn product-btn product-feature-btn border-1">
                            خصوصیات محصول
                        </button>
                    </div>
                </div>
                <div class="product-info-feature-section">
                    <div class="productFeature fs-5 ">
                        <p>
                            عفندوق یک نوع میوه‌ی خشک است که در گلهای گیاه فندوق کشیده می‌شود. این میوه در داخل یک پوسته سخت قهوه‌ای یا قهوه‌ای تیره قرار دارد. فندوق به عنوان یک میان‌وعده خوشمزه و پراز انرژی شناخته می‌شود و به صورت خام یا در انواع مختلف پخته شده مصرف می‌شود.
                        </p>
                        <p>
                            فندوق یک میوه خشک با خواص بسیار مفید برای سلامتی انسان است. در زیر تعدادی از خواص اصلی فندوق را برای شما ذکر می‌شود:
                            <br>
                            1. منبع غنی پروتئین: فندوق حاوی مقدار قابل توجهی پروتئین می‌باشد که برای ساخت و تعمیر اندام‌های بدن ضروری است.
                            <br>
                            2. پر از مواد معدنی: فندوق حاوی مواد معدنی مانند مس، مگنزیم، فسفر و آهن است که برای حفظ سلامت استخوان‌ها و سیستم عصبی اهمیت دارد.
                            <br>
                            3. منبع دست‌نخورده انرژی: چربی‌های ناسالمی که در فندوق وجود دارد، از نوع اشباع‌شده نشده می‌باشد و به عنوان یک منبع انرژی پایدار و سالم برای بدن عمل می‌کند.
                            <br>
                            4. آنتی‌اکسیدان‌ها: فندوق حاوی آنتی‌اکسیدان‌های مختلفی از جمله ویتامین E و سلنیوم است که می‌توانند از آسیب‌های اکسیداتیو بدن محافظت کنند.
                            <br>
                            5. حفظ سلامت قلب: مصرف منظم فندوق می‌تواند به کاهش خطر ابتلا به بیماری‌های قلبی-عروقی کمک کند.
                            <br>
                            6. کمک به کاهش وزن: مصرف معتدل فندوق به عنوان یک منبع انرژی پایدار می‌تواند در کاهش اشتها و کنترل وزن بدن مؤثر باشد.
                            <br>
                            7. افزایش سطح کلسترول خوب: فندوق می‌تواند سطح کلسترول خوب (HDL) را افزایش دهد و برای سلامت قلبی مفید باشد.
                            <br>
                            8. حفظ سلامت مغز: برخی تحقیقات نشان داده‌اند که مصرف فندوق می‌تواند به حفظ و بهبود عملکرد مغز کمک کند.
                            <br>
                            9. کاهش خطر بیماری‌های التهابی: فندوق حاوی مواد ضد التهابی مانند فیتوکمیکال‌ها و اسیدهای چرب اشباع نشده است که ممکن است به کاهش خطر بیماری‌های التهابی بدن کمک کنند.
                            <br>
                            توجه داشته باشید که مصرف معتدل و به میزان مناسب فندوق بهترین نتیجه را برای سلامتی به دنبال دارد، زیرا مصرف زیاد آن ممکن است به افزایش وزن بیش از حد منجر شود. همچنین، افرادی که به آلرژی‌ها دچار هستند باید از مصرف فندوق خودداری کنند.
                        </p>
                    </div>
                </div>
            </section>

        </div>
        <!-- End Product-1 -->
        <!-- Product-2 -->
        <div id="product-2">
            <!-- خام -->
            <section class="main-border p-3">
                <!-- paging layer -->
                <section class="d-flex">
                    <a href="/" class="text-decoration-none text-black opacity-50 px-2">
                        <p> فروشکاه اینترنتی خشکبار رضا /</p>
                    </a>
                    <a href="#header" class="text-decoration-none text-black opacity-50 px-2">
                        <p> آجیل /</p>
                    </a>
                    <a href="/products/hazelnuts#product-btn-2" class="text-decoration-none text-black opacity-50 px-2">
                        <p> فندوق با پوست </p>
                    </a>
                </section>

                <div class="row product-profile">
                    <div class="col-12 col-md-6 col-lg-5 image-section position-relative">
                        <span> <i class="fa fa-magnifying-glass magnifying-glass-icon"></i></span>
                        <div class="img-magnifier-container mx-1 mx-lg-5">
                            <img id="3" src="/images/fandogh-ba-pust.png" width="400" height="300"
                                alt="Girl">
                        </div>
                        <p class="text-center"><i class="fa fa-star text-warning"></i> بسته بندی با وزن دلخواه شما و
                            ارسال به سراسر ایران <i class="fa fa-star text-warning"></i></p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-7">
                        <h1 class="product_name">
                            فندوق ایرانی با پوست
                        </h1>
                        <!-- شامل -->
                        <p class="d-none"> </i><span class="text-success"><i class="fa fa-box-open p-1"></i>شامل</span> پسته احمد آقایی
                            بادام درختي ايراني بادام هندي تخمه كدوگوشتي تخمه جابوني</p>

                        <ul>
                            <li> خشکبار رضا از تولید به مصرف</li>
                            <li><span class="text-danger">ارسال با پست پیشتاز </span> در سریع ترین زمان ممکن </li>
                            <li><span class="text-danger">ارسال رایگان </span> بالای 1 میلیون تومان </li>
                        </ul>
                        <p class="fs-6">
                            <span class="text-danger"> نکته : </span>
                            برای اطلاع از قیمت و سفارش محصول از طریق شبکه های اجتمایی با ما تماس حاصل فرمایید.
                        </p>
                    </div>
                </div>
            </section>
            
            <section class="main-border p-3">

                <div>
                    <div class="row">
                        <button class="btn product-btn product-feature-btn border-1">
                            خصوصیات محصول
                        </button>
                    </div>
                </div>
                <div class="product-info-feature-section">
                    <div class="productFeature fs-5 ">
                        <p>
                            عفندوق یک نوع میوه‌ی خشک است که در گلهای گیاه فندوق کشیده می‌شود. این میوه در داخل یک پوسته سخت قهوه‌ای یا قهوه‌ای تیره قرار دارد. فندوق به عنوان یک میان‌وعده خوشمزه و پراز انرژی شناخته می‌شود و به صورت خام یا در انواع مختلف پخته شده مصرف می‌شود.
                        </p>
                        <p>
                            فندوق یک میوه خشک با خواص بسیار مفید برای سلامتی انسان است. در زیر تعدادی از خواص اصلی فندوق را برای شما ذکر می‌شود:
                            <br>
                            1. منبع غنی پروتئین: فندوق حاوی مقدار قابل توجهی پروتئین می‌باشد که برای ساخت و تعمیر اندام‌های بدن ضروری است.
                            <br>
                            2. پر از مواد معدنی: فندوق حاوی مواد معدنی مانند مس، مگنزیم، فسفر و آهن است که برای حفظ سلامت استخوان‌ها و سیستم عصبی اهمیت دارد.
                            <br>
                            3. منبع دست‌نخورده انرژی: چربی‌های ناسالمی که در فندوق وجود دارد، از نوع اشباع‌شده نشده می‌باشد و به عنوان یک منبع انرژی پایدار و سالم برای بدن عمل می‌کند.
                            <br>
                            4. آنتی‌اکسیدان‌ها: فندوق حاوی آنتی‌اکسیدان‌های مختلفی از جمله ویتامین E و سلنیوم است که می‌توانند از آسیب‌های اکسیداتیو بدن محافظت کنند.
                            <br>
                            5. حفظ سلامت قلب: مصرف منظم فندوق می‌تواند به کاهش خطر ابتلا به بیماری‌های قلبی-عروقی کمک کند.
                            <br>
                            6. کمک به کاهش وزن: مصرف معتدل فندوق به عنوان یک منبع انرژی پایدار می‌تواند در کاهش اشتها و کنترل وزن بدن مؤثر باشد.
                            <br>
                            7. افزایش سطح کلسترول خوب: فندوق می‌تواند سطح کلسترول خوب (HDL) را افزایش دهد و برای سلامت قلبی مفید باشد.
                            <br>
                            8. حفظ سلامت مغز: برخی تحقیقات نشان داده‌اند که مصرف فندوق می‌تواند به حفظ و بهبود عملکرد مغز کمک کند.
                            <br>
                            9. کاهش خطر بیماری‌های التهابی: فندوق حاوی مواد ضد التهابی مانند فیتوکمیکال‌ها و اسیدهای چرب اشباع نشده است که ممکن است به کاهش خطر بیماری‌های التهابی بدن کمک کنند.
                            <br>
                            توجه داشته باشید که مصرف معتدل و به میزان مناسب فندوق بهترین نتیجه را برای سلامتی به دنبال دارد، زیرا مصرف زیاد آن ممکن است به افزایش وزن بیش از حد منجر شود. همچنین، افرادی که به آلرژی‌ها دچار هستند باید از مصرف فندوق خودداری کنند.
                        </p>
                    </div>
                </div>
            </section>

        </div>
        <!-- End Product-2 -->

        <div id="mainSectionLogo">
            <img class="sectionLogo" src="/images/reza-nut-logo.png" alt="">
        </div>


    </main>
    <!-- End Main -->

    <%- include("./includes/footer.ejs") %>
    
</body>

</html>