<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>خشکبار رضا</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fontawesome/css/all.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/css/grid.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/media-queries.css">
    <link rel="stylesheet" href="assets/css/aos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
</head>

<body id="body">
   <!-- fixed button -->
   <div class="d-block d-lg-none overflow-hidden">
    <div class="ball fixed-bottom">
        <a href="https://instagram.com/khoshkbar_reza98?igshid=OGQ5ZDc2ODk2ZA=="><i class="fs-2 fab fa-instagram fourth "></i></a>
        <a href="https://t.me/I_love_karbala"><i class="fs-2 fab fa-telegram first "></i></a>
        <a href="https://wa.me/qr/C6QOYJ6N6XYGM1"><i class="fs-2 fab fa-whatsapp second"></i></a>
        <a href="tel:0263477963"><i class="fs-2 fa fa-phone third"></i></a>
        <a href="https://eitaa.com/I_love_karbala"><svg xmlns="http://www.w3.org/2000/svg" class="fiveth" viewBox="0 0 3584.55 3673.6">
            <g id="Isolation_Mode" data-name="Isolation Mode">
              <path d="M1071.43,2.75H2607.66C3171,2.75,3631.82,462.91,3631.82,1026.2v493.93c-505,227-1014.43,1348.12-1756.93,1104.51-61.16,43.46-202.11,222.55-212,358.43-257.11-34.24-553.52-328.88-517.95-646.62C717,2026.91,1070.39,1455.5,1409.74,1225.51c727.32-492.94,1737.05-69,1175.39,283.45-341.52,214.31-1071.84,355.88-995.91-170.24-200.34,57.78-328.58,431.34-87.37,626-223.45,219.53-180.49,623.07,58.36,755.57,241.56-625.87,1082.31-544.08,1422-1291.2,255.57-562-123.34-1202.37-880.91-1104C1529.56,399.34,993.64,881.63,725.62,1453.64,453.68,2034,494.15,2811.15,1052.55,3202.82c657.15,460.92,1356.78,34.13,1780.52-523.68,249.77-328.78,468-693,798.75-903.37v875.72c0,563.28-460.88,1024.86-1024.16,1024.86H1071.43c-563.29,0-1024.16-460.87-1024.16-1024.16V1026.9C47.27,463.61,508.14,2.74,1071.43,2.74Z" transform="translate(-47.27 -2.74)" fill="white" fill-rule="evenodd"/>
            </g>
          </svg>
          </a>
        <?xml version="1.0" encoding="utf-8"?>
        <?xml version="1.0" encoding="iso-8859-1"?>
        <!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
        <svg fill="#g1g1g1" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
             viewBox="0 0 477.655 477.655" xml:space="preserve">
        <g>
            <path d="M440.367,440.415l-10.173-29.91c-19.102-56.262-70.83-94.605-129.763-97.121c-5.187,4.03-10.655,7.493-16.322,10.521
                c-8.449,22.185-36.836,28.195-53.468,11.205c-19.676-1.738-37.69-9.511-53.422-21.725c-58.933,2.508-110.647,40.851-129.763,97.121
                L37.3,440.415c-2.936,8.603-1.522,18.084,3.774,25.469c5.279,7.391,13.821,11.771,22.906,11.771h349.693
                c9.083,0,17.626-4.379,22.906-11.771C441.873,458.499,443.286,449.018,440.367,440.415z"/>
            <path d="M277.758,290.619c34.212-24.047,58.141-77.151,58.141-128.491c0-145.907-194.133-145.752-194.133,0
                c0,62.397,35.33,127.303,81.546,139.556c4.456-12.626,16.382-21.757,30.515-21.757C263.331,279.926,271.81,284.095,277.758,290.619
                z"/>
            <path d="M99.169,223.042c4.813,18.906,31.044,13.704,31.044-3.805c0-70.178,3.354-76.731-6.041-84.348
                C145.679,2.361,330.946,3.355,353.495,134.904c-9.381,7.641-6.025,14.163-6.025,84.333c0,5.489,2.95,10.095,7.189,12.952
                c0,54.594-22.145,51.402-88.736,69.052c-10.295-11.174-28.683-3.899-28.683,11.173c0,18.876,27.053,23.293,32.302,4.318
                c53.762-14.256,101.018-18.752,101.018-72.484v-11.027c3.991-2.066,6.817-5.729,7.951-10.179c51.822-1.056,51.838-78.719,0-79.775
                c-1.072-4.24-3.711-7.703-7.423-9.815c1.336-15.902-1.94-36.805-11.057-56.985C296.626-54.368,109.355-3.176,106.422,123.622
                c-0.404,4.294-0.078,7.338,0.17,9.83c-3.712,2.112-6.351,5.575-7.423,9.815c-21.71,0.419-39.212,18.084-39.212,39.888
                C59.957,204.958,77.459,222.622,99.169,223.042z"/>
        </g>
        </svg>
    </div>	
 </div>
 <div class="floating-container d-none d-lg-block">
    <div class="floating-button"> <svg fill="#g1g1g1" height="40px" width="40px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
        viewBox="0 0 477.655 477.655" xml:space="preserve">
   <g>
       <path d="M440.367,440.415l-10.173-29.91c-19.102-56.262-70.83-94.605-129.763-97.121c-5.187,4.03-10.655,7.493-16.322,10.521
           c-8.449,22.185-36.836,28.195-53.468,11.205c-19.676-1.738-37.69-9.511-53.422-21.725c-58.933,2.508-110.647,40.851-129.763,97.121
           L37.3,440.415c-2.936,8.603-1.522,18.084,3.774,25.469c5.279,7.391,13.821,11.771,22.906,11.771h349.693
           c9.083,0,17.626-4.379,22.906-11.771C441.873,458.499,443.286,449.018,440.367,440.415z"/>
       <path d="M277.758,290.619c34.212-24.047,58.141-77.151,58.141-128.491c0-145.907-194.133-145.752-194.133,0
           c0,62.397,35.33,127.303,81.546,139.556c4.456-12.626,16.382-21.757,30.515-21.757C263.331,279.926,271.81,284.095,277.758,290.619
           z"/>
       <path d="M99.169,223.042c4.813,18.906,31.044,13.704,31.044-3.805c0-70.178,3.354-76.731-6.041-84.348
           C145.679,2.361,330.946,3.355,353.495,134.904c-9.381,7.641-6.025,14.163-6.025,84.333c0,5.489,2.95,10.095,7.189,12.952
           c0,54.594-22.145,51.402-88.736,69.052c-10.295-11.174-28.683-3.899-28.683,11.173c0,18.876,27.053,23.293,32.302,4.318
           c53.762-14.256,101.018-18.752,101.018-72.484v-11.027c3.991-2.066,6.817-5.729,7.951-10.179c51.822-1.056,51.838-78.719,0-79.775
           c-1.072-4.24-3.711-7.703-7.423-9.815c1.336-15.902-1.94-36.805-11.057-56.985C296.626-54.368,109.355-3.176,106.422,123.622
           c-0.404,4.294-0.078,7.338,0.17,9.83c-3.712,2.112-6.351,5.575-7.423,9.815c-21.71,0.419-39.212,18.084-39.212,39.888
           C59.957,204.958,77.459,222.622,99.169,223.042z"/>
   </g>
   </svg></i></div>
    <div class="element-container">
  
      <span class="float-element">
        <a href="https://instagram.com/khoshkbar_reza98?igshid=OGQ5ZDc2ODk2ZA==" class="text-decoration-none text-white">
            <i class="material-icons fs-1 fab fa-instagram"></i>
        </a>
      </span>
      <span class="float-element">
        <a href="https://t.me/I_love_karbala" class="text-decoration-none text-white">
            <i class="material-icons fs-1 fab fa-telegram"></i>
        </a>
      </span>
      <span class="float-element">
        <a href="https://wa.me/qr/C6QOYJ6N6XYGM1" class="text-decoration-none text-white">
            <i class="material-icons fs-1 fab fa-whatsapp"></i>
        </a>
      </span>
        <span class="float-element">
            <a href="https://eitaa.com/I_love_karbala" class="text-decoration-none text-white">
                <svg xmlns="http://www.w3.org/2000/svg" class="fiveth" viewBox="0 0 3584.55 3673.6">
                    <g id="Isolation_Mode" data-name="Isolation Mode">
                      <path d="M1071.43,2.75H2607.66C3171,2.75,3631.82,462.91,3631.82,1026.2v493.93c-505,227-1014.43,1348.12-1756.93,1104.51-61.16,43.46-202.11,222.55-212,358.43-257.11-34.24-553.52-328.88-517.95-646.62C717,2026.91,1070.39,1455.5,1409.74,1225.51c727.32-492.94,1737.05-69,1175.39,283.45-341.52,214.31-1071.84,355.88-995.91-170.24-200.34,57.78-328.58,431.34-87.37,626-223.45,219.53-180.49,623.07,58.36,755.57,241.56-625.87,1082.31-544.08,1422-1291.2,255.57-562-123.34-1202.37-880.91-1104C1529.56,399.34,993.64,881.63,725.62,1453.64,453.68,2034,494.15,2811.15,1052.55,3202.82c657.15,460.92,1356.78,34.13,1780.52-523.68,249.77-328.78,468-693,798.75-903.37v875.72c0,563.28-460.88,1024.86-1024.16,1024.86H1071.43c-563.29,0-1024.16-460.87-1024.16-1024.16V1026.9C47.27,463.61,508.14,2.74,1071.43,2.74Z" transform="translate(-47.27 -2.74)" fill="white" fill-rule="evenodd"/>
                    </g>
                  </svg>
            </a>
      </span>
    </div>
  </div>
<!-- End fixed button -->


    <!-- Header -->
    <section class="hamzelnut-page-hero">
        <div class="navbar-space">
            <!-- search box DESPLAY-NONE-->
            <div class="search-box position-relative d-none">;
                <div>
                    <input type="text" class="form-control search-box-input position-absolute" placeholder="... جستجو">
                </div>
            </div>
            <nav class="navbar navbar-expand-lg d-flex justify-content-end ">
                <div>
                    <!-- shopping card and login & sign up DESPLAY-NONE  -->
                    <div class="shopingCard d-flex mt-5 d-none">
                        <a href="" class="text-black my-auto">
                            <i class='fa fa-shopping-cart blue-color fs-5'>
                            </i>
                            <span
                                class="position-absolute top-30 start-10 translate-middle badge shopping-cart-badge rounded-pill bg-danger">
                                4
                            </span>
                        </a>

                        <div class="divider-line mx-4"></div>
                        <!-- login & Register -->
                        <a href="" class="d-flex text-decoration-none text-black login-link">
                            <p> ورود </p>
                            <div class="divider-line"></div>
                            <p> ثبت نام</p>
                            <i class='fa fa-sign-in fs-5 ms-2'></i>
                        </a>
                        <!-- End login & Register -->
                        <!-- user circle icon -->
                        <span class="userProfile  d-none">
                            <span>
                                <i class="fas fa-user-circle text-black fs-4"></i>
                            </span>

                            <div class="body" dir="rtl">
                                <ul class="user-Profile-link">
                                    <li><a href="" class="user-dropdown-menu"><i
                                                class="fas fa-sign icon ms-3 "></i>پروفایل
                                        </a>
                                    </li>
                                    <li><a href="" class="user-dropdown-menu"><i class="fas fa-bar-chart ms-3 icon"></i>
                                            آمار
                                        </a>
                                    </li>
                                    <li><a href="" class="user-dropdown-menu"><i class="fas fa-boxes ms-3 icon"></i>
                                            ویجت ها</a></li>
                                    <li><a href="" class="user-dropdown-menu"><i
                                                class="fas fa-table ms-3 icon"></i>جداول
                                        </a>
                                    </li>
                                    <li><a href="" class="user-dropdown-menu"><i class="fa fa-cogs ms-3 icon"></i>
                                            تنظیمات
                                        </a>
                                    </li>
                                    <li><a href="" class="user-dropdown-menu"><i class="fas fa-sign-out  ms-3 icon"></i>
                                            خروج
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </span>
                        <!-- End user circle icon -->
                    </div>
                    <!-- logo -->
                    <div class="hero-logo d-none d-lg-block">
                        <a href="index.html">
                            <img src="assets/images/reza-nut-logo.png" style="width:100px; height: 100px;" alt="">
                        </a>
                    </div>
                </div>
                <div class="lg-md-navbar mt-md-5 mt-0 mx-lg-auto">
                    <div class="d-inline-block nav-background" id="navbarNavAltMarkup">
                    </div>
                    <!-- ls navbar -->
                    <div class="navbar-content d-none d-lg-flex">
                        <span class=" text-decoration-none p-4 fs-5 mixed-nuts-navLink"> آجیل </span>
                        <span class=" text-decoration-none p-4 fs-5 nuts-navLink" > خشکبار</span>
                        <span class=" text-decoration-none p-4 fs-5 chocolate-navLink"> شکلات</span>
                        <a href="saffaron.html" class=" text-decoration-none p-4 fs-5"> زعفران</ش>
                        <a href="/404" class=" text-decoration-none p-4 fs-5"> تنقلات</ش>
                        <a href="#aboutUs" class=" text-decoration-none p-4 fs-5"> درباره ما </a>
                    </div>
                    <section id="mixed-nuts-navbar-link-section">
                        <div class="navbar-link-section">
                            <!-- mixed nuts -->
                            <div class="mixed-nuts__navbar-links mixed-nuts-navbarlinks">
                                <div class="d-flex">
                                    <div class="m-4">
                                        <a href="mixednuts.html" class="fs-5 other-page-navbar__links"> آجیل </a>
                                        <div class="navbar-link-divider"></div>
                                        <ul class="list-unstyled ul-other-page-navbar__links">
                                            <li class="mt-2 fs-6">
                                                <a href="mixednuts.html#product-btn-1" class="other-page-navbar__links"> آجیل مفز </a>
                                            </li>
                                            <li class="mt-2 fs-6">
                                                <a href="mixednuts.html#product-btn-2" class="other-page-navbar__links"> آجیل تخمه دار </a>
                                            </li>
                                        </ul>
                                        <a href="" class="fs-5 other-page-navbar__links"> پسته </a>
                                        <div class="navbar-link-divider"></div>
                                        <ul class="list-unstyled ul-other-page-navbar__links">
                                            <li class="mt-2 fs-6">
                                                <a href="pistachio.html#product-btn-1" class="other-page-navbar__links"> پسته اکبری </a>
                                            </li>
                                            <li class="mt-2 fs-6">
                                                <a href="pistachio.html#product-btn-2" class="other-page-navbar__links"> پسته احمد اقایی </a>
                                            </li>
                                            <li class="mt-2 fs-6">
                                                <a href="pistachio.html#product-btn-3" class="other-page-navbar__links"> پسته کله قوچی </a>
                                            </li>
                                            <li class="mt-2 fs-6">
                                                <a href="pistachio.html#product-btn-4" class="other-page-navbar__links"> پسته فندوقی </a>
                                            </li>
                                            <li class="mt-2 fs-6">
                                                <a href="pistachio.html#product-btn-5" class="other-page-navbar__links"> مغز پسته </a>
                                            </li>
                                            <li class="mt-2 fs-6">
                                                <a href="pistachio.html#product-btn-6" class="other-page-navbar__links"> خلال پسته </a>
                                            </li>
                                        </ul>
                                        <a href="walnuts.html" class="fs-5 other-page-navbar__links"> انواع گردو </a>
                                        <div class="navbar-link-divider"></div>
                                        <ul class="list-unstyled ul-other-page-navbar__links">
                                            <li class="mt-2 fs-6">
                                                <a href="walnuts.html#product-btn-1" class="other-page-navbar__links"> مغز گردو </a>
                                            </li>
                                            <li class="mt-2 fs-6">
                                                <a href="walnuts.html#product-btn-2" class="other-page-navbar__links"> گردو با پوست </a>
                                            </li>

                                        </ul>
                                    </div>
                                    <div class="m-4">
                                        <a href="seeds.html" class="fs-5 other-page-navbar__links"> انواع تخمه </a>
                                        <div class="navbar-link-divider"></div>
                                        <ul class="list-unstyled ul-other-page-navbar__links">
                                            <li class="mt-2 fs-6">
                                                <a href="seeds.html#product-btn-1" class="other-page-navbar__links"> تخمه آفتاب گردان </a>
                                            </li>
                                            <li class="mt-2 fs-6">
                                                <a href="seeds.html#product-btn-2" class="other-page-navbar__links"> تخمه جابنی </a>
                                            </li>
                                            <li class="mt-2 fs-6">
                                                <a href="seeds.html#product-btn-3" class="other-page-navbar__links"> تخمه هندوانه </a>
                                            </li>
                                            <li class="mt-2 fs-6">
                                                <a href="seeds.html#product-btn-4" class="other-page-navbar__links"> تخمه کدو </a>
                                            </li>
                                            <li class="mt-2 fs-6">
                                                <a href="seeds.html#product-btn-5" class="other-page-navbar__links"> مغز تخمه </a>
                                            </li>
                                        </ul>
                                        <a href="hazelnuts.html" class="fs-5 other-page-navbar__links"> انواع فندوق </a>
                                        <div class="navbar-link-divider"></div>
                                        <ul class="list-unstyled ul-other-page-navbar__links">
                                            <li class="mt-2 fs-6">
                                                <a href="hazelnuts.html#product-btn-1" class="other-page-navbar__links"> مغز فندوق </a>
                                            </li>
                                            <li class="mt-2 fs-6">
                                                <a href="hazelnuts.html#product-btn-2" class="other-page-navbar__links"> فندوق با پوست </a>
                                            </li>

                                        </ul>
                                        <a href="almonds.html" class="fs-5 other-page-navbar__links"> انواع بادام </a>
                                        <div class="navbar-link-divider"></div>
                                        <ul class="list-unstyled ul-other-page-navbar__links">
                                            <li class="mt-2 fs-6">
                                                <a href="almonds.html#product-btn-2" class="other-page-navbar__links"> مغز بادام درختی </a>
                                            </li>
                                            <li class="mt-2 fs-6">
                                                <a href="almonds.html#product-btn-3" class="other-page-navbar__links"> بادام درختی با پوست
                                                    کاغذی(منقا) </a>
                                            </li>
                                            <li class="mt-2 fs-6">
                                                <a href="almonds.html#product-btn-4" class="other-page-navbar__links"> بادام درختی با پوست </a>
                                            </li>
                                            <li class="mt-2 fs-6">
                                                <a href="almonds.html#product-btn-5" class="other-page-navbar__links"> بادام زمینی آستانه </a>
                                            </li>
                                            <li class="mt-2 fs-6">
                                                <a href="almonds.html#product-btn-1" class="other-page-navbar__links"> بادام هندی </a>
                                            </li>
                                        </ul>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section id="nuts-navbar-link-section">
                        <div class="navbar-link-section">
                            <!-- nuts -->
                            <div class="nuts__navbar-links nuts-navbarlinks p-4">
                                <div>
                                    <a href="rassins.html" class="fs-5  other-page-navbar__links"> کشمش و مویز</a>
                                    <div class="navbar-link-divider mb-4"></div>
                                    <a href="chickpeas.html" class="fs-5  other-page-navbar__links"> نخودچی</a>
                                    <div class="navbar-link-divider mb-4"></div>
                                    <a href="figs-Mulberry.html#product-btn-1" class="fs-5 other-page-navbar__links"> انجیر خشک </a>
                                    <div class="navbar-link-divider mb-4"></div>
                                    <a href="figs-Mulberry.html#product-btn-2" class="fs-5 other-page-navbar__links"> توت خشک </a>
                                    <div class="navbar-link-divider mb-4"></div>
                                    <a href="plums.html" class="fs-5 other-page-navbar__links"> آلو ها </a>
                                    <div class="navbar-link-divider mb-4"></div>
                                    <a href="dryFruits.html" class="fs-5 other-page-navbar__links"> میوه های خشک</a>
                                    <div class="navbar-link-divider mb-4"></div>
                                    <a href="dates.html" class="fs-5 other-page-navbar__links "> خرما </a>
                                    <div class="navbar-link-divider mb-4"></div>
                                    <ul class="list-unstyled ul-other-page-navbar__links">
                                        <li class="mt-2 fs-6">
                                            <a href="dates.html#product-btn-1" class="other-page-navbar__links"> خرما پیارم </a>
                                        </li>
                                        <li class="mt-2 fs-6">
                                            <a href="dates.html#product-btn-2" class="other-page-navbar__links"> خرما زاهدی </a>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </section>
                    <section id="chocolate-navbar-link-section">
                        <div class="navbar-link-section">
                            <!-- chocolate -->
                            <div class="chocolate__navbar-links chocolate-navbarlinks p-4">
                                <div>
                                    <a href="chocolate.html#product-btn-1" class="fs-5  other-page-navbar__links"> شکلات کاکائویی تلخ</a>
                                    <div class="navbar-link-divider mb-4"></div>
                                    <a href="chocolate.html#product-btn-2" class="fs-5 other-page-navbar__links"> شکلات کاکائویی شیرین</a>
                                    <div class="navbar-link-divider mb-4"></div>
                                    <a href="chocolate.html#product-btn-3" class="fs-5 other-page-navbar__links"> تافی و آبنباتی </a>
                                    <div class="navbar-link-divider mb-4"></div>
                                    <a href="chocolate.html#product-btn-4" class="fs-5 other-page-navbar__links"> شکلات پشمکی </a>
                                    <div class="navbar-link-divider mb-4"></div>
                                    <a href="/404" class="fs-5 other-page-navbar__links"> کادوئی </a>
                                    <div class="navbar-link-divider mb-4"></div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- End ls navbar -->
                    <!-- sm navbar -->
                    <div class="d-lg-none smNavbar">
                        <header class="mt-3 me-5">
                            <nav id="cd-top-nav">
                            </nav>
                            <a id="cd-menu-trigger" href="#0"><span class="cd-menu-text p-3"></span><span
                                    class="cd-menu-icon "></span></a>
                        </header>
                        <nav id="cd-lateral-nav">
                            <img src="assets/images/reza-nut-logo.png" class="smNavbar-logo" alt="">
                            <ul class="cd-navigation">
                                <li class="item-has-children">
                                    <a href="#0">آجیل</a>
                                    <ul class="sub-menu">
                                        <li class="item-has-children">
                                            <a href="mixednuts.html">آجیل مخلوط</a>
                                            <ul class="sub-menu">
                                                <li><a href="mixednuts.html#product-btn-1" > آجیل های مغز</a></li>
                                                <li><a href="mixednuts.html#product-btn-2" > آجیل های تخمه دار </a></li>
                                            </ul>
                                        </li>
                                        <li class="item-has-children">
                                            <a href="pistachio.html"> انواع پسته </a>
                                            <ul class="sub-menu">
                                                <li><a href="pistachio.html#product-btn-1"> پسته اکبری </a></li>
                                                <li><a href="pistachio.html#product-btn-2"> پسته احمد آقایی </a></li>
                                                <li><a href="pistachio.html#product-btn-3"> پسته کله قوچی </a></li>
                                                <li><a href="pistachio.html#product-btn-4"> پسته فندوقی </a></li>
                                                <li><a href="pistachio.html#product-btn-5"> مغز پسته </a></li>
                                                <li><a href="pistachio.html#product-btn-6"> خلال پسته </a></li>
                                            </ul>
                                        </li>
                                        <li class="item-has-children">
                                            <a href="almonds.html"> انواع بادام </a>
                                            <ul class="sub-menu">
                                                <li><a href="almonds.html#product-btn-1"> بادام هندی </a></li>
                                                <li><a href="almonds.html#product-btn-2"> مغز بادام درختی </a></li>
                                                <li><a href="almonds.html#product-btn-3"> بادام درختی با پوست کاغذی(منقا)</a></li>
                                                <li><a href="almonds.html#product-btn-4"> بادام درختی با پوست</a></li>
                                                <li><a href="almonds.html#product-btn-5"> بادام زمینی آستانه </a></li>
                                            </ul>
                                        </li>
                                        <li class="item-has-children">
                                            <a href="seeds.html"> انواع تخمه </a>
                                            <ul class="sub-menu">
                                                <li><a href="seeds.html#product-btn-1"> تخمه آفتاب گردان </a></li>
                                                <li><a href="seeds.html#product-btn-2"> تخمه جابنی </a></li>
                                                <li><a href="seeds.html#product-btn-3"> تخمه هندوانه </a></li>
                                                <li><a href="seeds.html#product-btn-4"> تخمه کدو </a></li>
                                                <li><a href="seeds.html#product-btn-5"> مغز تخمه </a></li>
                                            </ul>
                                        </li>
                                        <li class="item-has-children">
                                            <a href="hazelnuts.html"> فندوق </a>
                                            <ul class="sub-menu">
                                                <li><a href="hazelnuts.html#product-btn-1"> مغز فندوق</a></li>
                                                <li><a href="hazelnuts.html#product-btn-2"> فندوق با پوست</a></li>
                                            </ul>
                                        </li>
                                        <li class="item-has-children">
                                            <a href="walnuts.html"> گردو </a>
                                            <ul class="sub-menu">
                                                <li><a href="walnuts.html#product-btn-1"> مغز گردو</a></li>
                                                <li><a href="walnuts.html#product-btn-2"> کردو با پوست</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li> <!-- item-has-children -->

                                <li class="item-has-children">
                                    <a href="#0"> خشکبار </a>
                                    <ul class="sub-menu">
                                        <li><a href="rassins.html"> کشمش و مویز </a></li>
                                        <li><a href="chickpeas.html"> نخودچی </a></li>
                                        <li><a href="figs-Mulberry.html#product-btn-1"> انجیر خشک </a></li>
                                        <li><a href="figs-Mulberry.html#product-btn-2"> توت خشک </a></li>
                                        <li><a href="plums.html"> آلوها </a></li>
                                        <li class="item-has-children">
                                            <a href="dates.html"> خرما </a>
                                            <ul class="sub-menu">
                                                <li><a href="dates.html#product-btn-1"> خرما پیارم </a></li>
                                                <li><a href="dates.html#product-btn-2"> خرما زاهدی </a></li>
                                            </ul>
                                        </li>

                                    </ul>
                                </li> <!-- item-has-children -->

                                <li class="item-has-children">
                                    <a href="chocolate.html">شکلات</a>
                                    <ul class="sub-menu">
                                        <li><a href="chocolate.html#product-btn-1"> شکلات کاکائویی تلخ </a></li>
                                        <li><a href="chocolate.html#product-btn-2"> شکلات کاکائویی شیرین </a></li>
                                        <li><a href="chocolate.html#product-btn-3"> تافی و آبنباتی </a></li>
                                        <li><a href="chocolate.html#product-btn-4"> شکلات پشمکی </a></li>
                                        <li><a href="/404"> کادوئی </a></li>
                                    </ul>
                                </li> <!-- item-has-children -->
                            </ul> <!-- cd-navigation -->

                            <ul class="cd-navigation cd-single-item-wrapper">
                                <li><a href="saffaron.html"> زعفران </a></li>
                                <li><a href="dryFruits.html"> میوه های خشک </a></li>
                                <li><a href="/404">تنقلات</a></li>
                            </ul> <!-- cd-single-item-wrapper -->

                            <ul class="cd-navigation cd-single-item-wrapper">
                                <li><a class="current" href="/blogs">خبر نامه</a></li>
                                <li><a href="#aboutUs">درباره ما</a></li>
                            </ul> <!-- cd-single-item-wrapper -->
                            <p class="fs-4 text-end">!با ما همراه باشید</p>
                            <div class="d-flex ">
                                <div class="">
                                    <a href="https://t.me/I_love_karbala" class="smNavbar-social-media-link "><i class="fab fa-telegram "></i>
                                    </a>
                                </div>
                                <div class="">
                                    <a href="https://instagram.com/khoshkbar_reza98?igshid=OGQ5ZDc2ODk2ZA==" class="smNavbar-social-media-link "><i class="fab fa-instagram "></i>
                                    </a>
                                </div>
                                <div class="">
                                    <a href="https://wa.me/qr/C6QOYJ6N6XYGM1" class="smNavbar-social-media-link "><i
                                            class="fab fa-whatsapp m-1"></i></a>
                                </div>
                                <div class="">
                                    <a href="mailto:rahmanxrf@gmail.com" class="smNavbar-social-media-link "><i class="fa fa-envelope "></i>
                                    </a>
                                </div>
                            </div>
                        </nav>
                    </div>
                    <!--end sm navbar -->
                </div>
            </nav>
        </div>
    </section>
    <!-- End Header -->

    <!-- Main -->
    <main dir="rtl" class="height-100 h-auto">
        <div class="d-flex justify-content-center w-75 mx-auto ">
            <button id="product-btn-1" class="custom-btn btn-5"><span> مغز فندوق </span></button>
            <button id="product-btn-2" class="custom-btn btn-5"><span>فندق با پوست   </span></button>
        </div>

        
        <!-- Product-1 -->
        <div id="product-1">
            <!-- خام -->
            <section class="main-border p-3">
                <!-- paging layer -->
                <section class="d-flex">
                    <a href="index.html" class="text-decoration-none text-black opacity-50 px-2">
                        <p> فروشکاه اینترنتی خشکبار رضا /</p>
                    </a>
                    <a href="#header" class="text-decoration-none text-black opacity-50 px-2">
                        <p> آجیل /</p>
                    </a>
                    <a href="hazelnuts.html#product-btn-1" class="text-decoration-none text-black opacity-50 px-2">
                        <p>مغز فندوق </p>
                    </a>
                </section>

                <div class="row product-profile">
                    <div class="col-12 col-md-6 col-lg-5 image-section position-relative">
                        <span> <i class="fa fa-magnifying-glass magnifying-glass-icon"></i></span>
                        <div class="img-magnifier-container mx-1 mx-lg-5">
                            <img id="1" src="assets/images/fandogh-shor.png" width="400" height="300"
                                alt="Girl">
                        </div>
                        <p class="text-center"><i class="fa fa-star text-warning"></i> بسته بندی با وزن دلخواه شما و
                            ارسال به سراسر ایران <i class="fa fa-star text-warning"></i></p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-7">
                        <h1 class="product_name">
                         مغز فندوق شور
                        </h1>
                        <!-- شامل -->
                        <p class="d-none"> </i><span class="text-success"><i class="fa fa-box-open p-1"></i>شامل</span> پسته احمد آقایی خام
                           مغز فندوق خام مغز بادام درختي خام بادام هندي خام </p>

                        <ul>
                            <li> خشکبار رضا از تولید به مصرف</li>
                            <li><span class="text-danger">ارسال با پست پیشتاز </span> در سریع ترین زمان ممکن </li>
                            <li><span class="text-danger">ارسال رایگان </span> بالای 1 میلیون تومان </li>
                        </ul>
                        <p class="fs-6">
                            <span class="text-danger"> نکته : </span>
                            برای اطلاع از قیمت و سفارش محصول از طریق شبکه های اجتمایی با ما تماس حاصل فرمایید.
                        </p>
                    </div>
                </div>
            </section>
            <!-- شور -->
            <section class="main-border p-3">
                <!-- paging layer -->
                <section class="d-flex">
                    <a href="index.html" class="text-decoration-none text-black opacity-50 px-2">
                        <p> فروشکاه اینترنتی خشکبار رضا /</p>
                    </a>
                    <a href="#header" class="text-decoration-none text-black opacity-50 px-2">
                        <p> آجیل /</p>
                    </a>
                    <a href="hazelnuts.html#product-btn-1" class="text-decoration-none text-black opacity-50 px-2">
                        <p>مغز فندوق </p>
                    </a>
                </section>

                <div class="row product-profile">
                    <div class="col-12 col-md-6 col-lg-5 image-section position-relative">
                        <span> <i class="fa fa-magnifying-glass magnifying-glass-icon"></i></span>
                        <div class="img-magnifier-container mx-1 mx-lg-5">
                            <img id="2" src="assets/images/fandogh-kham.png" width="400" height="300"
                                alt="Girl">
                        </div>
                        <p class="text-center"><i class="fa fa-star text-warning"></i> بسته بندی با وزن دلخواه شما و
                            ارسال به سراسر ایران <i class="fa fa-star text-warning"></i></p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-7">
                        <h1 class="product_name">
                            مغز فندوق خام
                        </h1>
                        <!-- شامل -->
                        <p class="d-none"> </i><span class="text-success"><i class="fa fa-box-open p-1"></i>شامل</span> پسته احمد آقایی
                            مغز فندوق بادام درختي بادام هندي </p>

                        <ul>
                            <li> خشکبار رضا از تولید به مصرف</li>
                            <li><span class="text-danger">ارسال با پست پیشتاز </span> در سریع ترین زمان ممکن </li>
                            <li><span class="text-danger">ارسال رایگان </span> بالای 1 میلیون تومان </li>
                        </ul>
                        <p class="fs-6">
                            <span class="text-danger"> نکته : </span>
                            برای اطلاع از قیمت و سفارش محصول از طریق شبکه های اجتمایی با ما تماس حاصل فرمایید.
                        </p>
                    </div>
                </div>
            </section>
            <section class="main-border p-3">

                <div>
                    <div class="row">
                        <button class="btn product-btn product-feature-btn border-1">
                            خصوصیات محصول
                        </button>
                    </div>
                </div>
                <div class="product-info-feature-section">
                    <div class="productFeature fs-5 ">
                        <p>
                            عفندوق یک نوع میوه‌ی خشک است که در گلهای گیاه فندوق کشیده می‌شود. این میوه در داخل یک پوسته سخت قهوه‌ای یا قهوه‌ای تیره قرار دارد. فندوق به عنوان یک میان‌وعده خوشمزه و پراز انرژی شناخته می‌شود و به صورت خام یا در انواع مختلف پخته شده مصرف می‌شود.
                        </p>
                        <p>
                            فندوق یک میوه خشک با خواص بسیار مفید برای سلامتی انسان است. در زیر تعدادی از خواص اصلی فندوق را برای شما ذکر می‌شود:
                            <br>
                            1. منبع غنی پروتئین: فندوق حاوی مقدار قابل توجهی پروتئین می‌باشد که برای ساخت و تعمیر اندام‌های بدن ضروری است.
                            <br>
                            2. پر از مواد معدنی: فندوق حاوی مواد معدنی مانند مس، مگنزیم، فسفر و آهن است که برای حفظ سلامت استخوان‌ها و سیستم عصبی اهمیت دارد.
                            <br>
                            3. منبع دست‌نخورده انرژی: چربی‌های ناسالمی که در فندوق وجود دارد، از نوع اشباع‌شده نشده می‌باشد و به عنوان یک منبع انرژی پایدار و سالم برای بدن عمل می‌کند.
                            <br>
                            4. آنتی‌اکسیدان‌ها: فندوق حاوی آنتی‌اکسیدان‌های مختلفی از جمله ویتامین E و سلنیوم است که می‌توانند از آسیب‌های اکسیداتیو بدن محافظت کنند.
                            <br>
                            5. حفظ سلامت قلب: مصرف منظم فندوق می‌تواند به کاهش خطر ابتلا به بیماری‌های قلبی-عروقی کمک کند.
                            <br>
                            6. کمک به کاهش وزن: مصرف معتدل فندوق به عنوان یک منبع انرژی پایدار می‌تواند در کاهش اشتها و کنترل وزن بدن مؤثر باشد.
                            <br>
                            7. افزایش سطح کلسترول خوب: فندوق می‌تواند سطح کلسترول خوب (HDL) را افزایش دهد و برای سلامت قلبی مفید باشد.
                            <br>
                            8. حفظ سلامت مغز: برخی تحقیقات نشان داده‌اند که مصرف فندوق می‌تواند به حفظ و بهبود عملکرد مغز کمک کند.
                            <br>
                            9. کاهش خطر بیماری‌های التهابی: فندوق حاوی مواد ضد التهابی مانند فیتوکمیکال‌ها و اسیدهای چرب اشباع نشده است که ممکن است به کاهش خطر بیماری‌های التهابی بدن کمک کنند.
                            <br>
                            توجه داشته باشید که مصرف معتدل و به میزان مناسب فندوق بهترین نتیجه را برای سلامتی به دنبال دارد، زیرا مصرف زیاد آن ممکن است به افزایش وزن بیش از حد منجر شود. همچنین، افرادی که به آلرژی‌ها دچار هستند باید از مصرف فندوق خودداری کنند.
                        </p>
                    </div>
                </div>
            </section>

        </div>
        <!-- End Product-1 -->
        <!-- Product-2 -->
        <div id="product-2">
            <!-- خام -->
            <section class="main-border p-3">
                <!-- paging layer -->
                <section class="d-flex">
                    <a href="index.html" class="text-decoration-none text-black opacity-50 px-2">
                        <p> فروشکاه اینترنتی خشکبار رضا /</p>
                    </a>
                    <a href="#header" class="text-decoration-none text-black opacity-50 px-2">
                        <p> آجیل /</p>
                    </a>
                    <a href="hazelnuts.html#product-btn-2" class="text-decoration-none text-black opacity-50 px-2">
                        <p> فندوق با پوست </p>
                    </a>
                </section>

                <div class="row product-profile">
                    <div class="col-12 col-md-6 col-lg-5 image-section position-relative">
                        <span> <i class="fa fa-magnifying-glass magnifying-glass-icon"></i></span>
                        <div class="img-magnifier-container mx-1 mx-lg-5">
                            <img id="3" src="assets/images/fandogh-ba-pust.png" width="400" height="300"
                                alt="Girl">
                        </div>
                        <p class="text-center"><i class="fa fa-star text-warning"></i> بسته بندی با وزن دلخواه شما و
                            ارسال به سراسر ایران <i class="fa fa-star text-warning"></i></p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-7">
                        <h1 class="product_name">
                            فندوق ایرانی با پوست
                        </h1>
                        <!-- شامل -->
                        <p class="d-none"> </i><span class="text-success"><i class="fa fa-box-open p-1"></i>شامل</span> پسته احمد آقایی
                            بادام درختي ايراني بادام هندي تخمه كدوگوشتي تخمه جابوني</p>

                        <ul>
                            <li> خشکبار رضا از تولید به مصرف</li>
                            <li><span class="text-danger">ارسال با پست پیشتاز </span> در سریع ترین زمان ممکن </li>
                            <li><span class="text-danger">ارسال رایگان </span> بالای 1 میلیون تومان </li>
                        </ul>
                        <p class="fs-6">
                            <span class="text-danger"> نکته : </span>
                            برای اطلاع از قیمت و سفارش محصول از طریق شبکه های اجتمایی با ما تماس حاصل فرمایید.
                        </p>
                    </div>
                </div>
            </section>
            
            <section class="main-border p-3">

                <div>
                    <div class="row">
                        <button class="btn product-btn product-feature-btn border-1">
                            خصوصیات محصول
                        </button>
                    </div>
                </div>
                <div class="product-info-feature-section">
                    <div class="productFeature fs-5 ">
                        <p>
                            عفندوق یک نوع میوه‌ی خشک است که در گلهای گیاه فندوق کشیده می‌شود. این میوه در داخل یک پوسته سخت قهوه‌ای یا قهوه‌ای تیره قرار دارد. فندوق به عنوان یک میان‌وعده خوشمزه و پراز انرژی شناخته می‌شود و به صورت خام یا در انواع مختلف پخته شده مصرف می‌شود.
                        </p>
                        <p>
                            فندوق یک میوه خشک با خواص بسیار مفید برای سلامتی انسان است. در زیر تعدادی از خواص اصلی فندوق را برای شما ذکر می‌شود:
                            <br>
                            1. منبع غنی پروتئین: فندوق حاوی مقدار قابل توجهی پروتئین می‌باشد که برای ساخت و تعمیر اندام‌های بدن ضروری است.
                            <br>
                            2. پر از مواد معدنی: فندوق حاوی مواد معدنی مانند مس، مگنزیم، فسفر و آهن است که برای حفظ سلامت استخوان‌ها و سیستم عصبی اهمیت دارد.
                            <br>
                            3. منبع دست‌نخورده انرژی: چربی‌های ناسالمی که در فندوق وجود دارد، از نوع اشباع‌شده نشده می‌باشد و به عنوان یک منبع انرژی پایدار و سالم برای بدن عمل می‌کند.
                            <br>
                            4. آنتی‌اکسیدان‌ها: فندوق حاوی آنتی‌اکسیدان‌های مختلفی از جمله ویتامین E و سلنیوم است که می‌توانند از آسیب‌های اکسیداتیو بدن محافظت کنند.
                            <br>
                            5. حفظ سلامت قلب: مصرف منظم فندوق می‌تواند به کاهش خطر ابتلا به بیماری‌های قلبی-عروقی کمک کند.
                            <br>
                            6. کمک به کاهش وزن: مصرف معتدل فندوق به عنوان یک منبع انرژی پایدار می‌تواند در کاهش اشتها و کنترل وزن بدن مؤثر باشد.
                            <br>
                            7. افزایش سطح کلسترول خوب: فندوق می‌تواند سطح کلسترول خوب (HDL) را افزایش دهد و برای سلامت قلبی مفید باشد.
                            <br>
                            8. حفظ سلامت مغز: برخی تحقیقات نشان داده‌اند که مصرف فندوق می‌تواند به حفظ و بهبود عملکرد مغز کمک کند.
                            <br>
                            9. کاهش خطر بیماری‌های التهابی: فندوق حاوی مواد ضد التهابی مانند فیتوکمیکال‌ها و اسیدهای چرب اشباع نشده است که ممکن است به کاهش خطر بیماری‌های التهابی بدن کمک کنند.
                            <br>
                            توجه داشته باشید که مصرف معتدل و به میزان مناسب فندوق بهترین نتیجه را برای سلامتی به دنبال دارد، زیرا مصرف زیاد آن ممکن است به افزایش وزن بیش از حد منجر شود. همچنین، افرادی که به آلرژی‌ها دچار هستند باید از مصرف فندوق خودداری کنند.
                        </p>
                    </div>
                </div>
            </section>

        </div>
        <!-- End Product-2 -->

        <div id="mainSectionLogo">
            <img class="sectionLogo" src="assets/images/reza-nut-logo.png" alt="">
        </div>


    </main>
    <!-- End Main -->

    <!-- Footer -->
    <footer class="overflow-hidden">
        <div class="footer bg-black bg-opacity-75 p-5">
            <div class="row footer-container">
                <div class="col-12 col-md-6 col-lg-3">
                    <img src="assets/images/reza-nut-logo.png" class="footer-logo" alt="">
                    <ul class="list-unstyled ul-navbar__links list-fs text-capitalize">
                        <li class="pb-3">
                            <i class="fa fa-location-dot fs-3 opacity-50 ms-3 text-warning"></i>
                            <p class="fs-5 text-white">کرج کمالشهر خ امام میعاد26 سنبل1 </p>
                        </li>
                        <li class="pb-3 " dir="ltr">
                            <i class="fa fa-phone ms-3 d-inline-block text-warning"></i>
                            <p class="text-warning fs-5">(026)3471 7963 </p>
                        </li>

                        <li class="pb-3">
                            <i class="fa fa-envelope  ms-3 text-warning"></i>
                            <a href="mailto:rahmanxrf@gmail.com" class="mb-3 text-warning text-decoration-none">Rahmanxrf@gmail.com
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <span class="d-inline-block mb-5">
                        <i class="fa fa-newspaper fs-1 text-warning" aria-hidden="true">
                            <span class="d-inline-block mx-2 fs-2"> خبرنامه ها
                            </span>
                        </i>
                    </span>
                    <!-- news -->
                    <a href="404.html"  class="newsSection text-decoration-none row">
                        <div class=" col-4 me-3">
                            <img class="newsImage" src="assets/images/top-view-nuts-white-table.jpg" alt="">
                        </div>
                        <div class="newsText col-7">
                            <p class="fs-5 ">خصوصیات آجیل و خشکبار چیست و چگونه برای سلامتی مفید است</p>
                            <p class="fs-6 mt-3 ">24 اردیبهشت 1402 <span> </span></p>
                        </div>
                    </a>
                    <a href="404.html" class="newsSection text-decoration-none mt-3 row">
                        <div class=" col-4 me-3">
                            <img class="newsImage"
                                src="assets/images/nuts-and-peanuts-clipart-desing-illustration-free-png.webp" alt="">
                        </div>
                        <div class="newsText col-7">
                            <p class="fs-5 ">بادام زمینی و خواس بی نظیر آن</p>
                            <p class="fs-6 mt-3 ">24 اردیبهشت 1402 <span> </span></p>
                        </div>
                    </a>
                    <!-- End news -->
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <span class="d-inline-block mb-5">
                        <i class="fa fa-info-circle fs-1 text-warning" aria-hidden="true">
                            <span class="d-inline-block mx-2 fs-2"> لینک های مهم
                            </span>
                        </i>
                    </span>
                    <ul class="list-unstyled ul-navbar__links list-fs text-capitalize">
                        <li class="pb-3">
                            <i class="fa fa-chevron-left ms-3 text-warning"></i>
                            <a href="#header" class="mb-3 text-white text-decoration-none fs-2">انواع خشکبار
                            </a>
                        </li>
                        <li class="pb-3">
                            <i class="fa fa-chevron-left ms-3 text-warning"></i>
                            <a href="#mixedNuts" class="mb-3 text-white text-decoration-none fs-2">آجیل ها
                            </a>
                        </li>
                        <!-- تخفیفات    D-NONE -->
                        <li class="pb-3 d-none">
                            <i class="fa fa-chevron-left ms-3 text-warning"></i>
                            <a href="#" class="mb-3 text-white text-decoration-none fs-2">تخفیفات
                            </a>
                        </li>
                        <li class="pb-3">
                            <i class="fa fa-chevron-left ms-3 text-warning"></i>
                            <a href="aboutUs.html" class="mb-3 text-white text-decoration-none fs-2">درباره ما
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <span class="d-inline-block mb-5">
                        <i class="fab fa-instagram fs-1 text-warning" aria-hidden="true">
                            <span class="d-inline-block mx-2 fs-2">Instagram
                            </span>
                        </i>
                    </span>
                    <div class="row">

                        <a href="https://www.instagram.com/p/CyjB2iSIvB5/?utm_source=ig_web_copy_link&igshid=MzRlODBiNWFlZA==" class="col-4 my-2 instagram-footer-app">
                            <img src="assets/images/insta-almonds.jpg" class="instagram-img" alt="">
                        </a>

                        <a href="https://www.instagram.com/p/CphUW3QuvZt/?utm_source=ig_web_copy_link&igshid=MzRlODBiNWFlZA==" class="col-4 my-2 instagram-footer-app">
                            <img src="assets/images/insta-mixedNuts.jpg" class="instagram-img" alt="">
                        </a>

                        <a href="https://www.instagram.com/p/CyAmhHdILgX/?utm_source=ig_web_copy_link&igshid=MzRlODBiNWFlZA==" class="col-4 my-2 instagram-footer-app">
                            <img src="assets/images/insta-peanuts.jpg" class="instagram-img" alt="">
                        </a>

                        <a href="https://www.instagram.com/p/Cw9or1OoH9n/?utm_source=ig_web_copy_link&igshid=MzRlODBiNWFlZA==" class="col-4 my-2 instagram-footer-app">
                            <img src="assets/images/insta-pistachio.jpg" class="instagram-img" alt="">
                        </a>

                        <a href="https://www.instagram.com/p/CxDwoYJo7Ea/?utm_source=ig_web_copy_link&igshid=MzRlODBiNWFlZA==" class="col-4 my-2 instagram-footer-app">
                            <img src="assets/images/insta-pistachiBaked.jpg" class="instagram-img" alt="">
                        </a>

                        <a href="https://www.instagram.com/p/CyQEpTpIahZ/?utm_source=ig_web_copy_link&igshid=MzRlODBiNWFlZA==" class="col-4 my-2 instagram-footer-app">
                            <img src="assets/images/insta-walnuts.jpg" class="instagram-img" alt="">
                        </a>


                    </div>
                    <p class="text-white m-4 fs-4">همراه ما باشید!</p>
                    <div class="d-flex ">
                        <div class="m-2">
                            <a href="https://t.me/I_love_karbala" class="footer-social-media-link "><i class="fab fa-telegram "></i>
                            </a>
                        </div>
                        <div class="m-2">
                            <a href="https://instagram.com/khoshkbar_reza98?igshid=OGQ5ZDc2ODk2ZA==" class="footer-social-media-link "><i class="fab fa-instagram "></i>
                            </a>
                        </div>
                        <div class="m-2">
                            <a href="https://wa.me/qr/C6QOYJ6N6XYGM1" class="footer-social-media-link "><i class="fab fa-whatsapp m-1"></i></a>
                        </div>
                        <div class="m-2">
                            <a href="mailto:rahmanxrf@gmail.com" class="footer-social-media-link "><i class="fa fa-envelope "></i>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="footer-underLine"></div>
        </div>
    </footer>
    <!-- End Footer -->
    
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="assets/js/jquery-3.5.1.min.js"></script>
    <script src="assets/js/popper.js"></script>
    <script src="assets/js/aos.js"></script>
    <script src="assets/js/bootstarp/bootstrap.min.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/grid.js"></script>
</body>

</html>