    <%- include("./includes/header.ejs") %>
    <!-- Main -->
    <main class="overflow-hidden main-border">

        <div class="product py-5">
            <!-- main title -->
            <div class="d-flex justify-content-center">
                <img src=" /images/main-title-img.png" class="main-title-img" alt="">
                <div>
                    <h3> دسته بندی محصولات</h3>
                    <div class="title-section-line">
                    </div>
                </div>
            </div>
            <!-- End main title -->
            <div class="row mx-3 ">
                <!-- product Title -->
                <div class="product-category nuts col-12 col-lg-6 col-xl-3  my-0 my-md-3">
                    <a href="">
                        <div class="card row">
                            <div class="p-3 ms-5 col-4">
                                <p class="my-auto product-category-title"> انواع خشکبار</p>
                            </div>
                            <div class="col-8">
                                <img class=" product-category-img" src=" /images/nuts in cup.png" alt="">
                            </div>
                        </div>
                    </a>
                </div>
                <!-- End product Title -->
                <!-- product Title -->
                <div class="product-category nuts col-12 col-lg-6 col-xl-3  my-0 my-md-3">
                    <a href="">
                        <div class="card row">
                            <div class="p-3 ms-5 col-4">
                                <p class="my-auto product-category-title"> میوه خشک و تنقلات </p>
                            </div>
                            <div class="col-8">
                                <img class="product-category-img-dried-fruit" src=" /images/dried-fruits.png"
                                    alt="">
                            </div>
                        </div>
                    </a>
                </div>
                <!-- End product Title -->
                <!-- product Title -->
                <div class="product-category nuts col-12 col-lg-6 col-xl-3  my-0 my-md-3">
                    <a href="">
                        <div class="card row">
                            <div class="p-3 ms-5 col-4">
                                <p class="my-auto product-category-title"> شکلات </p>
                            </div>
                            <div class="col-8">
                                <img class=" product-category-img-candy" src=" /images/candy in cup.png" alt="">
                            </div>
                        </div>
                    </a>
                </div>
                <!-- End product Title -->
                <!-- product Title -->
                <div class="product-category nuts col-12 col-lg-6 col-xl-3  my-0 my-md-3">
                    <a href="">
                        <div class="card row">
                            <div class="p-3 ms-5 col-4">
                                <p class="my-auto product-category-title"> انواع پاستیل</p>
                            </div>
                            <div class="col-8">
                                <img class="product-category-img-gummy"
                                    src=" /images/output-onlinepngtools (4).png" alt="">
                            </div>
                        </div>
                    </a>
                </div>
                <!-- End product Title -->
            </div>
            <!-- main title -->
            <div class="d-flex justify-content-center title-section">
                <img src=" /images/main-title-img.png" class="main-title-img" alt="">
                <div>
                    <h3>محصولات</h3>
                    <div class="title-section-line">
                    </div>
                </div>
            </div>
            <!-- End main title -->
            <!-- swiper -->

            <div id="product" class="swiper product-swiper-category">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper ">
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <div class="container">
                            <div class="card pistachio">
                                <a href="" class="imgBx">
                                    <img src=" /images/pistachio-nuts.png">
                                </a>
                                <div class="contentBx">
                                    <div class="title">
                                        <div class="tooltip1 bg-dange">
                                            <div class="tooltip-spacing ">
                                                <div class="tooltip-bg1"></div>
                                                <div class="tooltip-bg2"></div>
                                                <div class="tooltip-text">?</div>
                                            </div>
                                        </div>
                                        <svg class="popup-bg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 130"
                                            height="130" width="300">
                                            <path
                                                d="M36.5 12.695c15.9-2.4 32.556-4.284 82.977-3.815 79.67.74 121.785.26 145.294 5.51 18.483 4.13 34.333 11.696 33.382 32.11l-1.696 36.39c-1.01 21.68-11.678 29.377-21.934 30.838-14.884 2.12-29.72 3.52-54.512-.848C232.522 118.263 233.5 129 233.5 129s-1.992-7.686-32.218-14c-17.933-5.043-118.204 3.687-163.51-2.544-21.317-2.932-33.706-8.26-34.228-27.022L2.272 39.717c-.46-16.58 12.34-23.718 34.23-27.022z"
                                                fill="#303030" stroke="#000" />
                                        </svg>
                                        <svg class="popup-outline" xmlns="http://www.w3.org/2000/svg"
                                            viewBox="0 0 300 130" height="130" width="300">
                                            <g stroke-width="2" stroke-linecap="round">
                                                <path class="popup-outline-left"
                                                    d="M233.5 129s-1.992-7.686-32.218-14c-17.933-5.043-118.204 3.687-163.51-2.544-21.317-2.932-33.706-8.26-34.228-27.022L2.272 39.717c-.46-16.58 12.34-23.718 34.23-27.022 15.897-2.4 32.554-4.284 82.975-3.815"
                                                    fill="none" stroke="#303030" />
                                                <path class="popup-outline-right"
                                                    d="M119.477 8.88c79.67.74 121.785.26 145.294 5.51 18.483 4.13 34.333 11.696 33.382 32.11l-1.696 36.39c-1.01 21.68-11.678 29.377-21.934 30.838-14.884 2.12-29.72 3.52-54.512-.848C232.522 118.263 233.5 129 233.5 129"
                                                    fill="none" stroke="#303030" />
                                            </g>
                                        </svg>
                                        <div class="popup-text">

                                            مغز پسته به علت داشتن آهن خون ساز است و آنهایی که مبتلا به کم خونی هستند
                                            باید حتما روزانه مقداری پسته -بخورند.
                                            خوردن پسته نیروی جنسی را تقویت -می کند.
                                            -مغز و ذهن را تقویت می کند.
                                            -پسته معده را تقویت می کند.
                                            -برای تسکین سرفه مفید است.
                                        </div>
                                    </div>
                                    <h2 class="my-3">پسته</h2>
                                    <a href="#"> مشاهده </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End silde -->
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <div class="container">
                            <div class="card walnut">
                                <a href="" class="imgBx">
                                    <img src=" /images/walnuts.png">
                                </a>
                                <div class="contentBx">
                                    <div class="title">
                                        <div class="tooltip1 bg-dange">
                                            <div class="tooltip-spacing ">
                                                <div class="tooltip-bg1"></div>
                                                <div class="tooltip-bg2"></div>
                                                <div class="tooltip-text">?</div>
                                            </div>
                                        </div>
                                        <svg class="popup-bg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 130"
                                            height="130" width="300">
                                            <path
                                                d="M36.5 12.695c15.9-2.4 32.556-4.284 82.977-3.815 79.67.74 121.785.26 145.294 5.51 18.483 4.13 34.333 11.696 33.382 32.11l-1.696 36.39c-1.01 21.68-11.678 29.377-21.934 30.838-14.884 2.12-29.72 3.52-54.512-.848C232.522 118.263 233.5 129 233.5 129s-1.992-7.686-32.218-14c-17.933-5.043-118.204 3.687-163.51-2.544-21.317-2.932-33.706-8.26-34.228-27.022L2.272 39.717c-.46-16.58 12.34-23.718 34.23-27.022z"
                                                fill="#303030" stroke="#000" />
                                        </svg>
                                        <svg class="popup-outline" xmlns="http://www.w3.org/2000/svg"
                                            viewBox="0 0 300 130" height="130" width="300">
                                            <g stroke-width="2" stroke-linecap="round">
                                                <path class="popup-outline-left"
                                                    d="M233.5 129s-1.992-7.686-32.218-14c-17.933-5.043-118.204 3.687-163.51-2.544-21.317-2.932-33.706-8.26-34.228-27.022L2.272 39.717c-.46-16.58 12.34-23.718 34.23-27.022 15.897-2.4 32.554-4.284 82.975-3.815"
                                                    fill="none" stroke="#303030" />
                                                <path class="popup-outline-right"
                                                    d="M119.477 8.88c79.67.74 121.785.26 145.294 5.51 18.483 4.13 34.333 11.696 33.382 32.11l-1.696 36.39c-1.01 21.68-11.678 29.377-21.934 30.838-14.884 2.12-29.72 3.52-54.512-.848C232.522 118.263 233.5 129 233.5 129"
                                                    fill="none" stroke="#303030" />
                                            </g>
                                        </svg>
                                        <div class="popup-text">کاهش بیماری های قلبی، پیشگیری از سرطان و بهبود عملکرد
                                            مغز از فواید گردو است. گردوها برای پوست و بدن واقعاً عالی هستند؛ زیرا غنی از
                                            مواد مغذی هستند که برای سلامت و زیبایی ما مفید هستند. مو را سالم نگه می
                                            دارند و آنها را براق می کنند
                                        </div>
                                    </div>
                                    <h2 class="my-3"> گردو </h2>
                                    <a href="#"> مشاهده </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End silde -->
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <div class="container">
                            <div class="card almonds">
                                <a href="" class="imgBx">
                                    <img src=" /images/Almond.png">
                                </a>
                                <div class="contentBx">
                                    <div class="title">
                                        <div class="tooltip1 bg-dange">
                                            <div class="tooltip-spacing ">
                                                <div class="tooltip-bg1"></div>
                                                <div class="tooltip-bg2"></div>
                                                <div class="tooltip-text">?</div>
                                            </div>
                                        </div>
                                        <svg class="popup-bg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 130"
                                            height="130" width="300">
                                            <path
                                                d="M36.5 12.695c15.9-2.4 32.556-4.284 82.977-3.815 79.67.74 121.785.26 145.294 5.51 18.483 4.13 34.333 11.696 33.382 32.11l-1.696 36.39c-1.01 21.68-11.678 29.377-21.934 30.838-14.884 2.12-29.72 3.52-54.512-.848C232.522 118.263 233.5 129 233.5 129s-1.992-7.686-32.218-14c-17.933-5.043-118.204 3.687-163.51-2.544-21.317-2.932-33.706-8.26-34.228-27.022L2.272 39.717c-.46-16.58 12.34-23.718 34.23-27.022z"
                                                fill="#303030" stroke="#000" />
                                        </svg>
                                        <svg class="popup-outline" xmlns="http://www.w3.org/2000/svg"
                                            viewBox="0 0 300 130" height="130" width="300">
                                            <g stroke-width="2" stroke-linecap="round">
                                                <path class="popup-outline-left"
                                                    d="M233.5 129s-1.992-7.686-32.218-14c-17.933-5.043-118.204 3.687-163.51-2.544-21.317-2.932-33.706-8.26-34.228-27.022L2.272 39.717c-.46-16.58 12.34-23.718 34.23-27.022 15.897-2.4 32.554-4.284 82.975-3.815"
                                                    fill="none" stroke="#303030" />
                                                <path class="popup-outline-right"
                                                    d="M119.477 8.88c79.67.74 121.785.26 145.294 5.51 18.483 4.13 34.333 11.696 33.382 32.11l-1.696 36.39c-1.01 21.68-11.678 29.377-21.934 30.838-14.884 2.12-29.72 3.52-54.512-.848C232.522 118.263 233.5 129 233.5 129"
                                                    fill="none" stroke="#303030" />
                                            </g>
                                        </svg>
                                        <div class="popup-text" dir="rtl"> بادام درختی بعلاوه حاوی مقادیر قابل‌توجهی مس،
                                            ویتامین B2 (ریبوفلاوین) و فسفر است.
                                            برای افزایش گردش خون، تقویت استخوان‌ها، محافظت از پوست، کمک به هضم غذا،
                                            کنترل سطح قند خون و غیره بسیار مفید است. </div>
                                    </div>
                                    <h2 class="my-3">بادام درختی </h2>
                                    <a href="#"> مشاهده </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End silde -->
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <div class="container">
                            <div class="card cashew">
                                <a href="" class="imgBx">
                                    <img src=" /images/cashews.png">
                                </a>
                                <div class="contentBx">
                                    <div class="title">
                                        <div class="tooltip1 bg-dange">
                                            <div class="tooltip-spacing ">
                                                <div class="tooltip-bg1"></div>
                                                <div class="tooltip-bg2"></div>
                                                <div class="tooltip-text">?</div>
                                            </div>
                                        </div>
                                        <svg class="popup-bg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 130"
                                            height="130" width="300">
                                            <path
                                                d="M36.5 12.695c15.9-2.4 32.556-4.284 82.977-3.815 79.67.74 121.785.26 145.294 5.51 18.483 4.13 34.333 11.696 33.382 32.11l-1.696 36.39c-1.01 21.68-11.678 29.377-21.934 30.838-14.884 2.12-29.72 3.52-54.512-.848C232.522 118.263 233.5 129 233.5 129s-1.992-7.686-32.218-14c-17.933-5.043-118.204 3.687-163.51-2.544-21.317-2.932-33.706-8.26-34.228-27.022L2.272 39.717c-.46-16.58 12.34-23.718 34.23-27.022z"
                                                fill="#303030" stroke="#000" />
                                        </svg>
                                        <svg class="popup-outline" xmlns="http://www.w3.org/2000/svg"
                                            viewBox="0 0 300 130" height="130" width="300">
                                            <g stroke-width="2" stroke-linecap="round">
                                                <path class="popup-outline-left"
                                                    d="M233.5 129s-1.992-7.686-32.218-14c-17.933-5.043-118.204 3.687-163.51-2.544-21.317-2.932-33.706-8.26-34.228-27.022L2.272 39.717c-.46-16.58 12.34-23.718 34.23-27.022 15.897-2.4 32.554-4.284 82.975-3.815"
                                                    fill="none" stroke="#303030" />
                                                <path class="popup-outline-right"
                                                    d="M119.477 8.88c79.67.74 121.785.26 145.294 5.51 18.483 4.13 34.333 11.696 33.382 32.11l-1.696 36.39c-1.01 21.68-11.678 29.377-21.934 30.838-14.884 2.12-29.72 3.52-54.512-.848C232.522 118.263 233.5 129 233.5 129"
                                                    fill="none" stroke="#303030" />
                                            </g>
                                        </svg>
                                        <div class="popup-text">
                                            منبعی مفید برای فیبر محسوب می‌شود و میزان پروتئین موجود در آن نیز برابر با
                                            همان میزان گوشت پخته شده است. بعلاوه بادام هندی حاوی مقادیر قابل‌توجهی مس
                                            است؛ ماده‌ی معدنی مفیدی که برای تولید انرژی، رشد سالم مغز و تقویت سیستم
                                            ایمنی بدن ضروری است. </div>
                                    </div>
                                    <h2 class="my-3"> بادام هندی </h2>
                                    <a href="#">مشاهده</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End silde -->
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <div class="container">
                            <div class="card peanut">
                                <a href="" class="imgBx">
                                    <img src=" /images/peanut.png">
                                </a>
                                <div class="contentBx">
                                    <div class="title">
                                        <div class="tooltip1 bg-dange">
                                            <div class="tooltip-spacing ">
                                                <div class="tooltip-bg1"></div>
                                                <div class="tooltip-bg2"></div>
                                                <div class="tooltip-text">?</div>
                                            </div>
                                        </div>
                                        <svg class="popup-bg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 130"
                                            height="130" width="300">
                                            <path
                                                d="M36.5 12.695c15.9-2.4 32.556-4.284 82.977-3.815 79.67.74 121.785.26 145.294 5.51 18.483 4.13 34.333 11.696 33.382 32.11l-1.696 36.39c-1.01 21.68-11.678 29.377-21.934 30.838-14.884 2.12-29.72 3.52-54.512-.848C232.522 118.263 233.5 129 233.5 129s-1.992-7.686-32.218-14c-17.933-5.043-118.204 3.687-163.51-2.544-21.317-2.932-33.706-8.26-34.228-27.022L2.272 39.717c-.46-16.58 12.34-23.718 34.23-27.022z"
                                                fill="#303030" stroke="#000" />
                                        </svg>
                                        <svg class="popup-outline" xmlns="http://www.w3.org/2000/svg"
                                            viewBox="0 0 300 130" height="130" width="300">
                                            <g stroke-width="2" stroke-linecap="round">
                                                <path class="popup-outline-left"
                                                    d="M233.5 129s-1.992-7.686-32.218-14c-17.933-5.043-118.204 3.687-163.51-2.544-21.317-2.932-33.706-8.26-34.228-27.022L2.272 39.717c-.46-16.58 12.34-23.718 34.23-27.022 15.897-2.4 32.554-4.284 82.975-3.815"
                                                    fill="none" stroke="#303030" />
                                                <path class="popup-outline-right"
                                                    d="M119.477 8.88c79.67.74 121.785.26 145.294 5.51 18.483 4.13 34.333 11.696 33.382 32.11l-1.696 36.39c-1.01 21.68-11.678 29.377-21.934 30.838-14.884 2.12-29.72 3.52-54.512-.848C232.522 118.263 233.5 129 233.5 129"
                                                    fill="none" stroke="#303030" />
                                            </g>
                                        </svg>
                                        <div class="popup-text">شامل بسیاری از مواد مغذی ضروری و منبع عالی از منگنز،
                                            نیاسین و غیره هستند. منبع خوبی از ویتامین E، اسید فولیک، فیبر و فسفر است.
                                            بادام زمینی ها برای 8 ماده مغذی ضروری، مانند کاهش خطر بیماری های قلبی، کنترل
                                            وزن، تثبیت سطح قند خون، افزایش متابولیک در بدن انسان و غیره شناخته می شوند.
                                        </div>
                                    </div>
                                    <h2 class="my-3">بادام زمینی</h2>
                                    <a href="#">مشاهده</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End silde -->
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <div class="container">
                            <div class="card hazelnuts">
                                <a href="" class="imgBx">
                                    <img src=" /images/hazelnuts.png">
                                </a>
                                <div class="contentBx">
                                    <div class="title">
                                        <div class="tooltip1 bg-dange">
                                            <div class="tooltip-spacing ">
                                                <div class="tooltip-bg1"></div>
                                                <div class="tooltip-bg2"></div>
                                                <div class="tooltip-text">?</div>
                                            </div>
                                        </div>
                                        <svg class="popup-bg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 130"
                                            height="130" width="300">
                                            <path
                                                d="M36.5 12.695c15.9-2.4 32.556-4.284 82.977-3.815 79.67.74 121.785.26 145.294 5.51 18.483 4.13 34.333 11.696 33.382 32.11l-1.696 36.39c-1.01 21.68-11.678 29.377-21.934 30.838-14.884 2.12-29.72 3.52-54.512-.848C232.522 118.263 233.5 129 233.5 129s-1.992-7.686-32.218-14c-17.933-5.043-118.204 3.687-163.51-2.544-21.317-2.932-33.706-8.26-34.228-27.022L2.272 39.717c-.46-16.58 12.34-23.718 34.23-27.022z"
                                                fill="#303030" stroke="#000" />
                                        </svg>
                                        <svg class="popup-outline" xmlns="http://www.w3.org/2000/svg"
                                            viewBox="0 0 300 130" height="130" width="300">
                                            <g stroke-width="2" stroke-linecap="round">
                                                <path class="popup-outline-left"
                                                    d="M233.5 129s-1.992-7.686-32.218-14c-17.933-5.043-118.204 3.687-163.51-2.544-21.317-2.932-33.706-8.26-34.228-27.022L2.272 39.717c-.46-16.58 12.34-23.718 34.23-27.022 15.897-2.4 32.554-4.284 82.975-3.815"
                                                    fill="none" stroke="#303030" />
                                                <path class="popup-outline-right"
                                                    d="M119.477 8.88c79.67.74 121.785.26 145.294 5.51 18.483 4.13 34.333 11.696 33.382 32.11l-1.696 36.39c-1.01 21.68-11.678 29.377-21.934 30.838-14.884 2.12-29.72 3.52-54.512-.848C232.522 118.263 233.5 129 233.5 129"
                                                    fill="none" stroke="#303030" />
                                            </g>
                                        </svg>
                                        <div class="popup-text">
                                            حاوی مقادیری از ویتامین B6، فولات، فسفر، پتاسیم و روی است. علاوه بر این،
                                            آن‌ها منبع غنی از چربی‌های غیر اشباع امگا 6، امگا 9 و اسید اولئیک است. فندق
                                            حاوی پروتئین، چربی سالم، کربوهیدارت، کاروتن، ویتامین B2 و B1، ویتامین E و
                                            مواد معدنی نظیر کلسیم، فسفر و آهن است. </div>
                                    </div>
                                    <h2 class="my-3">فندوق</h2>
                                    <a href="#">مشاهده</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End silde -->
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <div class="container">
                            <div class="card sunflower-seeds">
                                <a href="" class="imgBx">
                                    <img src=" /images/sunflower-seeds.png">
                                </a>
                                <div class="contentBx">
                                    <div class="title">
                                        <div class="tooltip1 bg-dange">
                                            <div class="tooltip-spacing ">
                                                <div class="tooltip-bg1"></div>
                                                <div class="tooltip-bg2"></div>
                                                <div class="tooltip-text">?</div>
                                            </div>
                                        </div>
                                        <svg class="popup-bg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 130"
                                            height="130" width="300">
                                            <path
                                                d="M36.5 12.695c15.9-2.4 32.556-4.284 82.977-3.815 79.67.74 121.785.26 145.294 5.51 18.483 4.13 34.333 11.696 33.382 32.11l-1.696 36.39c-1.01 21.68-11.678 29.377-21.934 30.838-14.884 2.12-29.72 3.52-54.512-.848C232.522 118.263 233.5 129 233.5 129s-1.992-7.686-32.218-14c-17.933-5.043-118.204 3.687-163.51-2.544-21.317-2.932-33.706-8.26-34.228-27.022L2.272 39.717c-.46-16.58 12.34-23.718 34.23-27.022z"
                                                fill="#303030" stroke="#000" />
                                        </svg>
                                        <svg class="popup-outline" xmlns="http://www.w3.org/2000/svg"
                                            viewBox="0 0 300 130" height="130" width="300">
                                            <g stroke-width="2" stroke-linecap="round">
                                                <path class="popup-outline-left"
                                                    d="M233.5 129s-1.992-7.686-32.218-14c-17.933-5.043-118.204 3.687-163.51-2.544-21.317-2.932-33.706-8.26-34.228-27.022L2.272 39.717c-.46-16.58 12.34-23.718 34.23-27.022 15.897-2.4 32.554-4.284 82.975-3.815"
                                                    fill="none" stroke="#303030" />
                                                <path class="popup-outline-right"
                                                    d="M119.477 8.88c79.67.74 121.785.26 145.294 5.51 18.483 4.13 34.333 11.696 33.382 32.11l-1.696 36.39c-1.01 21.68-11.678 29.377-21.934 30.838-14.884 2.12-29.72 3.52-54.512-.848C232.522 118.263 233.5 129 233.5 129"
                                                    fill="none" stroke="#303030" />
                                            </g>
                                        </svg>
                                        <div class="popup-text">از خواص تخمه آفتابگردان می‌توان به کاهش فشار خون،
                                            کلسترول و قند خون اشاره کرد زیرا این ماده‌ی غذایی حاوی ویتامین E، منیزیم،
                                            پروتئین، اسیدهای چرب لینوئیک و چندین ترکیب گیاهی دیگر است.</div>
                                    </div>
                                    <h2 class="my-3">تخمه افتاب گردان</h2>
                                    <a href="#">مشاهده</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End silde -->
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <div class="container">
                            <div class="card seeds">
                                <a href="" class="imgBx">
                                    <img src=" /images/seeds.png">
                                </a>
                                <div class="contentBx">
                                    <div class="title">
                                        <div class="tooltip1 bg-dange">
                                            <div class="tooltip-spacing ">
                                                <div class="tooltip-bg1"></div>
                                                <div class="tooltip-bg2"></div>
                                                <div class="tooltip-text">?</div>
                                            </div>
                                        </div>
                                        <svg class="popup-bg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 130"
                                            height="130" width="300">
                                            <path
                                                d="M36.5 12.695c15.9-2.4 32.556-4.284 82.977-3.815 79.67.74 121.785.26 145.294 5.51 18.483 4.13 34.333 11.696 33.382 32.11l-1.696 36.39c-1.01 21.68-11.678 29.377-21.934 30.838-14.884 2.12-29.72 3.52-54.512-.848C232.522 118.263 233.5 129 233.5 129s-1.992-7.686-32.218-14c-17.933-5.043-118.204 3.687-163.51-2.544-21.317-2.932-33.706-8.26-34.228-27.022L2.272 39.717c-.46-16.58 12.34-23.718 34.23-27.022z"
                                                fill="#303030" stroke="#000" />
                                        </svg>
                                        <svg class="popup-outline" xmlns="http://www.w3.org/2000/svg"
                                            viewBox="0 0 300 130" height="130" width="300">
                                            <g stroke-width="2" stroke-linecap="round">
                                                <path class="popup-outline-left"
                                                    d="M233.5 129s-1.992-7.686-32.218-14c-17.933-5.043-118.204 3.687-163.51-2.544-21.317-2.932-33.706-8.26-34.228-27.022L2.272 39.717c-.46-16.58 12.34-23.718 34.23-27.022 15.897-2.4 32.554-4.284 82.975-3.815"
                                                    fill="none" stroke="#303030" />
                                                <path class="popup-outline-right"
                                                    d="M119.477 8.88c79.67.74 121.785.26 145.294 5.51 18.483 4.13 34.333 11.696 33.382 32.11l-1.696 36.39c-1.01 21.68-11.678 29.377-21.934 30.838-14.884 2.12-29.72 3.52-54.512-.848C232.522 118.263 233.5 129 233.5 129"
                                                    fill="none" stroke="#303030" />
                                            </g>
                                        </svg>
                                        <div class="popup-text">حاوی مقادیر بالای آنتی‌اکسیدان‌ها و اسیدهای چرب
                                            اشباع‌نشده، پتاسیم، ویتامین B2 (ریبوفلاوین) و فولات است. از خواص و فواید
                                            تخمه
                                            کدو در طب سنتی می‌توان به تعدیل حرارت بدن و کاهش و تسکین خلط گلو اشاره کرد.
                                            این مغز بعلاوه برای رفع خشکی مغز، رفع بی‌خوابی، درمان تب و سل نیز مفید است.
                                        </div>
                                    </div>
                                    <h2 class="my-3">تخمه کدو</h2>
                                    <a href="#">مشاهده</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End silde -->
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <div class="container">
                            <div class="card chickPeas">
                                <a href="" class="imgBx">
                                    <img src=" /images/chickPeas.png">
                                </a>
                                <div class="contentBx">
                                    <div class="title">
                                        <div class="tooltip1 bg-dange">
                                            <div class="tooltip-spacing ">
                                                <div class="tooltip-bg1"></div>
                                                <div class="tooltip-bg2"></div>
                                                <div class="tooltip-text">?</div>
                                            </div>
                                        </div>
                                        <svg class="popup-bg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 130"
                                            height="130" width="300">
                                            <path
                                                d="M36.5 12.695c15.9-2.4 32.556-4.284 82.977-3.815 79.67.74 121.785.26 145.294 5.51 18.483 4.13 34.333 11.696 33.382 32.11l-1.696 36.39c-1.01 21.68-11.678 29.377-21.934 30.838-14.884 2.12-29.72 3.52-54.512-.848C232.522 118.263 233.5 129 233.5 129s-1.992-7.686-32.218-14c-17.933-5.043-118.204 3.687-163.51-2.544-21.317-2.932-33.706-8.26-34.228-27.022L2.272 39.717c-.46-16.58 12.34-23.718 34.23-27.022z"
                                                fill="#303030" stroke="#000" />
                                        </svg>
                                        <svg class="popup-outline" xmlns="http://www.w3.org/2000/svg"
                                            viewBox="0 0 300 130" height="130" width="300">
                                            <g stroke-width="2" stroke-linecap="round">
                                                <path class="popup-outline-left"
                                                    d="M233.5 129s-1.992-7.686-32.218-14c-17.933-5.043-118.204 3.687-163.51-2.544-21.317-2.932-33.706-8.26-34.228-27.022L2.272 39.717c-.46-16.58 12.34-23.718 34.23-27.022 15.897-2.4 32.554-4.284 82.975-3.815"
                                                    fill="none" stroke="#303030" />
                                                <path class="popup-outline-right"
                                                    d="M119.477 8.88c79.67.74 121.785.26 145.294 5.51 18.483 4.13 34.333 11.696 33.382 32.11l-1.696 36.39c-1.01 21.68-11.678 29.377-21.934 30.838-14.884 2.12-29.72 3.52-54.512-.848C232.522 118.263 233.5 129 233.5 129"
                                                    fill="none" stroke="#303030" />
                                            </g>
                                        </svg>
                                        <div class="popup-text">نخودچی دارای اسید فولیک است که برای بهبود گردش خون و
                                            سلامت قلب باید مصرف شود. علاوه بر این، نخودچی حاوی بسیاری از ویتامین‌های
                                            دیگر کمپلکس B (به جزء B12) است که سیستم عصبی را تغذیه می‌کند. یکی از
                                            بزرگترین خواص نخودچی، غنی بودن آن از نظر مواد معدنی مانند پتاسیم، فسفر،
                                            منیزیم و کلسیم، آهن و روی است
                                        </div>
                                    </div>
                                    <h2 class="my-3"> نخودچی </h2>
                                    <a href="#">مشاهده</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End silde -->
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <div class="container">
                            <div class="card khorma">
                                <a href="" class="imgBx">
                                    <img src=" /images/khorma.png">
                                </a>
                                <div class="contentBx">
                                    <div class="title">
                                        <div class="tooltip1 bg-dange">
                                            <div class="tooltip-spacing ">
                                                <div class="tooltip-bg1"></div>
                                                <div class="tooltip-bg2"></div>
                                                <div class="tooltip-text">?</div>
                                            </div>
                                        </div>
                                        <svg class="popup-bg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 130"
                                            height="130" width="300">
                                            <path
                                                d="M36.5 12.695c15.9-2.4 32.556-4.284 82.977-3.815 79.67.74 121.785.26 145.294 5.51 18.483 4.13 34.333 11.696 33.382 32.11l-1.696 36.39c-1.01 21.68-11.678 29.377-21.934 30.838-14.884 2.12-29.72 3.52-54.512-.848C232.522 118.263 233.5 129 233.5 129s-1.992-7.686-32.218-14c-17.933-5.043-118.204 3.687-163.51-2.544-21.317-2.932-33.706-8.26-34.228-27.022L2.272 39.717c-.46-16.58 12.34-23.718 34.23-27.022z"
                                                fill="#303030" stroke="#000" />
                                        </svg>
                                        <svg class="popup-outline" xmlns="http://www.w3.org/2000/svg"
                                            viewBox="0 0 300 130" height="130" width="300">
                                            <g stroke-width="2" stroke-linecap="round">
                                                <path class="popup-outline-left"
                                                    d="M233.5 129s-1.992-7.686-32.218-14c-17.933-5.043-118.204 3.687-163.51-2.544-21.317-2.932-33.706-8.26-34.228-27.022L2.272 39.717c-.46-16.58 12.34-23.718 34.23-27.022 15.897-2.4 32.554-4.284 82.975-3.815"
                                                    fill="none" stroke="#303030" />
                                                <path class="popup-outline-right"
                                                    d="M119.477 8.88c79.67.74 121.785.26 145.294 5.51 18.483 4.13 34.333 11.696 33.382 32.11l-1.696 36.39c-1.01 21.68-11.678 29.377-21.934 30.838-14.884 2.12-29.72 3.52-54.512-.848C232.522 118.263 233.5 129 233.5 129"
                                                    fill="none" stroke="#303030" />
                                            </g>
                                        </svg>
                                        <div class="popup-text" dir="rtl">خرما به‌طور طبیعی سرشار از ویتامین‌های B6، آ و
                                            کا است‌. این ویتامین‌ها به رشد استخوان‌ها و بهبود سلامت چشم‌ها کمک می‌کنند.
                                            فیبر موجود در خرما سلامت روده را بهبود می‌دهد و به‌طور طبیعی میزان کلسترول
                                            را کاهش می‌دهد. خرما ممکن است خطر ابتلا به سرطان‌های روده و معده را کاهش
                                            دهد.
                                        </div>
                                    </div>
                                    <h2 class="my-3"> خرما </h2>
                                    <a href="#">مشاهده</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End silde -->
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <div class="container">
                            <div class="card fig">
                                <a href="" class="imgBx">
                                    <img src=" /images/dried-figs.png">
                                </a>
                                <div class="contentBx">
                                    <div class="title">
                                        <div class="tooltip1 bg-dange">
                                            <div class="tooltip-spacing ">
                                                <div class="tooltip-bg1"></div>
                                                <div class="tooltip-bg2"></div>
                                                <div class="tooltip-text">?</div>
                                            </div>
                                        </div>
                                        <svg class="popup-bg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 130"
                                            height="130" width="300">
                                            <path
                                                d="M36.5 12.695c15.9-2.4 32.556-4.284 82.977-3.815 79.67.74 121.785.26 145.294 5.51 18.483 4.13 34.333 11.696 33.382 32.11l-1.696 36.39c-1.01 21.68-11.678 29.377-21.934 30.838-14.884 2.12-29.72 3.52-54.512-.848C232.522 118.263 233.5 129 233.5 129s-1.992-7.686-32.218-14c-17.933-5.043-118.204 3.687-163.51-2.544-21.317-2.932-33.706-8.26-34.228-27.022L2.272 39.717c-.46-16.58 12.34-23.718 34.23-27.022z"
                                                fill="#303030" stroke="#000" />
                                        </svg>
                                        <svg class="popup-outline" xmlns="http://www.w3.org/2000/svg"
                                            viewBox="0 0 300 130" height="130" width="300">
                                            <g stroke-width="2" stroke-linecap="round">
                                                <path class="popup-outline-left"
                                                    d="M233.5 129s-1.992-7.686-32.218-14c-17.933-5.043-118.204 3.687-163.51-2.544-21.317-2.932-33.706-8.26-34.228-27.022L2.272 39.717c-.46-16.58 12.34-23.718 34.23-27.022 15.897-2.4 32.554-4.284 82.975-3.815"
                                                    fill="none" stroke="#303030" />
                                                <path class="popup-outline-right"
                                                    d="M119.477 8.88c79.67.74 121.785.26 145.294 5.51 18.483 4.13 34.333 11.696 33.382 32.11l-1.696 36.39c-1.01 21.68-11.678 29.377-21.934 30.838-14.884 2.12-29.72 3.52-54.512-.848C232.522 118.263 233.5 129 233.5 129"
                                                    fill="none" stroke="#303030" />
                                            </g>
                                        </svg>
                                        <div class="popup-text" dir="rtl">انجیر سرشار از ویتامین‌های A،B1، B2 منگنز،
                                            پتاسیم، منیزیم، مس، آهن و فسفر است. سطح بالای پتاسیم و سطح پایین سدیم برای
                                            افرادی که دارای فشار خون بالای هستند مناسب است. انجیر خشک منبع خوب کلسیم:
                                            کلسیم بالای موجود در انجیر باعث افزایش سلامتی استخوان‌ها می‌شود.
                                        </div>
                                    </div>
                                    <h2 class="my-3"> انجیر خشک </h2>
                                    <a href="#">مشاهده</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End silde -->
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <div class="container">
                            <div class="card raisins">
                                <a href="" class="imgBx">
                                    <img src=" /images/raisins.png">
                                </a>
                                <div class="contentBx">
                                    <div class="title">
                                        <div class="tooltip1 bg-dange">
                                            <div class="tooltip-spacing ">
                                                <div class="tooltip-bg1"></div>
                                                <div class="tooltip-bg2"></div>
                                                <div class="tooltip-text">?</div>
                                            </div>
                                        </div>
                                        <svg class="popup-bg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 130"
                                            height="130" width="300">
                                            <path
                                                d="M36.5 12.695c15.9-2.4 32.556-4.284 82.977-3.815 79.67.74 121.785.26 145.294 5.51 18.483 4.13 34.333 11.696 33.382 32.11l-1.696 36.39c-1.01 21.68-11.678 29.377-21.934 30.838-14.884 2.12-29.72 3.52-54.512-.848C232.522 118.263 233.5 129 233.5 129s-1.992-7.686-32.218-14c-17.933-5.043-118.204 3.687-163.51-2.544-21.317-2.932-33.706-8.26-34.228-27.022L2.272 39.717c-.46-16.58 12.34-23.718 34.23-27.022z"
                                                fill="#303030" stroke="#000" />
                                        </svg>
                                        <svg class="popup-outline" xmlns="http://www.w3.org/2000/svg"
                                            viewBox="0 0 300 130" height="130" width="300">
                                            <g stroke-width="2" stroke-linecap="round">
                                                <path class="popup-outline-left"
                                                    d="M233.5 129s-1.992-7.686-32.218-14c-17.933-5.043-118.204 3.687-163.51-2.544-21.317-2.932-33.706-8.26-34.228-27.022L2.272 39.717c-.46-16.58 12.34-23.718 34.23-27.022 15.897-2.4 32.554-4.284 82.975-3.815"
                                                    fill="none" stroke="#303030" />
                                                <path class="popup-outline-right"
                                                    d="M119.477 8.88c79.67.74 121.785.26 145.294 5.51 18.483 4.13 34.333 11.696 33.382 32.11l-1.696 36.39c-1.01 21.68-11.678 29.377-21.934 30.838-14.884 2.12-29.72 3.52-54.512-.848C232.522 118.263 233.5 129 233.5 129"
                                                    fill="none" stroke="#303030" />
                                            </g>
                                        </svg>
                                        <div class="popup-text"> تصفیه خون، جلوگیری از پیری پوست، درمان پوکی استخوان،
                                            درمان ریزش مو، جلوگیری از سفیدی مو، درمان کم خونی، کاهش کلسترول بد خون،
                                            کنترل فشار خون، کنترل گرسنگی، حفظ سلامت دندان، درمان اختلال جنسی، رفع اختلال
                                            نعوظ، درمان تب، مفید برای چشم، تقویت سیستم ایمنی بدن، بهبود هضم غذا، بهبود
                                            ...
                                        </div>
                                    </div>
                                    <h2 class="my-3"> کشمش و مویز </h2>
                                    <a href="#">مشاهده</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End silde -->
                </div>

                <!-- If we need pagination -->
                <div class="swiper-pagination mt-5"></div>

            </div>

            <!-- swiper -->
        </div>
        <!-- mixed nuts -->
        <div>
            <!-- main title -->
            <div class="d-flex justify-content-center mt-3">
                <img src=" /images/main-title-img.png" class="main-title-img" alt="">
                <div>
                    <h3> انواع آجیل ها </h3>
                    <div class="title-section-line">
                    </div>
                </div>
            </div>
            <!-- End main title -->
            <div class="box">
                <div class="hid-box">
                    <div class="row justify-content-around mt-5">
                        <div class="col-5 col-md-4 col-lg-3 my-auto mx-auto">
                            <a href="">
                                <img src=" /images/mixed-nut-without-seeds.png" class="img-fluid" alt="">
                                <p class="text-white text-center fs-3">آجیل های مغز</p>
                            </a>
                        </div>
                        <div class="divider"></div>
                        <div class="col-5 col-md-4 col-lg-3 my-auto mx-auto">
                            <a href="">
                                <img src=" /images/mixed-nut-with-seeds.png" class="img-fluid" alt="">
                                <p class="text-white text-center fs-3">آجیل های تخمه دار</p>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- end mixed nuts -->
        <!-- Contact Us -->
        <section class="mx-5">
            <!-- main title -->
            <div class="d-flex justify-content-center my-4">
                <div>
                    <h3> تماس با ما</h3>
                    <div class="title-section-line">
                    </div>
                </div>
            </div>

            <!-- End main title -->
            <div class="row">
                <div class="col-lg-6 col-12 overflow-hidden">
                    <div class="row">
                        <!-- address -->
                        <div class="col-12 col-md-6 ">
                            <div class="contactUs-card p-3 px-5">
                                <i class="fa fa-location-dot contactUs-icon fs-1"></i>
                                <p class="fs-1">آدرس</p>
                                <p class="fs-5">کرج کمالشهر خ امام خ میعاد 26 سنبل 1 </p>
                            </div>
                        </div>
                        <!-- telephone -->
                        <div class="col-12 col-md-6 ">
                            <div class="contactUs-card p-3 px-5">
                                <i class="fas fa-phone contactUs-icon fs-1"></i>
                                <p class="fs-2">تلفن تماس</p>
                                <p class="fs-5">09121932460</p>
                                <p class="fs-5">09196413728</p>
                                <p class="fs-5">09031001575</p>
                            </div>
                        </div>
                        <!-- social media -->
                        <div class="col-12 col-md-6 ">
                            <div class="contactUs-card contactUs-icon py-3 px-5">
                                <i class="fab fa-android fs-1"></i>
                                <p class="fs-1">شبکه های اجتمایی</p>
                                <div class="m-2">
                                    <a href="" class="social-media-link "><i class="fab fa-telegram "></i>
                                        t.me:khoshkbar_reza</a>
                                </div>
                                <div class="m-2">
                                    <a href="" class="social-media-link "><i class="fab fa-instagram "></i>
                                        khoshkbar_reza</a>
                                </div>
                                <div class="m-2">
                                    <a href="" class="social-media-link "><i
                                            class="fab fa-whatsapp m-1"></i>khoshkbar_reza</a>
                                </div>
                                <div class="m-2">
                                    <a href="" class="social-media-link "><i class="fa fa-envelope "></i>
                                        KoshkbarReza@Gmail.com</a>
                                </div>

                            </div>
                        </div>
                        <!-- open hours -->
                        <div class="col-12 col-md-6 ">
                            <div class="contactUs-card contactUs-icon p-3 px-5">
                                <i class="fa fa-clock fs-1"></i>
                                <p class="fs-1">ساعت کاری</p>
                                <p class="fs-5">همه روزه از ساعت </p>
                                <p class="fs-5"> 10:00 الی 14:00 </p>
                                <p class="fs-5"> 16:00 الی 22:00 </p>


                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12  overflow-hidden">
                    <div class="map-card m-3">
                        <div><iframe width="100%" height="630"
                                src="https://maps.google.com/maps?width=100%&amp;height=800&amp;hl=en&amp;q=%D8%AE%D8%B4%DA%A9%D8%A8%D8%A7%D8%B1%20%D8%B1%D8%B6%D8%A7%20%D8%A7%D8%B3%D8%AA%D8%A7%D9%86%20%D8%AA%D9%87%D8%B1%D8%A7%D9%86%D8%8C%20%DA%A9%D8%B1%D8%AC%D8%8C%20%D8%AE%D8%B1%D9%85%D8%AF%D8%B4%D8%AA%D8%8C%D8%8C%20%D8%AE%DB%8C%D8%A7%D8%A8%D8%A7%D9%86%20%D8%B3%D9%86%D8%A8%D9%84%20%DB%B1%20%20+(Title)&amp;ie=UTF8&amp;t=p&amp;z=17&amp;iwloc=B&amp;output=embed"
                                frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                        </div><br />
                    </div>
                </div>
            </div>
        </section>
        <!-- End Contact Us -->
    </main>
    <!-- End Main -->
    <%- include("./includes/footer.ejs") %>
