
<div id="#body" class="m-auto login-section">
	<div class="hero-logo d-none d-lg-block">
		<a href="">
			<img src=" /images/reza-nut-logo.png" style="width:100px; height: 100px; margin-top: 70px;" alt="">
		</a>
	</div>
	<div class="main bardia-font m-auto">  	
		<input type="checkbox" id="chk" aria-hidden="true">

			<div class="signup">
				<form>
					<label for="chk" aria-hidden="true"> ورود </label>
					<input type="email" name="userEmail" placeholder="ایمیل" required="">
					<input type="password" name="userPass" placeholder="رمز ورود" required="">
					<button class="bardia-font">ورود</button>
				</form>
			</div>
				<!-- نام گزاری کلاس ورود و ثبت نام جابه جا شده -->
			<div class="login">  
				<form>
					<label for="chk" aria-hidden="true">ثبت نام</label>
					<input type="text" name="txt" placeholder="نام کاربری" required>
					<input type="email" name="email" placeholder="ایمیل" required>
					<input type="password" name="userPass" placeholder="رمز ورود" required>
					<input type="password" name="userRepass" placeholder="تکرار رمز ورود" required>
					<button class="bardia-font">ثبت نام</button>
				</form>
			</div>
	</div>
</div>