<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>خشکبار رضا</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/fontawesome/css/all.css">
    <link rel="stylesheet" href="/css/animate.min.css">
    <link rel="stylesheet" href="/css/grid.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/media-queries.css">
    <link rel="stylesheet" href="/css/aos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
</head>

<body id="body">
   
    <%- include("./includes/fixedButton.ejs") %>

    <!-- Herpo -->
    <section class="pistachio-page-hero">
        <div class="navbar-space">
            <!-- search box DESPLAY-NONE-->
            <div class="search-box position-relative d-none">;
                <div>
                    <input type="text" class="form-control search-box-input position-absolute" placeholder="... جستجو">
                </div>
            </div>
            <nav class="navbar navbar-expand-lg d-flex justify-content-end ">
                <div>
                    <!-- shopping card and login & sign up DESPLAY-NONE  -->
                    <div class="shopingCard d-flex mt-5 d-none">
                        <a href="" class="text-black my-auto">
                            <i class='fa fa-shopping-cart blue-color fs-5'>
                            </i>
                            <span
                                class="position-absolute top-30 start-10 translate-middle badge shopping-cart-badge rounded-pill bg-danger">
                                4
                            </span>
                        </a>

                        <div class="divider-line mx-4"></div>
                        <!-- login & Register -->
                        <a href="" class="d-flex text-decoration-none text-black login-link">
                            <p> ورود </p>
                            <div class="divider-line"></div>
                            <p> ثبت نام</p>
                            <i class='fa fa-sign-in fs-5 ms-2'></i>
                        </a>
                        <!-- End login & Register -->
                        <!-- user circle icon -->
                        <span class="userProfile  d-none">
                            <span>
                                <i class="fas fa-user-circle text-black fs-4"></i>
                            </span>

                            <div class="body" dir="rtl">
                                <ul class="user-Profile-link">
                                    <li><a href="" class="user-dropdown-menu"><i
                                                class="fas fa-sign icon ms-3 "></i>پروفایل
                                        </a>
                                    </li>
                                    <li><a href="" class="user-dropdown-menu"><i class="fas fa-bar-chart ms-3 icon"></i>
                                            آمار
                                        </a>
                                    </li>
                                    <li><a href="" class="user-dropdown-menu"><i class="fas fa-boxes ms-3 icon"></i>
                                            ویجت ها</a></li>
                                    <li><a href="" class="user-dropdown-menu"><i
                                                class="fas fa-table ms-3 icon"></i>جداول
                                        </a>
                                    </li>
                                    <li><a href="" class="user-dropdown-menu"><i class="fa fa-cogs ms-3 icon"></i>
                                            تنظیمات
                                        </a>
                                    </li>
                                    <li><a href="" class="user-dropdown-menu"><i class="fas fa-sign-out  ms-3 icon"></i>
                                            خروج
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </span>
                        <!-- End user circle icon -->
                    </div>
                    <!-- logo -->
                    <div class="hero-logo d-none d-lg-block">
                        <a href="/">
                            <img src="/images/reza-nut-logo.png" style="width:100px; height: 100px;" alt="">
                        </a>
                    </div>
                </div>
                <!-- Header -->
                <%- include("./includes/header.ejs") %>
                <!-- End Header -->
            </nav>
        </div>
    </section>
    <!-- End Hero -->

    <!-- Main -->
    <main dir="rtl" class="height-100 h-auto">
        <div class="d-flex justify-content-center w-75 mx-auto ">
            <button id="product-btn-1" class="custom-btn btn-5"><span>پسته اکبری</span></button>
            <button id="product-btn-2" class="custom-btn btn-5"><span>پسته احمد آقایی</span></button>
            <button id="product-btn-3" class="custom-btn btn-5"><span>پسته کله قوچی</span></button>
            <button id="product-btn-4" class="custom-btn btn-5"><span>پسته فندوقی</span></button>
            <button id="product-btn-5" class="custom-btn btn-5"><span>مغز پسته </span></button>
            <button id="product-btn-6" class="custom-btn btn-5"><span>خلال پسته </span></button>
        </div>

        
        <!-- Product-1 -->
        <div id="product-1">
            <!-- خام -->
            <section class="main-border p-3">
                <!-- paging layer -->
                <section class="d-flex">
                    <a href="/" class="text-decoration-none text-black opacity-50 px-2">
                        <p> فروشکاه اینترنتی خشکبار رضا /</p>
                    </a>
                    <a href="#header" class="text-decoration-none text-black opacity-50 px-2">
                        <p> آجیل /</p>
                    </a>
                    <a href="/products/pistachio#product-btn-1" class="text-decoration-none text-black opacity-50 px-2">
                        <p> پسته اکبری</p>
                    </a>
                </section>

                <div class="row product-profile">
                    <div class="col-12 col-md-6 col-lg-5 image-section position-relative">
                        <span> <i class="fa fa-magnifying-glass magnifying-glass-icon"></i></span>
                        <div class="img-magnifier-container mx-1 mx-lg-5">
                            <img id="1" src="/images/akbari-kham.png" width="400" height="300"
                                alt="Girl">
                        </div>
                        <p class="text-center"><i class="fa fa-star text-warning"></i> بسته بندی با وزن دلخواه شما و
                            ارسال به سراسر ایران <i class="fa fa-star text-warning"></i></p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-7">
                        <h1 class="product_name">
                            پسته اکبری خام
                        </h1>
                        <!-- شامل -->
                        <p class="d-none"> </i><span class="text-success"><i class="fa fa-box-open p-1"></i>شامل</span> پسته احمد آقایی
                            بادام درختي ايراني بادام هندي تخمه كدوگوشتي تخمه جابوني</p>

                        <ul>
                            <li> خشکبار رضا از تولید به مصرف</li>
                            <li><span class="text-danger">ارسال با پست پیشتاز </span> در سریع ترین زمان ممکن </li>
                            <li><span class="text-danger">ارسال رایگان </span> بالای 1 میلیون تومان </li>
                        </ul>
                        <p class="fs-6">
                            <span class="text-danger"> نکته : </span>
                            برای اطلاع از قیمت و سفارش محصول از طریق شبکه های اجتمایی با ما تماس حاصل فرمایید.
                        </p>
                    </div>
                </div>
            </section>
            <!-- شور -->
            <section class="main-border p-3">
                <!-- paging layer -->
                <section class="d-flex">
                    <a href="/" class="text-decoration-none text-black opacity-50 px-2">
                        <p> فروشکاه اینترنتی خشکبار رضا /</p>
                    </a>
                    <a href="#header" class="text-decoration-none text-black opacity-50 px-2">
                        <p> آجیل /</p>
                    </a>
                    <a href="/products/pistachio#product-btn-1" class="text-decoration-none text-black opacity-50 px-2">
                        <p> پسته اکبری</p>
                    </a>
                </section>

                <div class="row product-profile">
                    <div class="col-12 col-md-6 col-lg-5 image-section position-relative">
                        <span> <i class="fa fa-magnifying-glass magnifying-glass-icon"></i></span>
                        <div class="img-magnifier-container mx-1 mx-lg-5">
                            <img id="2" src="/images/akbari-shor.png" width="400" height="300"
                                alt="Girl">
                        </div>
                        <p class="text-center"><i class="fa fa-star text-warning"></i> بسته بندی با وزن دلخواه شما و
                            ارسال به سراسر ایران <i class="fa fa-star text-warning"></i></p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-7">
                        <h1 class="product_name">
                            پسته اکبری شور
                        </h1>
                        <!-- شامل -->
                        <p class="d-none"> </i><span class="text-success"><i class="fa fa-box-open p-1"></i>شامل</span> پسته احمد آقایی
                            بادام درختي ايراني بادام هندي تخمه كدوگوشتي تخمه جابوني</p>

                        <ul>
                            <li> خشکبار رضا از تولید به مصرف</li>
                            <li><span class="text-danger">ارسال با پست پیشتاز </span> در سریع ترین زمان ممکن </li>
                            <li><span class="text-danger">ارسال رایگان </span> بالای 1 میلیون تومان </li>
                        </ul>
                        <p class="fs-6">
                            <span class="text-danger"> نکته : </span>
                            برای اطلاع از قیمت و سفارش محصول از طریق شبکه های اجتمایی با ما تماس حاصل فرمایید.
                        </p>
                    </div>
                </div>
            </section>
            <section class="main-border p-3">

                <div>
                    <div class="row">
                        <button class="btn product-btn product-feature-btn border-1">
                            خصوصیات محصول
                        </button>
                    </div>
                </div>
                <div class="product-info-feature-section">
                    <div class="productFeature fs-5 ">
                        <p class="">
                            پسته یکی از محصولات مهم و محبوب در ایران و سایر نقاط جهان است. پسته اکبری به عنوان یکی از نوع‌های معتبر و با کیفیت پسته در ایران شناخته می‌شود. این نوع پسته به دلیل ویژگی‌های خاص خود به عنوان یک میوه خشک بسیار محبوب است. در زیر به برخی از خواص پسته اکبری اشاره خواهم کرد:
                            <br>
                            1. منبع عالی پروتئین: پسته اکبری منبع خوبی از پروتئین های گیاهی می‌باشد که برای بدن انسان حائز اهمیت است. این پروتئین‌ها مفید برای رشد و تعمیر بافت‌های بدن می‌باشند.
                            <br>
                            2. منابع چربی سالم: پسته حاوی چربی‌های ناسالم و اشباع شده نیست و به عنوان یک منبع عالی از چربی‌های نیمه اشباع و پلی‌ن‌ناساتورهای ایمنی‌محور (مثل اسید لینولئیک و اسید الفا-لینولئیک) شناخته می‌شود که برای سلامتی قلبی و عروقی مفید هستند.
                            <br>
                            3. کاربردهای ضد التهابی: پسته به دلیل حاوی آنتی‌اکسیدان‌های مختلف مانند ویتامین E، سلنیوم و فیتوکمیکال‌ها، خواص ضد التهابی دارد که می‌توانند در کاهش التهاب‌های مزمن و حفظ سلامتی بافت‌ها و سلول‌ها کمک کنند.
                            <br>
                            4. سرشار از ویتامین‌ها و مواد معدنی: پسته حاوی ویتامین‌های مهمی مانند ویتامین B6، ویتامین K، فولات (ویتامین B9) و مواد معدنی از جمله مس، منیزیم، فسفر و آهن است.
                            <br>
                            5. کمک به کنترل قند خون: مصرف معتدل پسته می‌تواند به کنترل قند خون کمک کرده و ریسک ابتلا به دیابت نوع 2 را کاهش دهد.
                            <br>
                            6. حفظ وزن: این میوه خشک به دلیل ارتباط آن با احساس سیری و کاهش نیاز به تنقلات ناسالم، می‌تواند به حفظ وزن بهینه کمک کند.
                            
                           
                        </p>
                        <p>
                            در ادامه به برخي از خواص پسته اكبري و تفاوت‌هاي آن با ساير پسته‌ها پرداخته خواهد شد:
                            <br>
                            اندازه بزرگ: پسته اكبري داراي اندازه‌اي بزرگتر نسبت به بسياري از ساير انواع پسته‌ها است. اين اندازه بزرگتر به معناي بيشترين درجه پربار بودن آن است.
                            <br>
                            طعم برجسته: پسته اكبري داراي طعم بسيار خوبي است و بيشترين درجه طعم دلچسب را دارا مي‌باشد. اين طعم خوب باعث مي‌شود پسته اكبري به عنوان يكي از پرطرفدارترين انواع پسته‌ها شناخته شود.
                            <br>
                            كيفيت بالا: پسته اكبري داراي كيفيتي بسيار بالا است و در برخي موارد به عنوان پسته ايراني با كيفيت برتر شناخته مي‌شود.
                            <br>
                            قيمت بالا: به دليل ويژگي‌هاي بالايي كه پسته اكبري دارد، قيمت آن معمولاً بالاتر از ساير انواع پسته‌ها است.
                            <br>
                            در کل، پسته اكبري به دليل اندازه بزرگ، طعم برجسته، كيفيت بالا، و خواص غذائي متمايز خود از ساير انواع پسته‌ها جلب توجه مي‌كند.
                        </p>
                    </div>
                </div>
            </section>

        </div>
        <!-- End Product-1 -->
        <!-- Product-2 -->
        <div id="product-2">
            <!-- خام -->
            <section class="main-border p-3">
                <!-- paging layer -->
                <section class="d-flex">
                    <a href="/" class="text-decoration-none text-black opacity-50 px-2">
                        <p> فروشکاه اینترنتی خشکبار رضا /</p>
                    </a>
                    <a href="#header" class="text-decoration-none text-black opacity-50 px-2">
                        <p> آجیل /</p>
                    </a>
                    <a href="/products/pistachio#product-btn-2" class="text-decoration-none text-black opacity-50 px-2">
                        <p> پسته احمد آقایی</p>
                    </a>
                </section>

                <div class="row product-profile">
                    <div class="col-12 col-md-6 col-lg-5 image-section position-relative">
                        <span> <i class="fa fa-magnifying-glass magnifying-glass-icon"></i></span>
                        <div class="img-magnifier-container mx-1 mx-lg-5">
                            <img id="3" src="/images/ahmad-aghaee-kham.png" width="400" height="300"
                                alt="Girl">
                        </div>
                        <p class="text-center"><i class="fa fa-star text-warning"></i> بسته بندی با وزن دلخواه شما و
                            ارسال به سراسر ایران <i class="fa fa-star text-warning"></i></p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-7">
                        <h1 class="product_name">
                            پسته احمد آقایی خام
                        </h1>
                        <!-- شامل -->
                        <p class="d-none"> </i><span class="text-success"><i class="fa fa-box-open p-1"></i>شامل</span> پسته احمد آقایی
                            بادام درختي ايراني بادام هندي تخمه كدوگوشتي تخمه جابوني</p>

                        <ul>
                            <li> خشکبار رضا از تولید به مصرف</li>
                            <li><span class="text-danger">ارسال با پست پیشتاز </span> در سریع ترین زمان ممکن </li>
                            <li><span class="text-danger">ارسال رایگان </span> بالای 1 میلیون تومان </li>
                        </ul>
                        <p class="fs-6">
                            <span class="text-danger"> نکته : </span>
                            برای اطلاع از قیمت و سفارش محصول از طریق شبکه های اجتمایی با ما تماس حاصل فرمایید.
                        </p>
                    </div>
                </div>
            </section>
            <!-- شور -->
            <section class="main-border p-3">
                <!-- paging layer -->
                <section class="d-flex">
                    <a href="/" class="text-decoration-none text-black opacity-50 px-2">
                        <p> فروشکاه اینترنتی خشکبار رضا /</p>
                    </a>
                    <a href="#header" class="text-decoration-none text-black opacity-50 px-2">
                        <p> آجیل /</p>
                    </a>
                    <a href="/products/pistachio#product-btn-2" class="text-decoration-none text-black opacity-50 px-2">
                        <p> پسته احمد آقایی</p>
                    </a>
                </section>

                <div class="row product-profile">
                    <div class="col-12 col-md-6 col-lg-5 image-section position-relative">
                        <span> <i class="fa fa-magnifying-glass magnifying-glass-icon"></i></span>
                        <div class="img-magnifier-container mx-1 mx-lg-5">
                            <img id="4" src="/images/ahmad-aghaee-shor.png" width="400" height="300"
                                alt="Girl">
                        </div>
                        <p class="text-center"><i class="fa fa-star text-warning"></i> بسته بندی با وزن دلخواه شما و
                            ارسال به سراسر ایران <i class="fa fa-star text-warning"></i></p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-7">
                        <h1 class="product_name">
                            پسته احمد آقایی شور
                        </h1>
                        <!-- شامل -->
                        <p class="d-none"> </i><span class="text-success"><i class="fa fa-box-open p-1"></i>شامل</span> پسته احمد آقایی
                            بادام درختي ايراني بادام هندي تخمه كدوگوشتي تخمه جابوني</p>

                        <ul>
                            <li> خشکبار رضا از تولید به مصرف</li>
                            <li><span class="text-danger">ارسال با پست پیشتاز </span> در سریع ترین زمان ممکن </li>
                            <li><span class="text-danger">ارسال رایگان </span> بالای 1 میلیون تومان </li>
                        </ul>
                        <p class="fs-6">
                            <span class="text-danger"> نکته : </span>
                            برای اطلاع از قیمت و سفارش محصول از طریق شبکه های اجتمایی با ما تماس حاصل فرمایید.
                        </p>
                    </div>
                </div>
            </section>
            <section class="main-border p-3">

                <div>
                    <div class="row">
                        <button class="btn product-btn product-feature-btn border-1">
                            خصوصیات محصول
                        </button>
                    </div>
                </div>
                <div class="product-info-feature-section">
                    <div class="productFeature fs-5 ">
                        <p class="">
                            پسته یکی از محصولات مهم و محبوب در ایران و سایر مناطق جهان است. احمد اقایی نیز یکی از اصلی‌ترین انواع پسته‌های تجاری در ایران محسوب می‌شود. این نوع پسته اغلب در استان خراسان به ویژه در شهر مشهد کشت می‌شود. در ادامه، به برخی از خواص پسته احمد اقایی اشاره خواهم کرد:
                            <br>
                            1. کالری پایین: پسته یکی از میوه‌هایی با کالری پایین است که برای کسانی که به رژیم کم کالری نیاز دارند، مناسب است. هر 100 گرم پسته تقریباً 570 کیلوکالری دارد.
                            <br>
                            2. منابع پروتئین: پسته منابع خوبی از پروتئین برای بدن می‌باشد. این میوه به خصوص برای افرادی که به عنوان گیاه‌خوار زندگی می‌کنند، منبع مهمی از پروتئین است.
                            <br>
                            3. فیبر غذایی: پسته حاوی مقدار قابل توجهی فیبر غذایی است که می‌تواند به بهبود هضم و کنترل قند خون کمک کند.
                            <br>
                            4. ویتامین‌ها و مواد معدنی: پسته منابع خوبی از ویتامین‌های گروه ب (مثل ویتامین ب6)، ویتامین E، مس، منیزیم، فسفر، پتاسیم و آهن می‌باشد.
                            <br>
                            5. آنتی‌اکسیدان‌ها: پسته حاوی آنتی‌اکسیدان‌های طبیعی مانند پلی‌فنل‌ها و کاروتنوئیدهاست که می‌توانند در مقابله با آسیب‌های اکسیداتیو و پیری زودرس کمک کنند.
                            <br>
                            6. اثرات مثبت بر سلامت قلب: مصرف معتدل پسته می‌تواند به بهبود سلامت قلب کمک کرده و خطر بروز بیماری‌های قلبی عروقی را کاهش دهد.
                            <br>
                            7. کاهش خطر افزایش وزن: مصرف معتدل پسته به عنوان یک میان‌وعده سالم می‌تواند به کنترل اشتها و جلوگیری از افزایش وزن کمک کند.
                            <br>
                            8. اثرات مثبت بر سلامت مغز: مصرف پسته می‌تواند حافظه و تمرکز را افزایش دهد و در پیشگیری از بیماری‌های مغزی مانند آلزایمر مفید باشد.
                            
                        </p>
                        
                        <p class="">
                            در ادامه توضیحاتی در مورد خصوصیات و تفاوت‌های پسته احمد اقایی با سایر انواع پسته‌ها آورده شده است:
                            <br>
                            اندازه و شکل:
                            پسته احمد اقایی دارای اندازه کمی بزرگتر و شکل برجسته‌تری نسبت به برخی از پسته‌های دیگر است. این پسته‌ها معمولاً به شکل فندق یا برجسته بوده و به عنوان "پسته فندقی" نیز شناخته می‌شوند.
                            <br>
                            رنگ پوسته:
                            پسته احمد اقایی دارای پوسته‌ای با رنگ طلایی تا قهوه‌ای است که از رنگ پوسته‌های دیگری مانند پسته‌های فندقی یا انتخابی متفاوت است.
                            <br>
                            طعم و عطر:
                            این نوع پسته دارای طعم خوشمزه‌ای با عطر ملایمی است که برای خوردن آن لذت بسیاری دارد.
                            <br>
                            مزه‌های تلخ:
                            پسته احمد اقایی معمولاً مزه تلخ کمتری نسبت به برخی از پسته‌های دیگر دارد و به طور کلی خوردن آن برای بسیاری از افراد لذت‌بخش تر است.
                            <br>
                            ارزش غذایی:
                            پسته احمد اقایی همچنان دارای ارزش غذایی بالا و مقادیر زیادی از ویتامین‌ها و مواد معدنی از جمله ویتامین E، فسفر، پتاسیم، مس و آهن است. این پسته همچنین دارای مقدار قابل توجهی از پروتئین و فیبر می‌باشد.
                            <br>
                            مصرف:
                            پسته احمد اقایی معمولاً به صورت تازه یا در محصولات خشکباری مصرف می‌شود. آنها می‌توانند به عنوان یک میان‌وعده سالم و خوشمزه یا به عنوان تزئینی در دسرها و غذاهای مختلف استفاده شوند.
                                                        
                            
                        </p>
                        
                    </div>
                </div>
            </section>

        </div>
        <!-- End Product-2 -->
        <!-- Product-3 -->
        <div id="product-3">
            <!-- خام -->
            <section class="main-border p-3">
                <!-- paging layer -->
                <section class="d-flex">
                    <a href="/" class="text-decoration-none text-black opacity-50 px-2">
                        <p> فروشکاه اینترنتی خشکبار رضا /</p>
                    </a>
                    <a href="#header" class="text-decoration-none text-black opacity-50 px-2">
                        <p> آجیل /</p>
                    </a>
                    <a href="/products/pistachio#product-btn-3" class="text-decoration-none text-black opacity-50 px-2">
                        <p> پسته کله قوجی</p>
                    </a>
                </section>

                <div class="row product-profile">
                    <div class="col-12 col-md-6 col-lg-5 image-section position-relative">
                        <span> <i class="fa fa-magnifying-glass magnifying-glass-icon"></i></span>
                        <div class="img-magnifier-container mx-1 mx-lg-5">
                            <img id="5" src="/images/kale-ghochi-kham.png" width="400" height="300"
                                >
                        </div>
                        <p class="text-center"><i class="fa fa-star text-warning"></i> بسته بندی با وزن دلخواه شما و
                            ارسال به سراسر ایران <i class="fa fa-star text-warning"></i></p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-7">
                        <h1 class="product_name">
                             پسته کله قوچی خام
                        </h1>
                        <!-- شامل -->
                        <p class="d-none"> </i><span class="text-success"><i class="fa fa-box-open p-1"></i>شامل</span> پسته احمد آقایی
                            بادام درختي ايراني بادام هندي تخمه كدوگوشتي تخمه جابوني</p>

                        <ul>
                            <li> خشکبار رضا از تولید به مصرف</li>
                            <li><span class="text-danger">ارسال با پست پیشتاز </span> در سریع ترین زمان ممکن </li>
                            <li><span class="text-danger">ارسال رایگان </span> بالای 1 میلیون تومان </li>
                        </ul>
                        <p class="fs-6">
                            <span class="text-danger"> نکته : </span>
                            برای اطلاع از قیمت و سفارش محصول از طریق شبکه های اجتمایی با ما تماس حاصل فرمایید.
                        </p>
                    </div>
                </div>
            </section>
            <!-- شور -->
            <section class="main-border p-3">
                <!-- paging layer -->
                <section class="d-flex">
                    <a href="/" class="text-decoration-none text-black opacity-50 px-2">
                        <p> فروشکاه اینترنتی خشکبار رضا /</p>
                    </a>
                    <a href="#header" class="text-decoration-none text-black opacity-50 px-2">
                        <p> آجیل /</p>
                    </a>
                    <a href="/products/pistachio#product-btn-3" class="text-decoration-none text-black opacity-50 px-2">
                        <p> پسته کله قوجی</p>
                    </a>
                </section>

                <div class="row product-profile">
                    <div class="col-12 col-md-6 col-lg-5 image-section position-relative">
                        <span> <i class="fa fa-magnifying-glass magnifying-glass-icon"></i></span>
                        <div class="img-magnifier-container mx-1 mx-lg-5">
                            <img id="6" src="/images/kale-ghochi-shor.png" width="400" height="300"
                                >
                        </div>
                        <p class="text-center"><i class="fa fa-star text-warning"></i> بسته بندی با وزن دلخواه شما و
                            ارسال به سراسر ایران <i class="fa fa-star text-warning"></i></p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-7">
                        <h1 class="product_name">
                            پسته کله قوچی شور
                        </h1>
                        <!-- شامل -->
                        <p class="d-none"> </i><span class="text-success"><i class="fa fa-box-open p-1"></i>شامل</span> پسته احمد آقایی
                            بادام درختي ايراني بادام هندي تخمه كدوگوشتي تخمه جابوني</p>

                        <ul>
                            <li> خشکبار رضا از تولید به مصرف</li>
                            <li><span class="text-danger">ارسال با پست پیشتاز </span> در سریع ترین زمان ممکن </li>
                            <li><span class="text-danger">ارسال رایگان </span> بالای 1 میلیون تومان </li>
                        </ul>
                        <p class="fs-6">
                            <span class="text-danger"> نکته : </span>
                            برای اطلاع از قیمت و سفارش محصول از طریق شبکه های اجتمایی با ما تماس حاصل فرمایید.
                        </p>
                    </div>
                </div>
            </section>
            <section class="main-border p-3">

                <div>
                    <div class="row">
                        <button class="btn product-btn product-feature-btn border-1">
                            خصوصیات محصول
                        </button>
                    </div>
                </div>
                <div class="product-info-feature-section">
                    <div class="productFeature fs-5 ">
                        
                        <p>
                            پسته کله قوچی یکی از انواع پسته‌های خشک محبوب است و دارای خصوصیات خاصی است که آن را از سایر انواع پسته متمایز می‌کند. در زیر به برخی از خواص اصلی پسته کله قوچی و تفاوت‌های آن با سایر پسته‌ها اشاره می‌شود
                            <br>
                            1. اندازه و شکل:
                               - پسته کله قوچی دارای اندازه بزرگتری نسبت به بسیاری از انواع پسته‌های دیگر است. این اندازه بزرگتر به معنای بیشترین انرژی و مواد مغذی در هر پسته است.
                               <br>
                            2. پوست ضخیم:
                               - پسته کله قوچی دارای پوستی ضخیم و سفت است که ممکن است برخی افراد آن را برای خوردن آسان‌تر باز کنند یا پوست آن را بردارند. در عوض، بسیاری از پسته‌های دیگر پوست نسبتاً نازک‌تری دارند.
                               <br>
                            3. طعم غنی:
                               - پسته کله قوچی دارای یک طعم غنی و متمایز است که اغلب به عنوان یکی از لذیذترین انواع پسته شناخته می‌شود. این طعم خاص آن را برای خوردن به تنهایی یا به عنوان مکمل در تهیه مواد غذایی مختلف بسیار جذاب می‌کند.
                               <br>
                            4. ارزش غذایی:
                               - پسته کله قوچی دارای ارزش غذایی بالایی است و با فیبر، پروتئین، ویتامین‌ها (مانند ویتامین E) و مواد معدنی (مانند منیزیم و فسفر) غنی شده است. این ویژگی‌ها باعث می‌شوند که پسته کله قوچی یک میان‌وعده سالم و مغذی باشد.
                               <br>
                            5. قیمت:
                               - یکی از تفاوت‌های اصلی پسته کله قوچی با سایر پسته‌ها قیمت آن است. به دلیل اندازه بزرگ‌تر و خصوصیات برتری که دارد، پسته کله قوچی معمولاً گران‌تر از سایر انواع پسته‌ها عرضه می‌شود.
                               <br>
                            در نتیجه، پسته کله قوچی با اندازه بزرگتر، پوست ضخیم‌تر، طعم غنی‌تر، ارزش غذایی بالاتر و قیمت بیشتر، از سایر انواع پسته‌ها متمایز می‌شود و معمولاً برای مصارف خوراکی و تزئینی مورد استفاده قرار می‌گیرد.
                        </p>
                    </div>
                </div>
            </section>

        </div>
        <!-- End Product-3 -->
        <!-- Product-4 -->
        <div id="product-4">
            <!-- خام -->
            <section class="main-border p-3">
                <!-- paging layer -->
                <section class="d-flex">
                    <a href="/" class="text-decoration-none text-black opacity-50 px-2">
                        <p> فروشکاه اینترنتی خشکبار رضا /</p>
                    </a>
                    <a href="#header" class="text-decoration-none text-black opacity-50 px-2">
                        <p> آجیل /</p>
                    </a>
                    <a href="/products/pistachio#product-btn-4" class="text-decoration-none text-black opacity-50 px-2">
                        <p> پسته فندقی</p>
                    </a>
                </section>

                <div class="row product-profile">
                    <div class="col-12 col-md-6 col-lg-5 image-section position-relative">
                        <span> <i class="fa fa-magnifying-glass magnifying-glass-icon"></i></span>
                        <div class="img-magnifier-container mx-1 mx-lg-5">
                            <img id="7" src="/images/fandoghi-pistachio.png" width="300" height="400"
                                alt="Girl">
                        </div>
                        <p class="text-center"><i class="fa fa-star text-warning"></i> بسته بندی با وزن دلخواه شما و
                            ارسال به سراسر ایران <i class="fa fa-star text-warning"></i></p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-7">
                        <h1 class="product_name">
                             پسته فندوقی خام
                        </h1>
                        <!-- شامل -->
                        <p class="d-none"> </i><span class="text-success"><i class="fa fa-box-open p-1"></i>شامل</span> پسته احمد آقایی
                            بادام درختي ايراني بادام هندي تخمه كدوگوشتي تخمه جابوني</p>

                        <ul>
                            <li> خشکبار رضا از تولید به مصرف</li>
                            <li><span class="text-danger">ارسال با پست پیشتاز </span> در سریع ترین زمان ممکن </li>
                            <li><span class="text-danger">ارسال رایگان </span> بالای 1 میلیون تومان </li>
                        </ul>
                        <p class="fs-6">
                            <span class="text-danger"> نکته : </span>
                            برای اطلاع از قیمت و سفارش محصول از طریق شبکه های اجتمایی با ما تماس حاصل فرمایید.
                        </p>
                    </div>
                </div>
            </section>
            <!-- شور -->
            <section class="main-border p-3">
                <!-- paging layer -->
                <section class="d-flex">
                    <a href="/" class="text-decoration-none text-black opacity-50 px-2">
                        <p> فروشکاه اینترنتی خشکبار رضا /</p>
                    </a>
                    <a href="#header" class="text-decoration-none text-black opacity-50 px-2">
                        <p> آجیل /</p>
                    </a>
                    <a href="/products/pistachio#product-btn-4" class="text-decoration-none text-black opacity-50 px-2">
                        <p> پسته فندقی</p>
                    </a>
                </section>

                <div class="row product-profile">
                    <div class="col-12 col-md-6 col-lg-5 image-section position-relative">
                        <span> <i class="fa fa-magnifying-glass magnifying-glass-icon"></i></span>
                        <div class="img-magnifier-container mx-1 mx-lg-5">
                            <img id="10" src="/images/fandoghi-shor-pistachio.png" width="300" height="400"
                                alt="Girl">
                        </div>
                        <p class="text-center"><i class="fa fa-star text-warning"></i> بسته بندی با وزن دلخواه شما و
                            ارسال به سراسر ایران <i class="fa fa-star text-warning"></i></p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-7">
                        <h1 class="product_name">
                             پسته فندوقی شور
                        </h1>
                        <!-- شامل -->
                        <p class="d-none"> </i><span class="text-success"><i class="fa fa-box-open p-1"></i>شامل</span> پسته احمد آقایی
                            بادام درختي ايراني بادام هندي تخمه كدوگوشتي تخمه جابوني</p>

                        <ul>
                            <li> خشکبار رضا از تولید به مصرف</li>
                            <li><span class="text-danger">ارسال با پست پیشتاز </span> در سریع ترین زمان ممکن </li>
                            <li><span class="text-danger">ارسال رایگان </span> بالای 1 میلیون تومان </li>
                        </ul>
                        <p class="fs-6">
                            <span class="text-danger"> نکته : </span>
                            برای اطلاع از قیمت و سفارش محصول از طریق شبکه های اجتمایی با ما تماس حاصل فرمایید.
                        </p>
                    </div>
                </div>
            </section>
            <section class="main-border p-3">

                <div>
                    <div class="row">
                        <button class="btn product-btn product-feature-btn border-1">
                            خصوصیات محصول
                        </button>
                    </div>
                </div>
                <div class="product-info-feature-section">
                    <div class="productFeature fs-5 ">
                        <p class="">
                            پسته فندوقی (یا همان پسته اصیل یا پسته ویژه) یک نوع پسته است که از لحاظ ظاهری و ارگانولوژی با دیگر انواع پسته‌ها متفاوت است. در ادامه خواص اصلی پسته فندوقی و تفاوت‌های آن با سایر انواع پسته‌ها آورده شده‌اند:
                            <br>
                            ۱. خواص اصلی پسته فندوقی:
                            الف. اندازه و ظاهر:
                            <br>
                            پسته فندوقی دارای اندازه کمی ریز تر و شکل کوچک‌تری نسبت به سایر انواع پسته‌هاست.
                            ب. طعم و بو:
                            <br>
                            طعم پسته فندوقی معمولاً خوشمزه و مطبوع است و بوی خاصی دارد که از دیگر پسته‌ها متمایز می‌کند.
                            ج. مرطوبیت:
                            <br>
                            پسته فندوقی دارای مرطوبیت بالا و هسته‌های پر از مغز است، که این ویژگی آن را در مقایسه با پسته‌های خشک‌تر متمایز می‌کند.
                            د. پوسته:
                            <br>
                            پوسته پسته فندوقی به رنگ کمی تیره‌تری نسبت به سایر انواع پسته‌هاست.
                            <br>
                            د. قیمت:

به دلیل خصوصیات خاص، پسته فندوقی معمولاً ارزانتر از دیگر انواع پسته‌ها است.   
                            
                        </p>
                    </div>
                </div>
            </section>

        </div>
        <!-- End Product-4 -->
        <!-- Product-5 -->
        <div id="product-5">
            <section class="main-border p-3">
                <!-- paging layer -->
                <section class="d-flex">
                    <a href="/" class="text-decoration-none text-black opacity-50 px-2">
                        <p> فروشکاه اینترنتی خشکبار رضا /</p>
                    </a>
                    <a href="#header" class="text-decoration-none text-black opacity-50 px-2">
                        <p> آجیل /</p>
                    </a>
                    <a href="/products/pistachio#product-btn-5" class="text-decoration-none text-black opacity-50 px-2">
                        <p> مغز پسته </p>
                    </a>
                </section>

                <div class="row product-profile">
                    <div class="col-12 col-md-6 col-lg-5 image-section position-relative">
                        <span> <i class="fa fa-magnifying-glass magnifying-glass-icon"></i></span>
                        <div class="img-magnifier-container mx-1 mx-lg-5">
                            <img id="8" src="/images/pistachio-seeds.png" width="400" height="300"
                                alt="Girl">
                        </div>
                        <p class="text-center"><i class="fa fa-star text-warning"></i> بسته بندی با وزن دلخواه شما و
                            ارسال به سراسر ایران <i class="fa fa-star text-warning"></i></p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-7">
                        <p class="product_name">
                            مغز پسته
                        </p>
                        <!-- شامل -->
                        <p class="d-none"> </i><span class="text-success"><i class="fa fa-box-open p-1"></i>شامل</span> پسته احمد آقایی
                            بادام درختي ايراني بادام هندي تخمه كدوگوشتي تخمه جابوني</p>

                        <ul>
                            <li> خشکبار رضا از تولید به مصرف</li>
                            <li><span class="text-danger">ارسال با پست پیشتاز </span> در سریع ترین زمان ممکن </li>
                            <li><span class="text-danger">ارسال رایگان </span> بالای 1 میلیون تومان </li>
                        </ul>
                        <p class="fs-6">
                            <span class="text-danger"> نکته : </span>
                            برای اطلاع از قیمت و سفارش محصول از طریق شبکه های اجتمایی با ما تماس حاصل فرمایید.
                        </p>
                    </div>
                </div>
            </section>

        </div>
        <!-- End Product-5 -->
        <!-- Product-6 -->
        <div id="product-6">
            <section class="main-border p-3">
                <!-- paging layer -->
                <section class="d-flex">
                    <a href="/" class="text-decoration-none text-black opacity-50 px-2">
                        <p> فروشکاه اینترنتی خشکبار رضا /</p>
                    </a>
                    <a href="#header" class="text-decoration-none text-black opacity-50 px-2">
                        <p> آجیل /</p>
                    </a>
                    <a href="/products/pistachio#product-btn-6" class="text-decoration-none text-black opacity-50 px-2">
                        <p> خلال پسته </p>
                    </a>
                </section>

                <div class="row product-profile">
                    <div class="col-12 col-md-6 col-lg-5 image-section position-relative">
                        <span> <i class="fa fa-magnifying-glass magnifying-glass-icon"></i></span>
                        <div class="img-magnifier-container mx-1 mx-lg-5">
                            <img id="9" src="/images/sliced-pistachio.png" width="400" height="300"
                                alt="Girl">
                        </div>
                        <p class="text-center"><i class="fa fa-star text-warning"></i> بسته بندی با وزن دلخواه شما و
                            ارسال به سراسر ایران <i class="fa fa-star text-warning"></i></p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-7">
                        <h1 class="product_name">
                            خلال پسته
                        </h1>
                        <!-- شامل -->
                        <p class="d-none"> </i><span class="text-success"><i class="fa fa-box-open p-1"></i>شامل</span> پسته احمد آقایی
                            بادام درختي ايراني بادام هندي تخمه كدوگوشتي تخمه جابوني</p>

                        <ul>
                            <li> خشکبار رضا از تولید به مصرف</li>
                            <li><span class="text-danger">ارسال با پست پیشتاز </span> در سریع ترین زمان ممکن </li>
                            <li><span class="text-danger">ارسال رایگان </span> بالای 1 میلیون تومان </li>
                        </ul>
                        <p class="fs-6">
                            <span class="text-danger"> نکته : </span>
                            برای اطلاع از قیمت و سفارش محصول از طریق شبکه های اجتمایی با ما تماس حاصل فرمایید.
                        </p>
                    </div>
                </div>
            </section>
        </div>
        <!-- End Product-5 -->


        <div id="mainSectionLogo">
            <img class="sectionLogo" src="/images/reza-nut-logo.png" alt="">
        </div>


    </main>
    <!-- End Main -->

    <%- include("./includes/footer.ejs") %>
    
</body>

</html>