<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>خشکبار رضا</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/fontawesome/css/all.css">
    <link rel="stylesheet" href="/css/animate.min.css">
    <link rel="stylesheet" href="/css/grid.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/media-queries.css">
    <link rel="stylesheet" href="/css/aos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
</head>

<body id="body">
    
    <%- include("./includes/fixedButton.ejs") %>

    <!-- Header -->
    <section class="rasins-page-hero">
        <div class="navbar-space">
            <!-- search box DESPLAY-NONE-->
            <div class="search-box position-relative d-none">;
                <div>
                    <input type="text" class="form-control search-box-input position-absolute" placeholder="... جستجو">
                </div>
            </div>
            <nav class="navbar navbar-expand-lg d-flex justify-content-end ">
                <div>
                    <!-- shopping card and login & sign up DESPLAY-NONE  -->
                    <div class="shopingCard d-flex mt-5 d-none">
                        <a href="" class="text-black my-auto">
                            <i class='fa fa-shopping-cart blue-color fs-5'>
                            </i>
                            <span
                                class="position-absolute top-30 start-10 translate-middle badge shopping-cart-badge rounded-pill bg-danger">
                                4
                            </span>
                        </a>

                        <div class="divider-line mx-4"></div>
                        <!-- login & Register -->
                        <a href="" class="d-flex text-decoration-none text-black login-link">
                            <p> ورود </p>
                            <div class="divider-line"></div>
                            <p> ثبت نام</p>
                            <i class='fa fa-sign-in fs-5 ms-2'></i>
                        </a>
                        <!-- End login & Register -->
                        <!-- user circle icon -->
                        <span class="userProfile  d-none">
                            <span>
                                <i class="fas fa-user-circle text-black fs-4"></i>
                            </span>

                            <div class="body" dir="rtl">
                                <ul class="user-Profile-link">
                                    <li><a href="" class="user-dropdown-menu"><i
                                                class="fas fa-sign icon ms-3 "></i>پروفایل
                                        </a>
                                    </li>
                                    <li><a href="" class="user-dropdown-menu"><i class="fas fa-bar-chart ms-3 icon"></i>
                                            آمار
                                        </a>
                                    </li>
                                    <li><a href="" class="user-dropdown-menu"><i class="fas fa-boxes ms-3 icon"></i>
                                            ویجت ها</a></li>
                                    <li><a href="" class="user-dropdown-menu"><i
                                                class="fas fa-table ms-3 icon"></i>جداول
                                        </a>
                                    </li>
                                    <li><a href="" class="user-dropdown-menu"><i class="fa fa-cogs ms-3 icon"></i>
                                            تنظیمات
                                        </a>
                                    </li>
                                    <li><a href="" class="user-dropdown-menu"><i class="fas fa-sign-out  ms-3 icon"></i>
                                            خروج
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </span>
                        <!-- End user circle icon -->
                    </div>
                    <!-- logo -->
                    <div class="hero-logo d-none d-lg-block">
                        <a href="/">
                            <img src="/images/reza-nut-logo.png" style="width:100px; height: 100px;" alt="">
                        </a>
                    </div>
                </div>
               <!-- Header -->
               <%- include("./includes/header.ejs") %>
               <!-- End Header -->
            </nav>
        </div>
    </section>
    <!-- End Header -->

    <!-- Main -->
    <main dir="rtl" class="height-100 h-auto">
        <div class="d-flex justify-content-center w-75 mx-auto ">
            <button id="product-btn-1" class="custom-btn btn-5"><span> کشمش سبز  </span></button>
            <button id="product-btn-2" class="custom-btn btn-5"><span> مویز </span></button>
        </div>

        
        <!-- Product-1 -->
        <div id="product-1">
            <!-- کشمش -->
            <section class="main-border p-3">
                <!-- paging layer -->
                <section class="d-flex">
                    <a href="/" class="text-decoration-none text-black opacity-50 px-2">
                        <p> فروشکاه اینترنتی خشکبار رضا /</p>
                    </a>
                    <a href="#header" class="text-decoration-none text-black opacity-50 px-2">
                        <p> خشکبار /</p>
                    </a>
                    <a href="/products/raissins#product-btn-1" class="text-decoration-none text-black opacity-50 px-2">
                        <p>کشمش </p>
                    </a>
                </section>

                <div class="row product-profile">
                    <div class="col-12 col-md-6 col-lg-5 image-section position-relative">
                        <span> <i class="fa fa-magnifying-glass magnifying-glass-icon"></i></span>
                        <div class="img-magnifier-container mx-1 mx-lg-5">
                            <img id="1" src="/images/keshmesh-sabs.png" width="400" height="300"
                                alt="Girl">
                        </div>
                        <p class="text-center"><i class="fa fa-star text-warning"></i> بسته بندی با وزن دلخواه شما و
                            ارسال به سراسر ایران <i class="fa fa-star text-warning"></i></p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-7">
                        <h1 class="product_name">
                         کشمش سبز
                        </h1>
                        <!-- شامل -->
                        <p class="d-none"> </i><span class="text-success"><i class="fa fa-box-open p-1"></i>شامل</span> پسته احمد آقایی خام
                           مغز فندوق خام مغز بادام درختي خام بادام هندي خام </p>

                        <ul>
                            <li> خشکبار رضا از تولید به مصرف</li>
                            <li><span class="text-danger">ارسال با پست پیشتاز </span> در سریع ترین زمان ممکن </li>
                            <li><span class="text-danger">ارسال رایگان </span> بالای 1 میلیون تومان </li>
                        </ul>
                        <p class="fs-6">
                            <span class="text-danger"> نکته : </span>
                            برای اطلاع از قیمت و سفارش محصول از طریق شبکه های اجتمایی با ما تماس حاصل فرمایید.
                        </p>
                    </div>
                </div>
            </section>
            
            <section class="main-border p-3">

                <div>
                    <div class="row">
                        <button class="btn product-btn product-feature-btn border-1">
                            خصوصیات محصول
                        </button>
                    </div>
                </div>
                <div class="product-info-feature-section">
                    <div class="productFeature fs-5 ">
                        <p>
                            کشمش سبز یک نوع میوه خشک شده است که از انگور سبز تهیه می‌شود و دارای مزایای بهداشتی و تغذیه‌ای متعددی است. در زیر، برخی از خواص اصلی کشمش سبز را می‌توانید بیابید:
<br>
1. غنی از آنتی‌اکسیدان‌ها: کشمش سبز حاوی آنتی‌اکسیدان‌های قوی مانند رزوراترول و کوئرسیتین است که می‌توانند در مقابله با آسیب‌های اکسیداتیو و پیری زودرس پوست و سلامتی عمومی مفید باشند.
<br>

2. حفاظت از قلب: مصرف کشمش سبز می‌تواند به بهبود سلامت قلب و عروق کمک کند. آنتی‌اکسیدان‌ها و فیبر موجود در آن می‌توانند فشار خون را کاهش دهند و از ریسک بروز بیماری‌های قلبی و عروقی جلوگیری کنند.
<br>

3. کاهش التهابات: مصرف کشمش سبز ممکن است به کاهش التهابات مزمن در بدن کمک کند. این اثر به واسطه آنتی‌اکسیدان‌ها و ترکیبات ضد التهابی موجود در کشمش‌ها ایجاد می‌شود.
<br>

4. افزایش انرژی: کشمش‌ها حاوی قندهای ساده مانند گلوکز و فروکتوز هستند که به عنوان منابع انرژی سریع برای بدن عمل می‌کنند. بنابراین، مصرف آنها می‌تواند انرژی فوری به بدن ارائه دهد.
<br>

5. حفظ سلامت چشم: کشمش سبز حاوی کمیتی از ویتامین A و کاروتنوئیدها است که می‌توانند سلامت چشم را بهبود ببخشند و از بروز بیماری‌های چشمی جلوگیری کنند.
<br>

6. افزایش سیستم ایمنی: مصرف مکرر کشمش سبز می‌تواند به تقویت سیستم ایمنی بدن کمک کند. این میوه حاوی ویتامین C و آهن است که برای سلامتی سیستم ایمنی بسیار مهم هستند.
<br>

به عنوان یک مکمل خوشمزه و مغذی، کشمش سبز را می‌توان به صورت تازه یا به عنوان بخشی از تغذیه روزانه مصرف کرد. با این حال، توجه داشته باشید که به دلیل محتوای بالای قندها، مصرف زیاد آن ممکن است برای افرادی که مشکلات مرتبط با گلوکز خون دارند مناسب نباشد و بهتر است با متخصص تغذیه مشورت کنند.
                        </p>
                    </div>
                </div>
            </section>

        </div>
        <!-- End Product-1 -->
        <!-- Product-2 -->
        <div id="product-2">
            <!-- مویز -->
            <section class="main-border p-3">
                <!-- paging layer -->
                <section class="d-flex">
                    <a href="/" class="text-decoration-none text-black opacity-50 px-2">
                        <p> فروشکاه اینترنتی خشکبار رضا /</p>
                    </a>
                    <a href="#header" class="text-decoration-none text-black opacity-50 px-2">
                        <p> خشکبار /</p>
                    </a>
                    <a href="/products/raissins#product-btn-2" class="text-decoration-none text-black opacity-50 px-2">
                        <p>مویز  </p>
                    </a>
                </section>

                <div class="row product-profile">
                    <div class="col-12 col-md-6 col-lg-5 image-section position-relative">
                        <span> <i class="fa fa-magnifying-glass magnifying-glass-icon"></i></span>
                        <div class="img-magnifier-container mx-1 mx-lg-5">
                            <img id="2" src="/images/maviz-khareji.png" width="400" height="300"
                                alt="Girl">
                        </div>
                        <p class="text-center"><i class="fa fa-star text-warning"></i> بسته بندی با وزن دلخواه شما و
                            ارسال به سراسر ایران <i class="fa fa-star text-warning"></i></p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-7">
                        <p class="product_name">
                           مویز درجه یک بدون هسته
                        </p>
                        <!-- شامل -->
                        <p class="d-none"> </i><span class="text-success"><i class="fa fa-box-open p-1"></i>شامل</span> پسته احمد آقایی
                            بادام درختي ايراني بادام هندي تخمه كدوگوشتي تخمه جابوني</p>

                        <ul>
                            <li> خشکبار رضا از تولید به مصرف</li>
                            <li><span class="text-danger">ارسال با پست پیشتاز </span> در سریع ترین زمان ممکن </li>
                            <li><span class="text-danger">ارسال رایگان </span> بالای 1 میلیون تومان </li>
                        </ul>
                        <p class="fs-6">
                            <span class="text-danger"> نکته : </span>
                            برای اطلاع از قیمت و سفارش محصول از طریق شبکه های اجتمایی با ما تماس حاصل فرمایید.
                        </p>
                    </div>
                </div>
            </section>
            
            <section class="main-border p-3">

                <div>
                    <div class="row">
                        <button class="btn product-btn product-feature-btn border-1">
                            خصوصیات محصول
                        </button>
                    </div>
                </div>
                <div class="product-info-feature-section">
                    <div class="productFeature fs-5 ">
                        
                        <p>
                            مویز، یک نوع میوه خشک شده است که از انواع مختلف انگور تهیه می‌شود. این محصول خشک به دلیل خواص تغذیه‌ای و سلامتی خود بسیار مورد توجه قرار گرفته است. در زیر، برخی از خواص اصلی مویز آورده شده است:
                            <br>
                            1. پر از آنتی‌اکسیدان‌ها: مویز حاوی مقادیر زیادی آنتی‌اکسیدان‌ها مانند رزورسینول است. این ترکیبات می‌توانند در مقابله با آسیب‌های اکسیداتیو در بدن کمک کنند و به سلامتی عمومی شما کمک نمایند.
                            <br>
                            
                            2. سرشار از ویتامین‌ها و مواد معدنی: مویز حاوی ویتامین‌هایی مانند ویتامین C و ویتامین K و مواد معدنی مانند پتاسیم، آهن و منگنز است. این مواد مغذی می‌توانند به تقویت سیستم ایمنی، حفظ سلامت استخوان‌ها و متابولیسم مناسب کمک کنند.
                            <br>
                            
                            3. پشتیبانی از سلامت قلب: مصرف مویز می‌تواند به کاهش فشار خون، کاهش خطر بیماری‌های قلبی عروقی و بهبود نسبت کلسترول خون کمک کند.
                            <br>
                            
                            4. تقویت چشم: ویتامین A و آنتی‌اکسیدان‌های موجود در مویز می‌توانند به سلامت چشم‌ها کمک کنند و از بیماری‌های چشمی جلوگیری نمایند.
                            <br>
                            
                            5. پشتیبانی از سلامت معده: مویز حاوی فیبرهای غذایی است که می‌توانند عملکرد معده را بهبود بخشند و مشکلات گوارشی را کاهش دهند.
                            <br>
                            
                            6. منبع انرژی: مویز به عنوان یک منبع انرژی طبیعی عمل می‌کند و می‌تواند در افزایش سطح انرژی و تقویت استقامت بدن کمک کند.
                            <br>
                            
                            توجه داشته باشید که مصرف مویز باید به میزان معقولی انجام شود و افراد با بیماری‌های مزمن مانند دیابت باید مقدار مصرف خود را مدیریت کنند. همچنین، ممکن است برخی افراد حساسیت یا آلرژی به کشمش داشته باشند. در صورت داشتن سوالات یا مشکلات در مورد مصرف مویز، بهتر است با یک متخصص تغذیه یا پزشک مشورت کنید.
                        </p>
                    </div>
                </div>
            </section>

        </div>
        <!-- End Product-2 -->

        <div id="mainSectionLogo">
            <img class="sectionLogo" src="/images/reza-nut-logo.png" alt="">
        </div>


    </main>
    <!-- End Main -->

    <%- include("./includes/footer.ejs") %>
    
</body>

</html>