<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>خشکبار رضا</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/fontawesome/css/all.css">
    <link rel="stylesheet" href="/css/animate.min.css">
    <link rel="stylesheet" href="/css/grid.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/media-queries.css">
    <link rel="stylesheet" href="/css/aos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
</head>

<body id="body">
  
    <%- include("./includes/fixedButton.ejs") %>

    <!-- Header -->
    <section class="saffaron-page-hero">
        <div class="navbar-space">
            <!-- search box DESPLAY-NONE-->
            <div class="search-box position-relative d-none">;
                <div>
                    <input type="text" class="form-control search-box-input position-absolute" placeholder="... جستجو">
                </div>
            </div>
            <nav class="navbar navbar-expand-lg d-flex justify-content-end ">
                <div>
                    <!-- shopping card and login & sign up DESPLAY-NONE  -->
                    <div class="shopingCard d-flex mt-5 d-none">
                        <a href="" class="text-black my-auto">
                            <i class='fa fa-shopping-cart blue-color fs-5'>
                            </i>
                            <span
                                class="position-absolute top-30 start-10 translate-middle badge shopping-cart-badge rounded-pill bg-danger">
                                4
                            </span>
                        </a>

                        <div class="divider-line mx-4"></div>
                        <!-- login & Register -->
                        <a href="" class="d-flex text-decoration-none text-black login-link">
                            <p> ورود </p>
                            <div class="divider-line"></div>
                            <p> ثبت نام</p>
                            <i class='fa fa-sign-in fs-5 ms-2'></i>
                        </a>
                        <!-- End login & Register -->
                        <!-- user circle icon -->
                        <span class="userProfile  d-none">
                            <span>
                                <i class="fas fa-user-circle text-black fs-4"></i>
                            </span>

                            <div class="body" dir="rtl">
                                <ul class="user-Profile-link">
                                    <li><a href="" class="user-dropdown-menu"><i
                                                class="fas fa-sign icon ms-3 "></i>پروفایل
                                        </a>
                                    </li>
                                    <li><a href="" class="user-dropdown-menu"><i class="fas fa-bar-chart ms-3 icon"></i>
                                            آمار
                                        </a>
                                    </li>
                                    <li><a href="" class="user-dropdown-menu"><i class="fas fa-boxes ms-3 icon"></i>
                                            ویجت ها</a></li>
                                    <li><a href="" class="user-dropdown-menu"><i
                                                class="fas fa-table ms-3 icon"></i>جداول
                                        </a>
                                    </li>
                                    <li><a href="" class="user-dropdown-menu"><i class="fa fa-cogs ms-3 icon"></i>
                                            تنظیمات
                                        </a>
                                    </li>
                                    <li><a href="" class="user-dropdown-menu"><i class="fas fa-sign-out  ms-3 icon"></i>
                                            خروج
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </span>
                        <!-- End user circle icon -->
                    </div>
                    <!-- logo -->
                    <div class="hero-logo d-none d-lg-block">
                        <a href="/">
                            <img src="/images/reza-nut-logo.png" style="width:100px; height: 100px;" alt="">
                        </a>
                    </div>
                </div>
                <!-- Header -->
                <%- include("./includes/header.ejs") %>
                <!-- End Header -->
            </nav>
        </div>
    </section>
    <!-- End Header -->

    <!-- Main -->
    <main dir="rtl" class="height-100 h-auto">
       
        <!-- Product-1 -->
        <div id="saffron">
            <!-- زعفران -->
            <section class="main-border p-3">
                <!-- paging layer -->
                <section class="d-flex">
                    <a href="/" class="text-decoration-none text-black opacity-50 px-2">
                        <p> فروشکاه اینترنتی خشکبار رضا /</p>
                    </a>
                    <a href="/products/saffaron" class="text-decoration-none text-black opacity-50 px-2">
                        <p>زعفران</p>
                    </a>
                </section>

                <div class="row product-profile">
                    <div class="col-12 col-md-6 col-lg-5 image-section position-relative">
                        <span> <i class="fa fa-magnifying-glass magnifying-glass-icon"></i></span>
                        <div class="img-magnifier-container mx-1 mx-lg-5">
                            <img id="1" src="/images/saffaron.png" width="400" height="300"
                                alt="Girl">
                        </div>
                        <p class="text-center"><i class="fa fa-star text-warning"></i> بسته بندی با وزن دلخواه شما و
                            ارسال به سراسر ایران <i class="fa fa-star text-warning"></i></p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-7">
                        <p class="product_name">
                            زعفران درجه یک
                        </p>
                        <!-- شامل -->
                        <p class="d-none"> </i><span class="text-success"><i class="fa fa-box-open p-1"></i>شامل</span> بادام هندی در سایز های 240(درشت تر) و سایز 320</p>

                        <ul>
                            <li> خشکبار رضا از تولید به مصرف</li>
                            <li><span class="text-danger">ارسال با پست پیشتاز </span> در سریع ترین زمان ممکن </li>
                            <li><span class="text-danger">ارسال رایگان </span> بالای 1 میلیون تومان </li>
                        </ul>
                        <p class="fs-6">
                            <span class="text-danger"> نکته : </span>
                            برای اطلاع از قیمت و سفارش محصول از طریق شبکه های اجتمایی با ما تماس حاصل فرمایید.
                        </p>
                    </div>
                </div>
            </section>
            <section class="main-border p-3">

                <div>
                    <div class="row">
                        <button class="btn product-btn product-feature-btn border-1">
                            خصوصیات محصول
                        </button>
                    </div>
                </div>
                <div class="product-info-feature-section">
                    <div class="productFeature fs-5 ">
                        <p>
                            زعفران یک اسپایس گران‌قیمت و معروف است که از گل زعفران به دست می‌آید. گل‌های زعفران دارای سه سیخه سرخ رنگ به نام "پیله" هستند که برداشت می‌شوند. پس از برداشت، پیله‌ها خشک شده و به عنوان زعفران استفاده می‌شوند.

                            زعفران به عنوان یک ادویه در آشپزی به ویژه در غذاهای ایرانی مورد استفاده قرار می‌گیرد. آن را به عنوان یک رنگدهی طبیعی و همچنین برای افزایش طعم و عطر غذاها استفاده می‌کنند.
                        </p>
                        <p> در ادامه به برخی از خواص و کاربردهای زعفران اشاره خواهم کرد:
                            <br>
                            1. طعم و عطر: زعفران به عنوان یکی از گران‌ترین ادویه‌ها در جهان به خاطر طعم و عطر بسیار خوبش شناخته می‌شود. این ادویه معمولاً برای افزودن طعم و رنگ به غذاها استفاده می‌شود.
                            <br>
                            2. تاثیرات ضد التهابی: زعفران حاوی مواد مختلفی مانند کروسین که می‌تواند خواص ضد التهابی داشته باشد و در درمان برخی از بیماری‌های التهابی مفید باشد.
                            <br>
                            3. تاثیرات ضد اکسیدانی: مواد موجود در زعفران می‌توانند در مقابله با آسیب‌های اکسیداتیو و پیشگیری از آسیب به سلول‌های بدن کمک کنند.
                            <br>
                            4. تاثیرات ضد افسردگی: تحقیقات نشان داده است که مصرف مقادیر معقولی از زعفران ممکن است در کاهش علائم افسردگی و اضطراب مفید باشد.
                            <br>
                            5. کاربردهای درمانی: زعفران به عنوان درمانی سنتی در برخی از موارد مانند درد قاعدگی، اختلالات گوارشی و مشکلات خواب مورد استفاده قرار می‌گیرد.
                            <br>
                            6. کمک به کاهش وزن: برخی تحقیقات نشان داده است که زعفران ممکن است به کاهش اشتها و وزن بدهد.
                            <br>
                            7. مفید برای سلامت قلب: زعفران می‌تواند به کاهش فشار خون و کلسترول خون کمک کند و در حفظ سلامت قلب مفید باشد.
                            <br>
                            8. ماسک صورت: در آرایش و مراقبت از پوست، مخصوصاً در ماسک‌های صورت، زعفران به عنوان یک ماده طبیعی برای روشن‌کننده پوست مورد استفاده قرار می‌گیرد.
                            <br>
                            به هر حال، در مصرف زعفران باید دقت کرد و از مقادیر معقول استفاده کرد، زیرا در موارد بالایی ممکن است عوارض جانبی به وجود آید.</p>
                    </div>
                </div>
            </section>

        </div>
        <!-- End Product-1 -->
       
    </main>
    <!-- End Main -->

    <%- include("./includes/footer.ejs") %>
    
</body>

</html>