<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>خشکبار رضا</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/fontawesome/css/all.css">
    <link rel="stylesheet" href="/css/animate.min.css">
    <link rel="stylesheet" href="/css/grid.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/media-queries.css">
    <link rel="stylesheet" href="/css/aos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
</head>

<body id="body">
  
    <%- include("./includes/fixedButton.ejs") %>

    <!-- Hero -->
    <section class="seeds-page-hero">
        <div class="navbar-space">
            <!-- search box DESPLAY-NONE-->
            <div class="search-box position-relative d-none">;
                <div>
                    <input type="text" class="form-control search-box-input position-absolute" placeholder="... جستجو">
                </div>
            </div>
            <nav class="navbar navbar-expand-lg d-flex justify-content-end ">
                <div>
                    <!-- shopping card and login & sign up DESPLAY-NONE  -->
                    <div class="shopingCard d-flex mt-5 d-none">
                        <a href="" class="text-black my-auto">
                            <i class='fa fa-shopping-cart blue-color fs-5'>
                            </i>
                            <span
                                class="position-absolute top-30 start-10 translate-middle badge shopping-cart-badge rounded-pill bg-danger">
                                4
                            </span>
                        </a>

                        <div class="divider-line mx-4"></div>
                        <!-- login & Register -->
                        <a href="" class="d-flex text-decoration-none text-black login-link">
                            <p> ورود </p>
                            <div class="divider-line"></div>
                            <p> ثبت نام</p>
                            <i class='fa fa-sign-in fs-5 ms-2'></i>
                        </a>
                        <!-- End login & Register -->
                        <!-- user circle icon -->
                        <span class="userProfile  d-none">
                            <span>
                                <i class="fas fa-user-circle text-black fs-4"></i>
                            </span>

                            <div class="body" dir="rtl">
                                <ul class="user-Profile-link">
                                    <li><a href="" class="user-dropdown-menu"><i
                                                class="fas fa-sign icon ms-3 "></i>پروفایل
                                        </a>
                                    </li>
                                    <li><a href="" class="user-dropdown-menu"><i class="fas fa-bar-chart ms-3 icon"></i>
                                            آمار
                                        </a>
                                    </li>
                                    <li><a href="" class="user-dropdown-menu"><i class="fas fa-boxes ms-3 icon"></i>
                                            ویجت ها</a></li>
                                    <li><a href="" class="user-dropdown-menu"><i
                                                class="fas fa-table ms-3 icon"></i>جداول
                                        </a>
                                    </li>
                                    <li><a href="" class="user-dropdown-menu"><i class="fa fa-cogs ms-3 icon"></i>
                                            تنظیمات
                                        </a>
                                    </li>
                                    <li><a href="" class="user-dropdown-menu"><i class="fas fa-sign-out  ms-3 icon"></i>
                                            خروج
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </span>
                        <!-- End user circle icon -->
                    </div>
                    <!-- logo -->
                    <div class="hero-logo d-none d-lg-block">
                        <a href="/">
                            <img src="/images/reza-nut-logo.png" style="width:100px; height: 100px;" alt="">
                        </a>
                    </div>
                </div>
              <!-- Header -->
              <%- include("./includes/header.ejs") %>
              <!-- End Header -->
            </nav>
        </div>
    </section>
    <!-- End Hero -->

    <!-- Main -->
    <main dir="rtl" class="height-100 h-auto">
        <div class="d-flex justify-content-center w-75 mx-auto ">
            <button id="product-btn-1" class="custom-btn btn-5"><span>تخمه آفتاب گردان </span></button>
            <button id="product-btn-2" class="custom-btn btn-5"><span> تخمه جابنی </span></button>
            <button id="product-btn-3" class="custom-btn btn-5"><span> تخمه هندوانه </span></button>
            <button id="product-btn-4" class="custom-btn btn-5"><span> تخمه کدو</span></button>
            <button id="product-btn-5" class="custom-btn btn-5"><span>مغز تخمه  </span></button>
        </div>

        
        <!-- Product-1 -->
        <div id="product-1">
            <!-- خام -->
            <section class="main-border p-3">
                <!-- paging layer -->
                <section class="d-flex">
                    <a href="/" class="text-decoration-none text-black opacity-50 px-2">
                        <p> فروشکاه اینترنتی خشکبار رضا /</p>
                    </a>
                    <a href="#header" class="text-decoration-none text-black opacity-50 px-2">
                        <p> آجیل /</p>
                    </a>
                    <a href="/products/seeds#product-btn-1" class="text-decoration-none text-black opacity-50 px-2">
                        <p> تخمه آفتاب گردان </p>
                    </a>
                </section>

                <div class="row product-profile">
                    <div class="col-12 col-md-6 col-lg-5 image-section position-relative">
                        <span> <i class="fa fa-magnifying-glass magnifying-glass-icon"></i></span>
                        <div class="img-magnifier-container mx-1 mx-lg-5">
                            <img id="1" src="/images/tohkme-aftabgardan-dor-sefid.png" width="400" height="300"
                                alt="Girl">
                        </div>
                        <p class="text-center"><i class="fa fa-star text-warning"></i> بسته بندی با وزن دلخواه شما و
                            ارسال به سراسر ایران <i class="fa fa-star text-warning"></i></p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-7">
                        <h1 class="product_name">
                           تخمه آفتاب گردان دور سفید
                        </h1>
                        <!-- شامل -->
                        <p class="d-none"> </i><span class="text-success"><i class="fa fa-box-open p-1"></i>شامل</span> پسته احمد آقایی
                            بادام درختي ايراني بادام هندي تخمه كدوگوشتي تخمه جابوني</p>

                        <ul>
                            <li> خشکبار رضا از تولید به مصرف</li>
                            <li><span class="text-danger">ارسال با پست پیشتاز </span> در سریع ترین زمان ممکن </li>
                            <li><span class="text-danger">ارسال رایگان </span> بالای 1 میلیون تومان </li>
                        </ul>
                        <p class="fs-6">
                            <span class="text-danger"> نکته : </span>
                            برای اطلاع از قیمت و سفارش محصول از طریق شبکه های اجتمایی با ما تماس حاصل فرمایید.
                        </p>
                    </div>
                </div>
            </section>
            <!-- شور -->
            <section class="main-border p-3">
                <!-- paging layer -->
                <section class="d-flex">
                    <a href="/" class="text-decoration-none text-black opacity-50 px-2">
                        <p> فروشکاه اینترنتی خشکبار رضا /</p>
                    </a>
                    <a href="#header" class="text-decoration-none text-black opacity-50 px-2">
                        <p> آجیل /</p>
                    </a>
                    <a href="/products/seeds#product-btn-1" class="text-decoration-none text-black opacity-50 px-2">
                        <p> تخمه آفتاب گردان </p>
                    </a>
                </section>

                <div class="row product-profile">
                    <div class="col-12 col-md-6 col-lg-5 image-section position-relative">
                        <span> <i class="fa fa-magnifying-glass magnifying-glass-icon"></i></span>
                        <div class="img-magnifier-container mx-1 mx-lg-5">
                            <img id="2" src="/images/tokhme-siah.png" width="400" height="300"
                                alt="Girl">
                        </div>
                        <p class="text-center"><i class="fa fa-star text-warning"></i> بسته بندی با وزن دلخواه شما و
                            ارسال به سراسر ایران <i class="fa fa-star text-warning"></i></p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-7">
                        <h1 class="product_name">
                            تخمه آفتاب گردان
                        </h1>
                        <!-- شامل -->
                        <p class="d-none"> </i><span class="text-success"><i class="fa fa-box-open p-1"></i>شامل</span> پسته احمد آقایی
                            بادام درختي ايراني بادام هندي تخمه كدوگوشتي تخمه جابوني</p>

                        <ul>
                            <li> خشکبار رضا از تولید به مصرف</li>
                            <li><span class="text-danger">ارسال با پست پیشتاز </span> در سریع ترین زمان ممکن </li>
                            <li><span class="text-danger">ارسال رایگان </span> بالای 1 میلیون تومان </li>
                        </ul>
                        <p class="fs-6">
                            <span class="text-danger"> نکته : </span>
                            برای اطلاع از قیمت و سفارش محصول از طریق شبکه های اجتمایی با ما تماس حاصل فرمایید.
                        </p>
                    </div>
                </div>
            </section>
            <section class="main-border p-3">

                <div>
                    <div class="row">
                        <button class="btn product-btn product-feature-btn border-1">
                            خصوصیات محصول
                        </button>
                    </div>
                </div>
                <div class="product-info-feature-section">
                    <div class="productFeature fs-5 ">
                        <p>
                            تخمه‌های آفتاب‌گردان (Sunflower Seeds) منابع غنی از مواد مغذی مختلف هستند و دارای خواص بسیاری برای سلامتی انسان هستند. در زیر به برخی از خواص اصلی تخمه‌های آفتاب‌گردان اشاره شده است:
                            <br>
                            1. منبع غنی پروتئین: تخمه‌های آفتاب‌گردان حاوی مقدار زیادی پروتئین هستند که برای رشد و نگهداری بافت‌های بدن اساسی هستند.
                            <br>
                            
                            2. منابع چربی‌های سالم: تخمه‌های آفتاب‌گردان دارای چربی‌های نیمه‌گرم درمیانی هستند که مفید برای سلامتی قلبی و عروقی هستند. این چربی‌ها از نوع ناساتوراته هستند و به عنوان اسیدهای چرب اصولی برای بدن محسوب می‌شوند.
                            <br>
                            
                            3. منبع اسیدفولیک: تخمه‌های آفتاب‌گردان حاوی اسیدفولیک (ویتامین B9) هستند که برای سلامتی سیستم عصبی و تولید سلول‌های خونی مهم است.
                            <br>
                            
                            4. منبع معدنی: تخمه‌های آفتاب‌گردان دارای مقادیر قابل توجهی از مواد معدنی مانند منیزیم، سلنیم، روی و مس هستند که برای حفظ سلامت استخوان‌ها و عملکرد بهتر سیستم ایمنی مفید هستند.
                            <br>
                            
                            5. آنتی‌اکسیدان‌ها: تخمه‌های آفتاب‌گردان حاوی آنتی‌اکسیدان‌های مختلفی مانند ویتامین E، سلنیوم و فلاونوئیدها هستند که می‌توانند در مقابله با آسیب‌های اکسیداتیو و پیشگیری از بیماری‌های مزمن مفید باشند.
                            <br>
                            
                            6. افزایش انرژی: تخمه‌های آفتاب‌گردان به دلیل حاوی کربوهیدرات‌های ساده و پروتئین، می‌توانند به افزایش انرژی کمک کنند و در ورزش‌ها یا فعالیت‌های جسمانی مفید باشند.
                            <br>
                            
                            توجه داشته باشید که مصرف تخمه‌های آفتاب‌گردان باید با اندازه‌گیری مناسب انجام شود، زیرا این تخمه‌ها دارای مقدار قابل توجهی کالری و چربی هستند.
                        </p>
                    </div>
                </div>
            </section>

        </div>
        <!-- End Product-1 -->
        <!-- Product-2 -->
        <div id="product-2">
            <!-- خام -->
            <section class="main-border p-3">
                <!-- paging layer -->
                <section class="d-flex">
                    <a href="/" class="text-decoration-none text-black opacity-50 px-2">
                        <p> فروشکاه اینترنتی خشکبار رضا /</p>
                    </a>
                    <a href="#header" class="text-decoration-none text-black opacity-50 px-2">
                        <p> آجیل /</p>
                    </a>
                    <a href="/products/seeds#product-btn-2" class="text-decoration-none text-black opacity-50 px-2">
                        <p> تخمه جابنی </p>
                    </a>
                </section>

                <div class="row product-profile">
                    <div class="col-12 col-md-6 col-lg-5 image-section position-relative">
                        <span> <i class="fa fa-magnifying-glass magnifying-glass-icon"></i></span>
                        <div class="img-magnifier-container mx-1 mx-lg-5">
                            <img id="3" src="/images/jabooni-darage1.png" width="400" height="300"
                                alt="Girl">
                        </div>
                        <p class="text-center"><i class="fa fa-star text-warning"></i> بسته بندی با وزن دلخواه شما و
                            ارسال به سراسر ایران <i class="fa fa-star text-warning"></i></p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-7">
                        <h1 class="product_name">
                            تخمه جابنی درجه یک
                        </h1>
                        <!-- شامل -->
                        <p class="d-none"> </i><span class="text-success"><i class="fa fa-box-open p-1"></i>شامل</span> پسته احمد آقایی
                            بادام درختي ايراني بادام هندي تخمه كدوگوشتي تخمه جابوني</p>

                        <ul>
                            <li> خشکبار رضا از تولید به مصرف</li>
                            <li><span class="text-danger">ارسال با پست پیشتاز </span> در سریع ترین زمان ممکن </li>
                            <li><span class="text-danger">ارسال رایگان </span> بالای 1 میلیون تومان </li>
                        </ul>
                        <p class="fs-6">
                            <span class="text-danger"> نکته : </span>
                            برای اطلاع از قیمت و سفارش محصول از طریق شبکه های اجتمایی با ما تماس حاصل فرمایید.
                        </p>
                    </div>
                </div>
            </section>
            <!-- شور -->
            <section class="main-border p-3">
                <!-- paging layer -->
                <section class="d-flex">
                    <a href="/" class="text-decoration-none text-black opacity-50 px-2">
                        <p> فروشکاه اینترنتی خشکبار رضا /</p>
                    </a>
                    <a href="#header" class="text-decoration-none text-black opacity-50 px-2">
                        <p> آجیل /</p>
                    </a>
                    <a href="/products/seeds#product-btn-2" class="text-decoration-none text-black opacity-50 px-2">
                        <p> تخمه جابنی </p>
                    </a>
                </section>

                <div class="row product-profile">
                    <div class="col-12 col-md-6 col-lg-5 image-section position-relative">
                        <span> <i class="fa fa-magnifying-glass magnifying-glass-icon"></i></span>
                        <div class="img-magnifier-container mx-1 mx-lg-5">
                            <img id="4" src="/images/jabooni.png" width="400" height="300"
                                alt="Girl">
                        </div>
                        <p class="text-center"><i class="fa fa-star text-warning"></i> بسته بندی با وزن دلخواه شما و
                            ارسال به سراسر ایران <i class="fa fa-star text-warning"></i></p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-7">
                        <h1 class="product_name">
                           تخمه جابنی معمولی
                        </h1>
                        <!-- شامل -->
                        <p class="d-none"> </i><span class="text-success"><i class="fa fa-box-open p-1"></i>شامل</span> پسته احمد آقایی
                            بادام درختي ايراني بادام هندي تخمه كدوگوشتي تخمه جابوني</p>

                        <ul>
                            <li> خشکبار رضا از تولید به مصرف</li>
                            <li><span class="text-danger">ارسال با پست پیشتاز </span> در سریع ترین زمان ممکن </li>
                            <li><span class="text-danger">ارسال رایگان </span> بالای 1 میلیون تومان </li>
                        </ul>
                        <p class="fs-6">
                            <span class="text-danger"> نکته : </span>
                            برای اطلاع از قیمت و سفارش محصول از طریق شبکه های اجتمایی با ما تماس حاصل فرمایید.
                        </p>
                    </div>
                </div>
            </section>

        </div>
        <!-- End Product-2 -->
        <!-- Product-3 -->
        <div id="product-3">
            <!-- خام -->
            <section class="main-border p-3">
                <!-- paging layer -->
                <section class="d-flex">
                    <a href="/" class="text-decoration-none text-black opacity-50 px-2">
                        <p> فروشکاه اینترنتی خشکبار رضا /</p>
                    </a>
                    <a href="#header" class="text-decoration-none text-black opacity-50 px-2">
                        <p> آجیل /</p>
                    </a>
                    <a href="/products/seeds#product-btn-3" class="text-decoration-none text-black opacity-50 px-2">
                        <p> تخمه هندوانه  </p>
                    </a>
                </section>

                <div class="row product-profile">
                    <div class="col-12 col-md-6 col-lg-5 image-section position-relative">
                        <span> <i class="fa fa-magnifying-glass magnifying-glass-icon"></i></span>
                        <div class="img-magnifier-container mx-1 mx-lg-5">
                            <img id="5" src="/images/tokhme-mahboobi.png" width="400" height="300"
                                >
                        </div>
                        <p class="text-center"><i class="fa fa-star text-warning"></i> بسته بندی با وزن دلخواه شما و
                            ارسال به سراسر ایران <i class="fa fa-star text-warning"></i></p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-7">
                        <h1 class="product_name">
                            تخمه هندوانه
                        </h1>
                        <!-- شامل -->
                        <p class="d-none"> </i><span class="text-success"><i class="fa fa-box-open p-1"></i>شامل</span> پسته احمد آقایی
                            بادام درختي ايراني بادام هندي تخمه كدوگوشتي تخمه جابوني</p>

                        <ul>
                            <li> خشکبار رضا از تولید به مصرف</li>
                            <li><span class="text-danger">ارسال با پست پیشتاز </span> در سریع ترین زمان ممکن </li>
                            <li><span class="text-danger">ارسال رایگان </span> بالای 1 میلیون تومان </li>
                        </ul>
                        <p class="fs-6">
                            <span class="text-danger"> نکته : </span>
                            برای اطلاع از قیمت و سفارش محصول از طریق شبکه های اجتمایی با ما تماس حاصل فرمایید.
                        </p>
                    </div>
                </div>
            </section>
            
            <section class="main-border p-3">

                <div>
                    <div class="row">
                        <button class="btn product-btn product-feature-btn border-1">
                            خصوصیات محصول
                        </button>
                    </div>
                </div>
                <div class="product-info-feature-section">
                    <div class="productFeature fs-5 ">
                        <p>
                            مغز تخمه هندوانه یک قسمت مهم از میوه هندوانه است که دارای مزایای مختلفی برای سلامتی انسانها است. خواص اصلی مغز تخمه هندوانه عبارتند از:
                            <br>
2. آنتی‌اکسیدان‌ها: مغز تخمه هندوانه حاوی آنتی‌اکسیدان‌های مختلفی مانند بتاکاروتن، لیکوپن و سایر ترکیبات آنتی‌اکسیدانی است که می‌توانند در مقابله با آسیب‌های اکسیداتیو در بدن مفید باشند.
<br>

3. ویتامین‌ها: مغز تخمه هندوانه حاوی ویتامین‌های مهمی مانند ویتامین C و ویتامین B5 (پانتوتنیک اسید) است. ویتامین C به تقویت سیستم ایمنی و بهبود سلامت پوست کمک می‌کند.
<br>

4. مواد معدنی: این مغز می‌تواند منبع خوبی از مواد معدنی مانند پتاسیم و مگنزیم باشد که برای حفظ تعادل الکترولیتی و عملکرد بهتر عضلات و اعصاب ضروری هستند.
<br>

5. فیبر: مغز تخمه هندوانه حاوی مقدار معقولی فیبر می‌باشد که می‌تواند در افزایش احساس سیری و حفظ سلامت گوارش کمک کند.
<br>

مصرف مغز تخمه هندوانه به عنوان یکی از مکمل‌های تغذیه‌ای سالم و خوشمزه می‌تواند به سلامتی شما کمک کند، 
                        </p>
                    </div>
                </div>
            </section>

        </div>
        <!-- End Product-3 -->
        <!-- Product-4 -->
        <div id="product-4">
            <!-- خام -->
            <section class="main-border p-3">
                <!-- paging layer -->
                <section class="d-flex">
                    <a href="/" class="text-decoration-none text-black opacity-50 px-2">
                        <p> فروشکاه اینترنتی خشکبار رضا /</p>
                    </a>
                    <a href="#header" class="text-decoration-none text-black opacity-50 px-2">
                        <p> آجیل /</p>
                    </a>
                    <a href="/products/seeds#product-btn-4" class="text-decoration-none text-black opacity-50 px-2">
                        <p> تخمه کدو گوشتی </p>
                    </a>
                </section>

                <div class="row product-profile">
                    <div class="col-12 col-md-6 col-lg-5 image-section position-relative">
                        <span> <i class="fa fa-magnifying-glass magnifying-glass-icon"></i></span>
                        <div class="img-magnifier-container mx-1 mx-lg-5">
                            <img id="6" src="/images/tokhme-kado-goshti.png" width="400" height="300"
                                alt="Girl">
                        </div>
                        <p class="text-center"><i class="fa fa-star text-warning"></i> بسته بندی با وزن دلخواه شما و
                            ارسال به سراسر ایران <i class="fa fa-star text-warning"></i></p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-7">
                        <h1 class="product_name">
                             تخمه کدو گوشتی
                        </h1>
                        <!-- شامل -->
                        <p class="d-none"> </i><span class="text-success"><i class="fa fa-box-open p-1"></i>شامل</span> پسته احمد آقایی
                            بادام درختي ايراني بادام هندي تخمه كدوگوشتي تخمه جابوني</p>

                        <ul>
                            <li> خشکبار رضا از تولید به مصرف</li>
                            <li><span class="text-danger">ارسال با پست پیشتاز </span> در سریع ترین زمان ممکن </li>
                            <li><span class="text-danger">ارسال رایگان </span> بالای 1 میلیون تومان </li>
                        </ul>
                        <p class="fs-6">
                            <span class="text-danger"> نکته : </span>
                            برای اطلاع از قیمت و سفارش محصول از طریق شبکه های اجتمایی با ما تماس حاصل فرمایید.
                        </p>
                    </div>
                </div>
            </section>
            <!-- شور -->
            <section class="main-border p-3">
                <!-- paging layer -->
                <section class="d-flex">
                    <a href="/" class="text-decoration-none text-black opacity-50 px-2">
                        <p> فروشکاه اینترنتی خشکبار رضا /</p>
                    </a>
                    <a href="#header" class="text-decoration-none text-black opacity-50 px-2">
                        <p> آجیل /</p>
                    </a>
                    <a href="/products/seeds#product-btn-4" class="text-decoration-none text-black opacity-50 px-2">
                        <p> تخمه کدو مشهدی </p>
                    </a>
                </section>

                <div class="row product-profile">
                    <div class="col-12 col-md-6 col-lg-5 image-section position-relative">
                        <span> <i class="fa fa-magnifying-glass magnifying-glass-icon"></i></span>
                        <div class="img-magnifier-container mx-1 mx-lg-5">
                            <img id="7" src="/images/mashhadi.png" width="400" height="300"
                                alt="Girl">
                        </div>
                        <p class="text-center"><i class="fa fa-star text-warning"></i> بسته بندی با وزن دلخواه شما و
                            ارسال به سراسر ایران <i class="fa fa-star text-warning"></i></p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-7">
                        <h1 class="product_name">
                             تخمه کدو مشهدی
                        </h1>
                        <!-- شامل -->
                        <p class="d-none"> </i><span class="text-success"><i class="fa fa-box-open p-1"></i>شامل</span> پسته احمد آقایی
                            بادام درختي ايراني بادام هندي تخمه كدوگوشتي تخمه جابوني</p>

                        <ul>
                            <li> خشکبار رضا از تولید به مصرف</li>
                            <li><span class="text-danger">ارسال با پست پیشتاز </span> در سریع ترین زمان ممکن </li>
                            <li><span class="text-danger">ارسال رایگان </span> بالای 1 میلیون تومان </li>
                        </ul>
                        <p class="fs-6">
                            <span class="text-danger"> نکته : </span>
                            برای اطلاع از قیمت و سفارش محصول از طریق شبکه های اجتمایی با ما تماس حاصل فرمایید.
                        </p>
                    </div>
                </div>
            </section>
            <section class="main-border p-3">

                <div>
                    <div class="row">
                        <button class="btn product-btn product-feature-btn border-1">
                            خصوصیات محصول
                        </button>
                    </div>
                </div>
                <div class="product-info-feature-section">
                    <div class="productFeature fs-5 ">
                        <p>
                            مغز تخمه کدو یک منبع غنی از ترکیبات مفید برای سلامتی است. خواص اصلی مغز تخمه کدو عبارتند از:
                            <br>
                            1. غنی از مواد مغذی: مغز تخمه کدو حاوی ویتامین‌های مختلفی از جمله ویتامین A، ویتامین C، ویتامین E و ویتامین K است. همچنین حاوی مواد معدنی از جمله آهن، منیزیم، پتاسیم، فسفر و روی می‌باشد.
                            <br>
                            
                            2. آنتی‌اکسیدان‌ها: مغز تخمه کدو دارای آنتی‌اکسیدان‌های قوی مانند کاروتنوئید‌ها (به خصوص بتا-کاروتن) است که به سلامت چشم‌ها و پوست کمک می‌کنند و از آسیب‌های اکسیداتیو جلوگیری می‌کنند.
                            <br>
                            
                            3. اسیدهای چرب مفید: مغز تخمه کدو حاوی اسیدهای چرب مفید مانند اسید لینولئیک و اسید لینولنیک است که برای سلامت قلب و عروق مفید هستند.
                            <br>
                            
                            4. فیبر: مغز تخمه کدو دارای مقدار قابل توجهی فیبر می‌باشد که به بهبود عملکرد دستگاه گوارش و کنترل میزان قند خون کمک می‌کند.
                            <br>
                            
                            5. پروتئین: این مغز حاوی پروتئین‌های معنا داری است که برای رشد و تعمیر بافت‌های بدن ضروری هستند.
                            <br>
                            
                            6. کلسیم: مغز تخمه کدو حاوی کلسیم است که برای استحکام استخوان‌ها و دندان‌ها ضروری است.
                            <br>
                            
                            7. کم‌چربی: مغز تخمه کدو کم کلری بوده و حاوی مقدار کمی چربی اشباع شده است.
                            <br>
                            
                            از طریق اضافه کردن مغز تخمه کدو به تغذیه روزانه خود، می‌توانید از این مزایا برای سلامتی خود بهره‌برید. با این حال، توجه داشته باشید که مغز تخمه کدو همچنان دارای مقدار قابل توجهی کالری است، بنابراین مصرف آن در میزان مناسب و با توجه به نیازهای کالری روزانه شما مهم است.
                        </p>
                    </div>
                </div>
            </section>

        </div>
        <!-- End Product-4 -->
        <!-- Product-5 -->
        <div id="product-5">
            <section class="main-border p-3">
                <!-- paging layer -->
                <section class="d-flex">
                    <a href="/" class="text-decoration-none text-black opacity-50 px-2">
                        <p> فروشکاه اینترنتی خشکبار رضا /</p>
                    </a>
                    <a href="#header" class="text-decoration-none text-black opacity-50 px-2">
                        <p> آجیل /</p>
                    </a>
                    <a href="/products/seeds#product-btn-5" class="text-decoration-none text-black opacity-50 px-2">
                        <p> مغز تخمه  </p>
                    </a>
                </section>

                <div class="row product-profile">
                    <div class="col-12 col-md-6 col-lg-5 image-section position-relative">
                        <span> <i class="fa fa-magnifying-glass magnifying-glass-icon"></i></span>
                        <div class="img-magnifier-container mx-1 mx-lg-5">
                            <img id="8" src="/images/sunflower-seed.png" width="300" height="300"
                                alt="Girl">
                        </div>
                        <p class="text-center"><i class="fa fa-star text-warning"></i> بسته بندی با وزن دلخواه شما و
                            ارسال به سراسر ایران <i class="fa fa-star text-warning"></i></p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-7">
                        <h1 class="product_name">
                            مغز تخمه آفتاب گردان
                        </h1>
                        <!-- شامل -->
                        <p class="d-none"> </i><span class="text-success"><i class="fa fa-box-open p-1"></i>شامل</span> پسته احمد آقایی
                            بادام درختي ايراني بادام هندي تخمه كدوگوشتي تخمه جابوني</p>

                        <ul>
                            <li> خشکبار رضا از تولید به مصرف</li>
                            <li><span class="text-danger">ارسال با پست پیشتاز </span> در سریع ترین زمان ممکن </li>
                            <li><span class="text-danger">ارسال رایگان </span> بالای 1 میلیون تومان </li>
                        </ul>
                        <p class="fs-6">
                            <span class="text-danger"> نکته : </span>
                            برای اطلاع از قیمت و سفارش محصول از طریق شبکه های اجتمایی با ما تماس حاصل فرمایید.
                        </p>
                    </div>
                </div>
            </section>
            <section class="main-border p-3">

                <div>
                    <div class="row">
                        <button class="btn product-btn product-feature-btn border-1">
                            خصوصیات محصول
                        </button>
                    </div>
                </div>
                <div class="product-info-feature-section">
                    <div class="productFeature fs-5 ">
                        <p>
                            تخمه‌های آفتاب‌گردان (Sunflower Seeds) منابع غنی از مواد مغذی مختلف هستند و دارای خواص بسیاری برای سلامتی انسان هستند. در زیر به برخی از خواص اصلی تخمه‌های آفتاب‌گردان اشاره شده است:
                            <br>
                            1. منبع غنی پروتئین: تخمه‌های آفتاب‌گردان حاوی مقدار زیادی پروتئین هستند که برای رشد و نگهداری بافت‌های بدن اساسی هستند.
                            <br>
                            
                            2. منابع چربی‌های سالم: تخمه‌های آفتاب‌گردان دارای چربی‌های نیمه‌گرم درمیانی هستند که مفید برای سلامتی قلبی و عروقی هستند. این چربی‌ها از نوع ناساتوراته هستند و به عنوان اسیدهای چرب اصولی برای بدن محسوب می‌شوند.
                            <br>
                            
                            3. منبع اسیدفولیک: تخمه‌های آفتاب‌گردان حاوی اسیدفولیک (ویتامین B9) هستند که برای سلامتی سیستم عصبی و تولید سلول‌های خونی مهم است.
                            <br>
                            
                            4. منبع معدنی: تخمه‌های آفتاب‌گردان دارای مقادیر قابل توجهی از مواد معدنی مانند منیزیم، سلنیم، روی و مس هستند که برای حفظ سلامت استخوان‌ها و عملکرد بهتر سیستم ایمنی مفید هستند.
                            <br>
                            
                            5. آنتی‌اکسیدان‌ها: تخمه‌های آفتاب‌گردان حاوی آنتی‌اکسیدان‌های مختلفی مانند ویتامین E، سلنیوم و فلاونوئیدها هستند که می‌توانند در مقابله با آسیب‌های اکسیداتیو و پیشگیری از بیماری‌های مزمن مفید باشند.
                            <br>
                            
                            6. افزایش انرژی: تخمه‌های آفتاب‌گردان به دلیل حاوی کربوهیدرات‌های ساده و پروتئین، می‌توانند به افزایش انرژی کمک کنند و در ورزش‌ها یا فعالیت‌های جسمانی مفید باشند.
                            <br>
                            
                            توجه داشته باشید که مصرف تخمه‌های آفتاب‌گردان باید با اندازه‌گیری مناسب انجام شود، زیرا این تخمه‌ها دارای مقدار قابل توجهی کالری و چربی هستند.
                        </p>
                    </div>
                </div>
            </section>

        </div>
        <!-- End Product-5 -->


        <div id="mainSectionLogo">
            <img class="sectionLogo" src="/images/reza-nut-logo.png" alt="">
        </div>



    </main>
    <!-- End Main -->

    <%- include("./includes/footer.ejs") %>
    
</body>

</html>